Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

.pre-commit-config.yaml:

default_stages: ["commit"]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: no-commit-to-branch
        args: ["--pattern", '^(?!(Part|Amp|Infra)Task\d+_\S+).*$']
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ["--maxkb=500"]
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.13.1
    hooks:
      - id: gitlint
        stages: [commit-msg]
        entry: gitlint
        # B6 Body message is missing.
        args: [--contrib=CT1, --ignore=B6, --msg-filename]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-crlf
      - id: remove-tabs
        args: ["--whitespaces-count", "4"]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.3.2
    hooks:
      - id: isort
        entry: isort
  - repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.3
    hooks:
      - id: autoflake
        args: [-i, --remove-all-unused-imports, --remove-unused-variables]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: p1_black.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: flake8
        name: flake8
        entry: p1_flake8.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: doc_formatter
        name: doc_formatter
        entry: p1_doc_formatter.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "docformatter"]
      - id: pylint
        name: pylint
        entry: p1_pylint.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: mypy
        name: mypy
        entry: p1_mypy.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: processjupytext
        name: processjupytext
        entry: p1_processjupytext.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: lint_md
        name: lint_md
        entry: p1_lint_md.py
        language: python
        types: [markdown]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: fix_comments
        name: fix_comments
        entry: p1_fix_comments.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "more_itertools"]
      - id: method_order
        name: method_order
        entry: p1_class_method_order.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_fillename
        name: check_filename
        entry: p1_check_filename.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_import
        name: check_import
        entry: p1_check_import.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: format_separating_line
        name: format_separating_line
        entry: p1_format_separating_line.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: warn_incorrectly_formatted_todo
        name: warn_incorrectly_formatted_todo
        entry: p1_warn_incorrectly_formatted_todo.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_shebang
        name: check_shebang
        entry: p1_check_shebang.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]

AmpTask1143: rename to im
  vendors_amp/app/transform/convert_s3_to_sql.py
  vendors_amp/common/db/init.py
  vendors_amp/common/db/test/__init__.py
  vendors_amp/common/db/test/test_init.py
  vendors_amp/devops/compose/docker-compose.local.yml
  vendors_amp/devops/compose/docker-compose.test.yml
  vendors_amp/devops/docker_build/init_sql/1-static.sql
  vendors_amp/devops/docker_build/init_sql/2-db.sql
  vendors_amp/devops/env/local.env
  vendors_amp/devops/env/test.env
  vendors_amp/devops/makefiles/project_specific.mk
  vendors_amp/kibot/README.md
  vendors_amp/kibot/data/load/test/test_sql_data_loader.py
  vendors_amp/kibot/data/transform/convert_s3_to_sql_kibot.py
  vendors_amp/kibot/test/test_sql_writer_backend.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1143: keep table well-aligned
  helpers/sql.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1143: update makefile to new namings, lint
  vendors_amp/app/transform/convert_s3_to_sql.py
  vendors_amp/common/db/init.py
  vendors_amp/common/db/test/test_init.py
  vendors_amp/devops/makefiles/project_specific.mk
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint
  helpers/sql.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Small fixes
  helpers/io_.py
  helpers/printing.py
  vendors_amp/Makefile
  vendors_amp/devops/compose/docker-compose.yml
  vendors_amp/devops/docker_build/entrypoints/entrypoint_deploy_postgres.sh
  vendors_amp/devops/makefiles/project_specific.mk
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint
  devops/makefiles/repo_specific.mk
Due: none

Checkpoint
  .pre-commit-config.yaml
  dev_scripts/infra/old/ssh_tunnels.py
  dev_scripts/url.py
  dev_scripts/vil
  devops/makefiles/general.mk
  documentation/scripts/publish_notes.py
  helpers/env.py
  helpers/old/__init__.py
  helpers/old/conda.py
  helpers/old/env2.py
  helpers/old/tunnels.py
  helpers/old/user_credentials.py
  helpers/test/test_helpers.py
  helpers/test/test_playback.py
  helpers/unit_test.py
  pre-commit.sh
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

More linting
  dev_scripts/infra/old/ssh_tunnels.py
  dev_scripts/url.py
  helpers/old/tunnels.py
  helpers/test/test_cache.py
  helpers/test/test_dataframe.py
  helpers/test/test_dbg.py
  helpers/test/test_dict.py
  helpers/test/test_open.py
  helpers/test/test_system_interaction.py
  helpers/test/test_timer.py
  helpers/test/test_unit_test.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint
  Makefile
  devops/makefiles/general.mk
  helpers/unit_test.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint
  pre-commit.sh
Due: none

PartTask7463: Added tests for IB SQL writer
  vendors_amp/common/sql_writer_backend.py
  vendors_amp/common/test/utils.py
  vendors_amp/devops/requirements.txt
  vendors_amp/ib/sql_writer_backend.py
  vendors_amp/ib/test/TestIbSqlWriterBackend1.test_ensure_exchange_exist1/output/test.txt
  vendors_amp/ib/test/TestIbSqlWriterBackend1.test_ensure_symbol_exist1/output/test.txt
  vendors_amp/ib/test/TestIbSqlWriterBackend1.test_ensure_trade_symbol_exist1/output/test.txt
  vendors_amp/ib/test/TestIbSqlWriterBackend1.test_get_remains_data_to_load/output/test.txt
  vendors_amp/ib/test/TestIbSqlWriterBackend1.test_insert_bulk_daily_data1/output/test.txt
  vendors_amp/ib/test/TestIbSqlWriterBackend1.test_insert_bulk_daily_data_with_holes/output/test.txt
  vendors_amp/ib/test/TestIbSqlWriterBackend1.test_insert_bulk_minute_data1/output/test.txt
  vendors_amp/ib/test/TestIbSqlWriterBackend1.test_insert_bulk_minute_data_with_holes/output/test.txt
  vendors_amp/ib/test/TestIbSqlWriterBackend1.test_insert_daily_data1/output/test.txt
  vendors_amp/ib/test/TestIbSqlWriterBackend1.test_insert_minute_data1/output/test.txt
  vendors_amp/ib/test/TestIbSqlWriterBackend1.test_insert_tick_data1/output/test.txt
  vendors_amp/ib/test/test_sql_writer_backend.py
  vendors_amp/kibot/sql_writer_backend.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

FIx
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/spiders/ibroker.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint: self_tests passing
  core/notebooks/gsheet_into_pandas_example.ipynb
  dev_scripts/diff_to_vimdiff.py
  dev_scripts/infra/gdrive.py
  dev_scripts/jenkins/amp.build_clean_env.amp_develop.sh
  dev_scripts/jenkins/amp.build_clean_env.run_fast_coverage_tests.sh
  dev_scripts/jenkins/amp.build_clean_env.run_fast_tests.sh
  dev_scripts/jenkins/amp.build_clean_env.run_slow_coverage_tests.sh
  dev_scripts/jenkins/amp.jenkins_helpers.sh
  dev_scripts/jenkins/amp.run_fast_tests.sh
  dev_scripts/jenkins/amp.run_linter_on_branch.sh
  dev_scripts/jenkins/amp.run_parallel_fast_tests.sh
  dev_scripts/jenkins/amp.run_pytest_collect.run_linter.sh
  dev_scripts/jenkins/amp.run_slow_tests.sh
  dev_scripts/jenkins/amp.smoke_test.sh
  dev_scripts/jenkins/bisect.sh
  dev_scripts/jenkins/jenkins_helpers.sh
  dev_scripts/jenkins/pipelines/pr_tests.Jenkinsfile
  dev_scripts/jenkins/test_runners/run_build_clean_env.p1_develop.daily_build.sh
  dev_scripts/jenkins/test_runners/run_fast_coverage_tests.sh
  dev_scripts/jenkins/test_runners/run_fast_tests.sh
  dev_scripts/jenkins/test_runners/run_linter_for_repo.sh
  dev_scripts/jenkins/test_runners/run_linter_on_branch.sh
  dev_scripts/jenkins/test_runners/run_pytest_collect.sh
  dev_scripts/jenkins/test_runners/run_slow_coverage_tests.sh
  dev_scripts/jenkins/test_runners/run_slow_tests.sh
  dev_scripts/url.py
  devops/docker_build/personal/example/Dockerfile
  documentation/general/buildmeister_guidelines.md
  documentation/general/email.md
  documentation/general/general.md
  documentation/general/git.md
  documentation/general/github_zenhub.md
  documentation/general/notebooks.md
  documentation/general/script_catalog.md
  documentation/technical/gsheet_into_pandas.md
  documentation/technical/package_dependencies.md
  helpers/README.md
  helpers/git.py
  helpers/notebooks/PartTask2291_Playback_approach_for_unit_testing.ipynb
  setup.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint: self_tests passing
  dev_scripts/old/create_conda/install/test_bootstrap.sh
  dev_scripts/old/create_conda/setenv_amp.sh
  documentation/general/old/conda_environment.md
  documentation/general/script_catalog.md
  documentation/general/setup_dev_environment.md
  documentation/technical/old/development_environment_internals.md
Due: lint_md

Checkpoint: self_tests passing
  documentation/general/architecture_diagrams.md
  documentation/general/code_style.md
  documentation/general/script_catalog.md
  documentation/technical/old/development_environment_internals.md
Due: lint_md

PartTask7978: Add nodes
  core/dataflow_source_nodes.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7978: make lint_branch.
  core/dataflow_source_nodes.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint: self_tests passing
  devops/makefiles/general.mk
  documentation/general/architecture_diagrams.md
  documentation/general/buildmeister_guidelines.md
  documentation/general/old/conda_environment.md
  documentation/general/publish_notebook.md
  documentation/general/setup_dev_environment.md
  documentation/general/unit_tests.md
  documentation/technical/gsheet_into_pandas.md
  documentation/technical/rollout_process.md
  pytest.ini
  vendors_amp/ib/extract/.env/prod.env
Due: lint_md

Improve script
  dev_scripts/replace_text.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint
  dev_scripts/replace_text.py
  helpers/dbg.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Update linter config
  .pre-commit-config.yaml
Due: none

AmpTask1161: Add draft README.md for IM airflow
  vendors_amp/airflow/README.md
Due: lint_md

Move dataflow visitor code to separate file.
  core/dataflow/__init__.py
  core/dataflow/models.py
  core/dataflow/nodes.py
  core/dataflow/runner.py
  core/dataflow/visitors.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

make lint_branch
  core/dataflow/nodes.py
  core/dataflow/visitors.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Fix imports
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

make lint_branch
  core/dataflow/models.py
  core/dataflow/nodes.py
  core/dataflow/visitors.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7827: export model fit state for remaining sklearn nodes
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

make lint_branch
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint
  devops/debug/compare.sh
  devops/makefiles/general.mk
Due: none

Changed package names
  pytest.ini
  vendors_amp/ib/data/extract/gateway/compose/docker-compose.local.yml
  vendors_amp/ib/data/extract/gateway/compose/docker-compose.prod.yml
  vendors_amp/ib/data/extract/gateway/dev.Dockerfile
  vendors_amp/ib/data/extract/gateway/download_benchmark.py
  vendors_amp/ib/data/extract/gateway/download_data_ib_loop.py
  vendors_amp/ib/data/extract/gateway/download_ib_data.py
  vendors_amp/ib/data/extract/gateway/download_realtime_data.py
  vendors_amp/ib/data/extract/gateway/gallery/AmpTask1086_Get_metadata_for_futures_universe.ipynb
  vendors_amp/ib/data/extract/gateway/gallery/AmpTask1086_Get_metadata_for_futures_universe.py
  vendors_amp/ib/data/extract/gateway/gallery/Task114_Download_futures_price_data_from_IB.ipynb
  vendors_amp/ib/data/extract/gateway/gallery/Task114_Download_futures_price_data_from_IB.py
  vendors_amp/ib/data/extract/gateway/gallery/gallery_ib_ibsync.ipynb
  vendors_amp/ib/data/extract/gateway/gallery/gallery_ib_ibsync.py
  vendors_amp/ib/data/extract/gateway/makefiles/docker.mk
  vendors_amp/ib/data/extract/gateway/makefiles/local_stage.mk
  vendors_amp/ib/data/extract/gateway/makefiles/prod_stage.mk
  vendors_amp/ib/data/extract/gateway/metadata.py
  vendors_amp/ib/data/extract/gateway/notebooks/Task109_Extract_futures_prices_from_dockerized.ipynb
  vendors_amp/ib/data/extract/gateway/notebooks/Task109_Extract_futures_prices_from_dockerized.py
  vendors_amp/ib/data/extract/gateway/notebooks/Task111_Compare_data_IB_vs_Kibot_and_understand_timing_semantic.ipynb
  vendors_amp/ib/data/extract/gateway/notebooks/Task111_Compare_data_IB_vs_Kibot_and_understand_timing_semantic.py
  vendors_amp/ib/data/extract/gateway/prod.Dockerfile
  vendors_amp/ib/data/extract/gateway/save_historical_data_with_IB_loop.py
  vendors_amp/ib/data/extract/gateway/test/test_download_data_ib_loop.py
  vendors_amp/ib/data/extract/gateway/test/test_download_data_unrolling_ib_loop.py
  vendors_amp/ib/data/extract/gateway/test/test_ib_metadata.py
  vendors_amp/ib/data/extract/gateway/test/test_ib_utils.py
  vendors_amp/ib/data/extract/gateway/test/test_save_historical_data_with_IB_loop.py
  vendors_amp/ib/data/extract/gateway/test/utils.py
  vendors_amp/ib/data/extract/gateway/unrolling_download_data_ib_loop.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1145: linter
  vendors_amp/ib/data/extract/gateway/download_benchmark.py
  vendors_amp/ib/data/extract/gateway/download_data_ib_loop.py
  vendors_amp/ib/data/extract/gateway/download_ib_data.py
  vendors_amp/ib/data/extract/gateway/download_realtime_data.py
  vendors_amp/ib/data/extract/gateway/metadata.py
  vendors_amp/ib/data/extract/gateway/save_historical_data_with_IB_loop.py
  vendors_amp/ib/data/extract/gateway/test/__init__.py
  vendors_amp/ib/data/extract/gateway/test/test_download_data_ib_loop.py
  vendors_amp/ib/data/extract/gateway/test/test_download_data_unrolling_ib_loop.py
  vendors_amp/ib/data/extract/gateway/test/test_ib_metadata.py
  vendors_amp/ib/data/extract/gateway/test/test_ib_utils.py
  vendors_amp/ib/data/extract/gateway/test/test_save_historical_data_with_IB_loop.py
  vendors_amp/ib/data/extract/gateway/test/utils.py
  vendors_amp/ib/data/extract/gateway/unrolling_download_data_ib_loop.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1166: added abstract extractor
  vendors_amp/common/data/extract/__init__.py
  vendors_amp/common/data/extract/data_extractor.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1166: added new functionality
  vendors_amp/ib/data/extract/data_extractor.py
  vendors_amp/ib/data/extract/download_ib_data.py
  vendors_amp/ib/data/extract/gateway/download_data_ib_loop.py
  vendors_amp/ib/data/extract/gateway/utils.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint
  devops/makefiles/general.mk
Due: none

AmpTask1145: removed docker stuff for IB extract since it is a part of IM
  vendors_amp/Makefile
  vendors_amp/README.md
  vendors_amp/devops/compose/docker-compose.local.yml
  vendors_amp/devops/compose/docker-compose.test.yml
  vendors_amp/devops/docker_build/entrypoints/entrypoint_deploy.sh
  vendors_amp/devops/docker_scripts/sanity_check_ib.py
  vendors_amp/devops/env/local.env
  vendors_amp/devops/env/test.env
  vendors_amp/devops/requirements.txt
  vendors_amp/ib/data/extract/gateway/README.md
  vendors_amp/ib/data/extract/gateway/compose/docker-compose.local.yml
  vendors_amp/ib/data/extract/gateway/compose/docker-compose.prod.yml
  vendors_amp/ib/data/extract/gateway/dev.Dockerfile
  vendors_amp/ib/data/extract/gateway/entrypoint.sh
  vendors_amp/ib/data/extract/gateway/makefiles/docker.mk
  vendors_amp/ib/data/extract/gateway/makefiles/local_stage.mk
  vendors_amp/ib/data/extract/gateway/makefiles/prod_stage.mk
  vendors_amp/ib/data/extract/gateway/makefiles/setup.mk
  vendors_amp/ib/data/extract/gateway/prod.Dockerfile
  vendors_amp/ib/data/extract/gateway/requirements.txt
  vendors_amp/ib/data/extract/gateway/scripts/sanity_check_ib.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang
