Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

.pre-commit-config.yaml:

default_stages: ["commit"]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: no-commit-to-branch
        args: ["--pattern", '^(?!(Part|Amp|Infra)Task\d+_\S+).*$']
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ["--maxkb=500"]
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.13.1
    hooks:
      - id: gitlint
        stages: [commit-msg]
        entry: gitlint
        # B6 Body message is missing.
        args: [--contrib=CT1, --ignore=B6, --msg-filename]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-crlf
      - id: remove-tabs
        args: ["--whitespaces-count", "4"]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.3.2
    hooks:
      - id: isort
        entry: isort
  - repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.3
    hooks:
      - id: autoflake
        args: [-i, --remove-all-unused-imports, --remove-unused-variables]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: p1_black.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: flake8
        name: flake8
        entry: p1_flake8.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: doc_formatter
        name: doc_formatter
        entry: p1_doc_formatter.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "docformatter"]
      - id: pylint
        name: pylint
        entry: p1_pylint.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: mypy
        name: mypy
        entry: p1_mypy.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: processjupytext
        name: processjupytext
        entry: p1_processjupytext.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: lint_md
        name: lint_md
        entry: p1_lint_md.py
        language: python
        types: [markdown]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: fix_comments
        name: fix_comments
        entry: p1_fix_comments.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "more_itertools"]
      - id: method_order
        name: method_order
        entry: p1_class_method_order.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_fillename
        name: check_filename
        entry: p1_check_filename.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_import
        name: check_import
        entry: p1_check_import.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: format_separating_line
        name: format_separating_line
        entry: p1_format_separating_line.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: warn_incorrectly_formatted_todo
        name: warn_incorrectly_formatted_todo
        entry: p1_warn_incorrectly_formatted_todo.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_shebang
        name: check_shebang
        entry: p1_check_shebang.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]

PartTask7711: make local and prod container for extractor
  makefiles/repo_specific/vendors.mk
  vendors_amp/ib/extract/.env/local.env
  vendors_amp/ib/extract/.env/prod.env
  vendors_amp/ib/extract/README.md
  vendors_amp/ib/extract/compose/docker-compose.local.yml
  vendors_amp/ib/extract/compose/docker-compose.prod.yml
  vendors_amp/ib/extract/dev.Dockerfile
  vendors_amp/ib/extract/entrypoint.sh
  vendors_amp/ib/extract/makefiles/docker.mk
  vendors_amp/ib/extract/makefiles/local_stage.mk
  vendors_amp/ib/extract/makefiles/prod_stage.mk
  vendors_amp/ib/extract/makefiles/setup.mk
  vendors_amp/ib/extract/prod.Dockerfile
  vendors_amp/ib/extract/requirements.txt
  vendors_amp/ib/extract/scripts/sanity_check_ib.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7711: removed wrong comment
  vendors_amp/ib/extract/compose/docker-compose.local.yml
Due: none

PartTask7711: update connect image usage
  vendors_amp/ib/connect/README.md
  vendors_amp/ib/extract/.env/local.env
  vendors_amp/ib/extract/.env/prod.env
  vendors_amp/ib/extract/README.md
  vendors_amp/ib/extract/compose/docker-compose.local.yml
  vendors_amp/ib/extract/compose/docker-compose.prod.yml
  vendors_amp/ib/extract/makefiles/local_stage.mk
  vendors_amp/ib/extract/makefiles/prod_stage.mk
Due: lint_md

AmpTask1098: updated outcomes
  vendors_amp/ib/data/load/test/TestS3IbDataLoader1.test_read_data1/output/test.txt
  vendors_amp/ib/data/load/test/TestS3IbDataLoader1.test_read_data2/output/test.txt
  vendors_amp/ib/data/load/test/TestS3IbDataLoader1.test_read_data3/output/test.txt
Due: none

PartTask7755: Fix type annotation lints
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7711: moved code to ib/extract and make tests work
  vendors_amp/ib/extract/__init__.py
  vendors_amp/ib/extract/download_ib_data.py
  vendors_amp/ib/extract/gallery/README.txt
  vendors_amp/ib/extract/gallery/Task114_Download_futures_price_data_from_IB.ipynb
  vendors_amp/ib/extract/gallery/Task114_Download_futures_price_data_from_IB.py
  vendors_amp/ib/extract/gallery/Task119_Get_metadata_for_futures_universe.ipynb
  vendors_amp/ib/extract/gallery/Task119_Get_metadata_for_futures_universe.py
  vendors_amp/ib/extract/gallery/exercise_ib.py
  vendors_amp/ib/extract/gallery/exercise_ibapi.py
  vendors_amp/ib/extract/gallery/exercise_ibapi2.py
  vendors_amp/ib/extract/gallery/gallery_ib_ibsync.ipynb
  vendors_amp/ib/extract/gallery/gallery_ib_ibsync.py
  vendors_amp/ib/extract/gallery/requirements.txt
  vendors_amp/ib/extract/notebooks/Task109_Extract_futures_prices_from_dockerized.ipynb
  vendors_amp/ib/extract/notebooks/Task109_Extract_futures_prices_from_dockerized.py
  vendors_amp/ib/extract/notebooks/Task111_Compare_data_IB_vs_Kibot_and_understand_timing_semantic.ipynb
  vendors_amp/ib/extract/notebooks/Task111_Compare_data_IB_vs_Kibot_and_understand_timing_semantic.py
  vendors_amp/ib/extract/requirements.txt
  vendors_amp/ib/extract/test/Test_get_historical_data.test_download_ib_data1/output/test.txt
  vendors_amp/ib/extract/test/Test_get_historical_data.test_get_historical_data1/output/test.txt
  vendors_amp/ib/extract/test/Test_get_historical_data.test_get_historical_data2/output/test.txt
  vendors_amp/ib/extract/test/Test_get_historical_data.test_get_historical_data3/output/test.txt
  vendors_amp/ib/extract/test/Test_get_historical_data.test_get_historical_data4/output/test.txt
  vendors_amp/ib/extract/test/Test_get_historical_data.test_get_historical_data_with_IB_loop1/output/test.txt
  vendors_amp/ib/extract/test/Test_get_historical_data.test_get_historical_data_with_IB_loop2/output/test.txt
  vendors_amp/ib/extract/test/Test_get_historical_data.test_get_historical_data_with_IB_loop3/output/test.txt
  vendors_amp/ib/extract/test/Test_get_historical_data.test_get_historical_data_with_IB_loop4/output/test.txt
  vendors_amp/ib/extract/test/Test_get_historical_data.test_get_historical_data_with_IB_loop5/output/test.txt
  vendors_amp/ib/extract/test/Test_get_historical_data.test_get_historical_data_with_IB_loop6/output/test.txt
  vendors_amp/ib/extract/test/Test_get_historical_data.test_get_historical_data_with_IB_loop7/output/test.txt
  vendors_amp/ib/extract/test/Test_get_historical_data.test_req_historical_data1/output/test.txt
  vendors_amp/ib/extract/test/Test_get_historical_data.test_req_historical_data2/output/test.txt
  vendors_amp/ib/extract/test/Test_get_historical_data.test_req_historical_data3/output/test.txt
  vendors_amp/ib/extract/test/Test_get_historical_data.test_req_historical_data4/output/test.txt
  vendors_amp/ib/extract/test/Test_get_historical_data.test_req_historical_data5/output/test.txt
  vendors_amp/ib/extract/test/Test_get_historical_data.test_req_historical_data6/output/test.txt
  vendors_amp/ib/extract/test/Test_get_historical_data.test_save_historical_data_with_IB_loop1/output/test.txt
  vendors_amp/ib/extract/test/test_ib_utils.py
  vendors_amp/ib/extract/utils.py
  vendors_amp/ib_insync/__init__.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7711: added explanation of commenting out
  vendors_amp/ib/extract/utils.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7711: add possibility to run ib extract tests in parallel, turned off tests from global scope
  pytest.ini
  vendors_amp/ib/extract/requirements.txt
  vendors_amp/ib/extract/test/test_ib_utils.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7711: added comment
  pytest.ini
Due: none

PartTask7761: Checkpoint. Add new SeriesTransformer node and test on a srs -> srs function.
  core/dataflow/nodes.py
  core/dataframe_modeler.py
  core/signal_processing.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7761: make lint_branch
  core/dataflow/nodes.py
  core/dataframe_modeler.py
  core/signal_processing.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1086: lint
  vendors_amp/ib/extract/metadata.py
  vendors_amp/ib/extract/test/test_ib_metadata.py
  vendors_amp/ib/extract/test/test_ib_utils.py
  vendors_amp/ib/extract/utils.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

return some comments back
  vendors_amp/ib/extract/utils.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1086: fixed bad merging
  vendors_amp/ib/extract/test/test_ib_utils.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Reorg files
  vendors_amp/ib/metadata/extract/README.md
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/code/__init__.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/code/items.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/code/middlewares.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/code/pipelines.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/code/scrapy.cfg
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/code/settings.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/code/spiders/__init__.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/code/spiders/ibroker.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/devops/Dockerfile
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/devops/Makefile
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/devops/requirements.txt
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint
  dev_scripts/mk_targets
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/Makefile
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/README.md
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/devops/Dockerfile
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/devops/Makefile
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/src/__init__.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/src/items.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/src/middlewares.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/src/pipelines.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/src/scrapy.cfg
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/src/settings.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/src/spiders/__init__.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/src/spiders/ibroker.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint
  dev_scripts/mk_targets
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/Makefile
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/devops/Dockerfile
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/src/ib_crawler/__init__.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/src/ib_crawler/items.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/src/ib_crawler/middlewares.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/src/ib_crawler/pipelines.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/src/ib_crawler/settings.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/src/ib_crawler/spiders/__init__.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/src/ib_crawler/spiders/ibroker.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/README.md
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/notebooks/Master_analyze_ib_metadata_crawler.ipynb
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/notebooks/Master_analyze_ib_metadata_crawler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Fix break
  conftest.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/Makefile
Due: none

Checkpoint
  Makefile
  devops/makefiles/general.mk
  devops/makefiles/repo_specific.mk
Due: none

Checkpoint
  devops/makefiles/general.mk
  devops/makefiles/repo_specific.mk
Due: none

Checkpoint
  devops/makefiles/general.mk
  devops/makefiles/repo_specific.mk
  makefiles/general/docker.mk
  makefiles/general/git.mk
  makefiles/general/linter.mk
  makefiles/general/pre-commit.mk
  makefiles/repo_specific/gh_actions.mk
  makefiles/repo_specific/setup.mk
  makefiles/repo_specific/tests.mk
  makefiles/repo_specific/vendors.mk
Due: none

PartTask7814: provide a mechanism for initializing a stateful node.
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint
  Makefile
  dev_scripts/install/requirements/amp_develop.yaml
  devops/compose/docker-compose.gh_actions.yml
  devops/compose/docker-compose.yml
  devops/docker-compose-jupyter.yml
  devops/docker-compose-user-space.yml
  devops/docker-compose.yml
  devops/makefiles/general.mk
  devops/makefiles/repo_specific.mk
Due: none

Checkpoint
  devops/docker_build/Dockerfile
  devops/docker_build/entrypoint.sh
  devops/docker_build/entrypoint/aws_credentials.sh
  devops/docker_build/entrypoint/gh_action_aws_credentials.sh
  devops/docker_build/entrypoint/gh_action_google_secret_credentials.sh
  devops/docker_build/entrypoint/patch_environment_variables.sh
  devops/docker_build/fstab
  devops/docker_build/gh_action_entrypoint.sh
  devops/docker_build/init.sh
  devops/docker_build/init/download_nltk_dicts.sh
  devops/docker_build/init/download_spacy_dicts.sh
  devops/docker_build/init/download_textblob_dicts.sh
  devops/docker_build/init/install_jupyter_extensions.sh
  devops/docker_build/init/jupyter_server_setup.sh
  devops/docker_build/install_requirements.sh
  devops/docker_build/personal/example/Dockerfile
  devops/docker_build/personal/example/docker-compose-jupyter.yml
  devops/docker_build/personal/example/docker-compose-user-space.yml
  devops/docker_build/personal/example/docker-compose.yml
  devops/docker_build/run_fast_tests.sh
  devops/docker_build/run_jupyter_server.sh
  devops/docker_build/run_slow_tests.sh
  devops/docker_build/run_superslow_tests.sh
  devops/docker_build/test/test_mount_fsx.sh
  devops/docker_build/test/test_mount_s3.sh
  devops/docker_build/test/test_volumes.sh
  devops/makefiles/general.mk
Due: none

Checkpoint
  devops/compose/docker-compose.yml
  devops/docker-compose-jupyter.yml
  devops/docker_build/dev.Dockerfile
  devops/makefiles/general.mk
  devops/makefiles/repo_specific.mk
Due: none

Checkpoint
  devops/docker_build/entrypoint.sh
  devops/makefiles/repo_specific.mk
Due: none

PartTask7814: VolatilityModel DAG refactor checkpoint.
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint
  devops/compose/docker-compose-jupyter.yml
  devops/compose/docker-compose-user-space.yml
  devops/docker-compose-jupyter.yml
  devops/docker-compose.yml
  devops/docker_scripts/run_fast_tests.sh
  devops/docker_scripts/run_jupyter_server.sh
  devops/docker_scripts/run_slow_tests.sh
  devops/docker_scripts/run_superslow_tests.sh
  devops/makefiles/general.mk
  devops/makefiles/repo_specific.mk
Due: none

Checkpoint
  devops/compose/docker-compose-jupyter.yml
  devops/docker_build/conda.yml
  devops/docker_build/dev.Dockerfile
  devops/docker_build/entrypoint.sh
  devops/docker_build/gh_action_entrypoint.sh
  devops/docker_build/init.sh
  devops/docker_build/init/download_nltk_dicts.sh
  devops/docker_build/init/download_spacy_dicts.sh
  devops/docker_build/init/download_textblob_dicts.sh
  devops/docker_build/init/install_jupyter_extensions.sh
  devops/docker_build/init/jupyter_server_setup.sh
  devops/docker_build/install_requirements.sh
  devops/makefiles/general.mk
Due: none

PartTask7814: Improve min_period handling in SMA model
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7814: Checkpoint. Add info to tests and update outcomes based on min_periods change.
  core/dataflow/models.py
  core/dataflow/test/TestSmaModel.test_fit_dag1/output/test.txt
  core/dataflow/test/TestSmaModel.test_fit_dag2/output/test.txt
  core/dataflow/test/TestSmaModel.test_fit_dag3/output/test.txt
  core/dataflow/test/TestSmaModel.test_predict_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_col_mode1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_col_mode2/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_dag_correctness1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_int_columns/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_multiple_columns/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_predict_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_predict_dag_correctness1/output/test.txt
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

make lint_branch
  core/dataflow/models.py
  core/dataflow/test/TestSmaModel.test_fit_dag1/output/test.txt
  core/dataflow/test/TestSmaModel.test_fit_dag2/output/test.txt
  core/dataflow/test/TestSmaModel.test_fit_dag3/output/test.txt
  core/dataflow/test/TestSmaModel.test_predict_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_col_mode1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_col_mode2/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_dag_correctness1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_int_columns/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_multiple_columns/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_predict_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_predict_dag_correctness1/output/test.txt
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7814: Fix test outcomes
  core/dataflow/test/TestSmaModel.test_fit_dag1/output/test.txt
  core/dataflow/test/TestSmaModel.test_fit_dag2/output/test.txt
  core/dataflow/test/TestSmaModel.test_fit_dag3/output/test.txt
  core/dataflow/test/TestSmaModel.test_predict_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_col_mode1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_col_mode2/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_dag_correctness1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_int_columns/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_multiple_columns/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_predict_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_predict_dag_correctness1/output/test.txt
Due: none

PartTask7814: update df modeler sklearn test output
  core/test/TestDataFrameModeler.test_apply_sklearn_model_predict_with_oos/output/test.txt
Due: none

Checkpoint
  devops/compose/docker-compose-jupyter.yml
  devops/docker_build/entrypoint.sh
  devops/docker_build/entrypoint/aws_credentials.sh
  devops/docker_build/entrypoint/gh_action_aws_credentials.sh
  devops/docker_build/entrypoint/gh_action_google_secret_credentials.sh
  devops/docker_build/entrypoint/patch_environment_variables.sh
  devops/docker_build/gh_action_entrypoint.sh
  devops/docker_build/init.sh
  devops/docker_build/init/download_nltk_dicts.sh
  devops/docker_build/init/download_spacy_dicts.sh
  devops/docker_build/init/download_textblob_dicts.sh
  devops/docker_build/init/install_jupyter_extensions.sh
  devops/docker_build/init/jupyter_server_setup.sh
  devops/docker_build/install_requirements.sh
  devops/docker_build/test/test_mount_fsx.sh
  devops/docker_build/test/test_mount_s3.sh
  devops/docker_build/test/test_volumes.sh
  devops/docker_scripts/run_fast_tests.sh
  devops/docker_scripts/run_jupyter_server.sh
  devops/docker_scripts/run_slow_tests.sh
  devops/docker_scripts/run_superslow_tests.sh
  devops/makefiles/general.mk
  devops/makefiles/repo_specific.mk
Due: none
