Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

.pre-commit-config.yaml:

default_stages: ["commit"]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: no-commit-to-branch
        args: ["--pattern", '^(?!(Part|Amp|Infra)Task\d+_\S+).*$']
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ["--maxkb=500"]
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.13.1
    hooks:
      - id: gitlint
        stages: [commit-msg]
        entry: gitlint
        # B6 Body message is missing.
        args: [--contrib=CT1, --ignore=B6, --msg-filename]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-crlf
      - id: remove-tabs
        args: ["--whitespaces-count", "4"]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.3.2
    hooks:
      - id: isort
        entry: isort
  - repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.3
    hooks:
      - id: autoflake
        args: [-i, --remove-all-unused-imports, --remove-unused-variables]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: p1_black.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: flake8
        name: flake8
        entry: p1_flake8.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: doc_formatter
        name: doc_formatter
        entry: p1_doc_formatter.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "docformatter"]
      - id: pylint
        name: pylint
        entry: p1_pylint.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: mypy
        name: mypy
        entry: p1_mypy.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: processjupytext
        name: processjupytext
        entry: p1_processjupytext.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: lint_md
        name: lint_md
        entry: p1_lint_md.py
        language: python
        types: [markdown]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: fix_comments
        name: fix_comments
        entry: p1_fix_comments.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "more_itertools"]
      - id: method_order
        name: method_order
        entry: p1_class_method_order.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_fillename
        name: check_filename
        entry: p1_check_filename.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_import
        name: check_import
        entry: p1_check_import.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: format_separating_line
        name: format_separating_line
        entry: p1_format_separating_line.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: warn_incorrectly_formatted_todo
        name: warn_incorrectly_formatted_todo
        entry: p1_warn_incorrectly_formatted_todo.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_shebang
        name: check_shebang
        entry: p1_check_shebang.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]

Add type hints
  vendors_amp/ib_insync/test/test_ib_utils.py
  vendors_amp/ib_insync/utils.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Lint
  vendors_amp/ib_insync/test/test_ib_utils.py
  vendors_amp/ib_insync/utils.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7691: Add nan_mode to VolatilityModulator.
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Disable code waiting for IB docker
  vendors_amp/ib_insync/test/test_ib_metadata.py
  vendors_amp/ib_insync/test/test_ib_utils.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Rename
  vendors_amp/ib_insync/gallery/AmpTask1086_Get_metadata_for_futures_universe.ipynb
  vendors_amp/ib_insync/gallery/AmpTask1086_Get_metadata_for_futures_universe.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7672: added connection to ib
  vendors_amp/ib/connect/Dockerfile
  vendors_amp/ib/connect/README.md
  vendors_amp/ib/connect/docker-compose.yml
  vendors_amp/ib/connect/entrypoint.sh
  vendors_amp/ib/connect/scripts/make_ib_controller_init_file.py
  vendors_amp/ib/connect/scripts/make_jts_init_file.py
  vendors_amp/ib/connect/vnc/vnc_init
  vendors_amp/ib/connect/vnc/xvfb-daemon-run
  vendors_amp/ib/connect/vnc/xvfb_init
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Add code for IB real-time loop
  vendors_amp/ib_insync/download_realtime_data.py
  vendors_amp/ib_insync/gallery/AmpTask1086_Get_metadata_for_futures_universe.ipynb
  vendors_amp/ib_insync/gallery/AmpTask1086_Get_metadata_for_futures_universe.py
  vendors_amp/ib_insync/gallery/gallery_ib_ibsync.ipynb
  vendors_amp/ib_insync/gallery/gallery_ib_ibsync.py
  vendors_amp/ib_insync/test/test_ib_metadata.py
  vendors_amp/ib_insync/test/test_ib_utils.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7691: extend allowable nan_mode and update test configs to invoke correct behavior.
  core/dataflow/models.py
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

fix None checking
  core/statistics.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7692: Roll out ToListMixin across all dataflow models
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7672: added some docs
  makefiles/general/vendors.mk
  vendors_amp/ib/connect/Dockerfile
  vendors_amp/ib/connect/README.md
  vendors_amp/ib/connect/docker-compose.yml
  vendors_amp/ib/connect/ib_connect.mk
Due: lint_md

PartTask7672: added docs
  vendors_amp/ib/connect/README.md
Due: lint_md

PartTask7672: Added quotes
  vendors_amp/ib/connect/README.md
Due: lint_md

WIP: finish research and method for region and exchange layers
  vendors_amp/ib/metadata/extract/ib_crawler/items.py
  vendors_amp/ib/metadata/extract/ib_crawler/spiders/ibroker.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7672: align docker stuff to templates
  vendors_amp/ib/connect/README.md
  vendors_amp/ib/connect/compose/docker-compose.local.yml
  vendors_amp/ib/connect/compose/docker-compose.test.yml
  vendors_amp/ib/connect/compose/docker-compose.yml
  vendors_amp/ib/connect/env/local.env
  vendors_amp/ib/connect/env/test.env
  vendors_amp/ib/connect/ib_connect.mk
Due: lint_md

PartTask7672: lint
  vendors_amp/ib/connect/Dockerfile
  vendors_amp/ib/connect/README.md
  vendors_amp/ib/connect/compose/docker-compose.local.yml
  vendors_amp/ib/connect/compose/docker-compose.test.yml
  vendors_amp/ib/connect/compose/docker-compose.yml
  vendors_amp/ib/connect/entrypoint.sh
  vendors_amp/ib/connect/scripts/make_ib_controller_init_file.py
  vendors_amp/ib/connect/scripts/make_jts_init_file.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Improve readme
  vendors_amp/ib/connect/README.md
  vendors_amp/ib/connect/ib_connect.mk
Due: lint_md

Add script to test IB connectivity
  vendors_amp/ib/connect/README.md
  vendors_amp/ib/connect/scripts/sanity_check_ib.py
  vendors_amp/ib_insync/gallery/gallery_ib_ibsync.ipynb
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Cosmetic changes
  vendors_amp/ib/connect/Dockerfile
  vendors_amp/ib/connect/entrypoint.sh
Due: none

Lint
  vendors_amp/ib/connect/README.md
  vendors_amp/ib/connect/scripts/sanity_check_ib.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Improve comments
  vendors_amp/app/services/loader_factory.py
  vendors_amp/app/services/sql_writer_factory.py
  vendors_amp/app/transform/convert_s3_to_sql.py
  vendors_amp/common/compose/init_sql/types.sql
  vendors_amp/common/data/load/data_loader.py
  vendors_amp/common/data/load/file_path_generator.py
  vendors_amp/common/data/load/s3_data_loader.py
  vendors_amp/common/data/load/sql_data_loader.py
  vendors_amp/common/data/transform/s3_to_sql_transformer.py
  vendors_amp/ib/data/load/s3_data_loader.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7704: Disable too many ancestors lint for dataflow models
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7672: refactoring
  .github/workflows/ib_connector.build_image.yml
  makefiles/general/vendors.mk
  makefiles/repo_specific/vendors.mk
  vendors_amp/ib/connect/.env/local.env
  vendors_amp/ib/connect/README.md
  vendors_amp/ib/connect/compose/docker-compose.local.yml
  vendors_amp/ib/connect/compose/docker-compose.test.yml
  vendors_amp/ib/connect/compose/docker-compose.yml
  vendors_amp/ib/connect/dev.Dockerfile
  vendors_amp/ib/connect/entrypoint.sh
  vendors_amp/ib/connect/env/local.env
  vendors_amp/ib/connect/env/test.env
  vendors_amp/ib/connect/ib_connect.mk
  vendors_amp/ib/connect/makefiles/docker.mk
  vendors_amp/ib/connect/makefiles/local_stage.mk
  vendors_amp/ib/connect/makefiles/setup.mk
  vendors_amp/ib/connect/prod.Dockerfile
  vendors_amp/ib/connect/requirements.txt
  vendors_amp/ib/connect/vnc/vnc_init
  vendors_amp/ib/connect/vnc/xvfb-daemon-run
  vendors_amp/ib/connect/vnc/xvfb_init
Due: lint_md

PartTask7690: Add description to all docstrings
  core/dataframe_modeler.py
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7672: fixed docs, added prod, update GH action
  .github/workflows/ib_connector.build_image.yml
  vendors_amp/ib/connect/.env/prod.env
  vendors_amp/ib/connect/README.md
  vendors_amp/ib/connect/compose/docker-compose.prod.yml
  vendors_amp/ib/connect/entrypoint.sh
  vendors_amp/ib/connect/makefiles/docker.mk
  vendors_amp/ib/connect/makefiles/local_stage.mk
  vendors_amp/ib/connect/makefiles/prod_stage.mk
  vendors_amp/ib/connect/scripts/make_ib_controller_init_file.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7672: lint
  vendors_amp/ib/connect/.env/local.env
  vendors_amp/ib/connect/.env/prod.env
  vendors_amp/ib/connect/README.md
  vendors_amp/ib/connect/prod.Dockerfile
  vendors_amp/ib/connect/requirements.txt
Due: lint_md

Separate data containers
  vendors_amp/ib/metadata/extract/ib_crawler/items.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Implemented pipelines
  vendors_amp/ib/metadata/extract/ib_crawler/pipelines.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

WIP: two item containers
  vendors_amp/ib/metadata/extract/ib_crawler/spiders/ibroker.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Minor changes
  vendors_amp/ib/metadata/extract/ib_crawler/settings.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

disable separately
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

resolve conflicts
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

add specified col_type
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

tests updates
  core/test/TestModelStatsComputer.test_all_stats/output/test.txt
  core/test/TestModelStatsComputer.test_none_returns/output/test.txt
  core/test/TestModelStatsComputer.test_only_positions/output/test.txt
  core/test/TestSeriesStatsComputer.test_all_stats/output/test.txt
Due: none

Lint
  helpers/cache.py
  pre-commit.sh
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Lint
  vendors_amp/ib/metadata/extract/ib_crawler/items.py
  vendors_amp/ib/metadata/extract/ib_crawler/middlewares.py
  vendors_amp/ib/metadata/extract/ib_crawler/pipelines.py
  vendors_amp/ib/metadata/extract/ib_crawler/settings.py
  vendors_amp/ib/metadata/extract/ib_crawler/spiders/ibroker.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7711: add port param to container
  vendors_amp/ib/connect/.env/local.env
  vendors_amp/ib/connect/.env/prod.env
  vendors_amp/ib/connect/compose/docker-compose.local.yml
  vendors_amp/ib/connect/compose/docker-compose.prod.yml
  vendors_amp/ib/connect/entrypoint.sh
  vendors_amp/ib/connect/scripts/sanity_check_ib.py
  vendors_amp/ib/connect/vnc/vnc_init
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7711: synchronize ib connect variables namings
  vendors_amp/ib/connect/compose/docker-compose.local.yml
  vendors_amp/ib/connect/compose/docker-compose.prod.yml
  vendors_amp/ib/connect/entrypoint.sh
Due: none

PartTask7711: typo fixed
  vendors_amp/ib/connect/entrypoint.sh
Due: none

PartTask7711: move port parametrizing to external env
  vendors_amp/ib/connect/.env/local.env
  vendors_amp/ib/connect/.env/prod.env
  vendors_amp/ib/connect/compose/docker-compose.local.yml
  vendors_amp/ib/connect/compose/docker-compose.prod.yml
  vendors_amp/ib/connect/entrypoint.sh
  vendors_amp/ib/connect/makefiles/local_stage.mk
  vendors_amp/ib/connect/makefiles/prod_stage.mk
  vendors_amp/ib/connect/vnc/vnc_init
Due: none
