Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  doc_formatter: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  processjupytext: any of: \.py$
  lint_md: any of: \.(md|markdown|mdown)$
  method_order: any of: \.py$
  check_filename: any of: \.py$
  clean_import: any of: \.py$
  format_separating_line: any of: \.py$
  warn_incorrectly_formatted_todo: any of: \.py$

typo fixed
  vendors_amp/devops/env/local.env
Due: none

AmpTask1166: added actions to the main script, added possibility to specify dst_dir
  vendors_amp/common/data/extract/data_extractor.py
  vendors_amp/ib/data/extract/data_extractor.py
  vendors_amp/ib/data/extract/download_ib_data.py
  vendors_amp/ib/data/extract/gateway/download_data_ib_loop.py
  vendors_amp/ib/data/extract/gateway/download_ib_data_single_file_with_loop.py
  vendors_amp/ib/data/extract/gateway/utils.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Updated docstring
  vendors_amp/ib/data/extract/download_ib_data.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1145: improved docs
  vendors_amp/README.md
Due: lint_md

AmpTask1145: keep orphans containers
  vendors_amp/devops/makefiles/project_specific.mk
Due: none

AmpTask1161: Add template for im-app
  apps/im/.env/multistage/postgres
  apps/im/compose/docker-stack.dev.yml
  apps/im/compose/docker-stack.local.yml
  apps/im/compose/docker-stack.multistage.yml
  apps/im/compose/docker-stack.pre-prod.yml
  apps/im/compose/docker-stack.prod.yml
  apps/im/compose/portainer-stack.yml
  apps/im/makefiles/docker.mk
  apps/im/makefiles/setup.mk
  apps/im/makefiles/stage_dev.mk
  apps/im/makefiles/stage_local.mk
  apps/im/makefiles/stage_pre_prod.mk
  apps/im/makefiles/stage_prod.mk
Due: none

AmpTask1161: Add support makefiles for im
  Makefile
Due: none

PartTask7956: Add custom to_datetime function
  helpers/datetime_.py
  helpers/test/test_datetime_.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/sql.py
  vendors_amp/README.md
  vendors_amp/app/services/transformer_factory.py
  vendors_amp/common/data/load/file_path_generator.py
  vendors_amp/common/data/load/s3_data_loader.py
  vendors_amp/common/data/load/sql_data_loader.py
  vendors_amp/common/data/types.py
  vendors_amp/common/db/init.py
  vendors_amp/devops/env/local.env
  vendors_amp/devops/env/test.env
  vendors_amp/kibot/kibot_timing.md
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1145: Updated makefiles to run from amp
  Makefile
  vendors_amp/Makefile
  vendors_amp/devops/docker_scripts/sanity_check_ib.py
  vendors_amp/devops/makefiles/project_specific.mk
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  vendors_amp/README.md
  vendors_amp/architecture.md
  vendors_amp/code_layout.md
Due: lint_md

Checkpoint
  vendors_amp/README.md
  vendors_amp/code_layout.md
  vendors_amp/common/db/init.py
  vendors_amp/kibot/base/command.py
  vendors_amp/kibot/data/load/dataset_name_parser.py
  vendors_amp/kibot/data/load/file_path_generator.py
  vendors_amp/kibot/data/load/s3_data_loader.py
  vendors_amp/kibot/data/load/sql_data_loader.py
  vendors_amp/kibot/data/transform/s3_to_sql_transformer.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1145: replaces in 2 more files
  Makefile
  instrument_master/devops/makefiles/project_specific.mk
Due: none

Remove old file
  instrument_master/Makefile
Due: none

Checkpoint
  instrument_master/instrument_master_architecture.md
Due: lint_md

PartTask7956: Extract format from last date, add docstrings, move Q1 2020 format handling
  helpers/datetime_.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1161: Add makefiles and dev\local stages
  apps/im/.env/dev/postgres
  apps/im/.env/local/postgres
  apps/im/compose/docker-stack.dev.yml
  apps/im/compose/docker-stack.local.yml
  apps/im/compose/docker-stack.pre-prod.yml
  apps/im/compose/docker-stack.prod.yml
  apps/im/compose/portainer-stack.yml
  apps/im/makefiles/docker.mk
  apps/im/makefiles/setup.mk
  apps/im/makefiles/stage_dev.mk
  apps/im/makefiles/stage_local.mk
  apps/im/makefiles/stage_multistage.mk
  apps/im/makefiles/stage_pre_prod.mk
  apps/im/makefiles/stage_prod.mk
Due: none

AmpTask1161: Fix dev stage_dev.mk
  apps/im/makefiles/stage_dev.mk
Due: none

AmpTask1161: Refactor
  apps/im/makefiles/stage_dev.mk
Due: none

AmpTask1161: Refactor
  apps/im/compose/docker-stack.dev.yml
Due: none

PartTask7956: Handle corner cases
  helpers/datetime_.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1161: Refactor
  apps/im/compose/docker-stack.dev.yml
  apps/im/docker_build/dev.Dockerfile
  apps/im/docker_build/entrypoints/entrypoint_app_only.sh
  apps/im/docker_build/entrypoints/entrypoint_deploy_postgres.sh
  apps/im/makefiles/stage_dev.mk
Due: none

AmpTask1161: Refactor
  apps/im/makefiles/stage_multistage.mk
Due: none

AmpTask1161: Refactor
  apps/im/compose/docker-stack.multistage.yml
  apps/im/makefiles/stage_multistage.mk
Due: none

AmpTask1161: Refactor
  apps/im/.env/multistage/postgres
Due: none

AmpTask1161: Refactor
  apps/im/.env/multistage/postgres
  apps/im/makefiles/stage_multistage.mk
Due: none

Checkpoint
  instrument_master/devops/docker_build/entrypoints/entrypoint_deploy.sh
Due: none

AmpTask1161: Add db init script
  apps/im/.env/dev/postgres
  apps/im/compose/docker-stack.dev.yml
  apps/im/init.sql
Due: none

AmpTask1161: Refactor
  apps/im/.env/dev/postgres
  apps/im/compose/docker-stack.dev.yml
  apps/im/compose/docker-stack.multistage.yml
Due: none

Fix for #1185
  Makefile
  instrument_master/Makefile
  instrument_master/README.md
  instrument_master/devops/docker_build/dev.Dockerfile
  instrument_master/devops/makefiles/project_specific.mk
  instrument_master/devops/requirements.txt
Due: lint_md

AmpTask1161: Refactor
  apps/im/compose/docker-stack.multistage.yml
Due: none

AmpTask1161: Refactor
  apps/im/compose/docker-stack.multistage.yml
  apps/im/init.sql
Due: none

AmpTask1161: Refactor
  apps/im/init.sql
Due: none

AmpTask1161: Refactor
  apps/im/.env/dev/postgres
Due: none
