Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

.pre-commit-config.yaml:

default_stages: ["commit"]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: no-commit-to-branch
        args: ["--pattern", '^(?!(Part|Amp|Infra)Task\d+_\S+).*$']
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ["--maxkb=500"]
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.13.1
    hooks:
      - id: gitlint
        stages: [commit-msg]
        entry: gitlint
        # B6 Body message is missing.
        args: [--contrib=CT1, --ignore=B6, --msg-filename]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-crlf
      - id: remove-tabs
        args: ["--whitespaces-count", "4"]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.3.2
    hooks:
      - id: isort
        entry: isort
  - repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.3
    hooks:
      - id: autoflake
        args: [-i, --remove-all-unused-imports, --remove-unused-variables]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: p1_black.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: flake8
        name: flake8
        entry: p1_flake8.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: doc_formatter
        name: doc_formatter
        entry: p1_doc_formatter.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "docformatter"]
      - id: pylint
        name: pylint
        entry: p1_pylint.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: mypy
        name: mypy
        entry: p1_mypy.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: processjupytext
        name: processjupytext
        entry: p1_processjupytext.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: lint_md
        name: lint_md
        entry: p1_lint_md.py
        language: python
        types: [markdown]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: fix_comments
        name: fix_comments
        entry: p1_fix_comments.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "more_itertools"]
      - id: method_order
        name: method_order
        entry: p1_class_method_order.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_fillename
        name: check_filename
        entry: p1_check_filename.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_import
        name: check_import
        entry: p1_check_import.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: format_separating_line
        name: format_separating_line
        entry: p1_format_separating_line.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: warn_incorrectly_formatted_todo
        name: warn_incorrectly_formatted_todo
        entry: p1_warn_incorrectly_formatted_todo.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_shebang
        name: check_shebang
        entry: p1_check_shebang.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]

feat: use introspection to get arguments in playback
  helpers/playback.py
  helpers/test/TestPlaybackUseCase1.test1/output/test.txt
  helpers/test/TestPlaybackUseCase1.test2/output/test.txt
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

test: accommodate to changes made in playback functionality
  helpers/test/TestPlaybackInputOutput1.test1/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test10/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test11/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test12/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test2/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test3/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test4/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test5/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test6/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test7/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test8/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test9/output/test.txt
  helpers/test/test_playback.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4516: Remove NaNs before calculating model score. This is needed in the predict method, where the forward targets are expected to have a NaN for each step ahead.
  core/dataflow/nodes.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

init commit
  documentation/general/converting_gdocs_to_md.md
Due: lint_md

lint
  documentation/general/converting_gdocs_to_md.md
Due: lint_md

links updated
  documentation/general/buildmeister_guidelines.md
  documentation/general/converting_gdocs_to_md.md
Due: lint_md

Lint
  core/dataflow/nodes.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

test: add dockerized per-commit image & init script #681
  .pre-commit-config.yaml
  dev_scripts/linter2/Dockerfile
  dev_scripts/linter2/init_precommit.sh
  dev_scripts/linter2/requirements.txt
  vendors2/setenv.sh
Due: none

refactor: add REQUIRES_AUTH class property #663
  vendors2/kibot/base/command.py
  vendors2/kibot/data/extract/download.py
  vendors2/kibot/metadata/extract/download_adjustments.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

refactor: replace explicit LOG_FILE_NAME arg with inspect.getfile #663
  vendors2/kibot/base/command.py
  vendors2/kibot/data/extract/download.py
  vendors2/kibot/metadata/extract/download_adjustments.py
  vendors2/kibot/metadata/extract/download_ticker_lists.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

refactor: create KibotCommand with tmp-dir support #663
  vendors2/kibot/base/__init__.py
  vendors2/kibot/base/command.py
  vendors2/kibot/data/extract/download.py
  vendors2/kibot/metadata/extract/download_adjustments.py
  vendors2/kibot/metadata/extract/download_ticker_lists.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

refactore: update 'check_realtime_feed' script #663
  vendors2/kibot/data/extract/check_realtime_feed.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

refactor: get file docstring using ast #663
  vendors2/kibot/base/command.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

refactor: replace class vars with init args #663
  vendors2/kibot/base/command.py
  vendors2/kibot/data/extract/check_realtime_feed.py
  vendors2/kibot/data/extract/download.py
  vendors2/kibot/metadata/extract/download_adjustments.py
  vendors2/kibot/metadata/extract/download_ticker_lists.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

refactor: add docstring as init args #663
  vendors2/kibot/base/command.py
  vendors2/kibot/data/extract/check_realtime_feed.py
  vendors2/kibot/data/extract/download.py
  vendors2/kibot/metadata/extract/download_adjustments.py
  vendors2/kibot/metadata/extract/download_ticker_lists.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

refactor: add REQUIRES_API_LOGIN class property #663
  vendors2/kibot/base/command.py
  vendors2/kibot/data/extract/check_realtime_feed.py
  vendors2/kibot/metadata/extract/download_adjustments.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Revert "PartTask4318: Add lag 0 volatility"
  core/dataflow/nodes.py
  core/dataflow/test/TestVolatilityModel.test_fit_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_predict_dag1/output/test.txt
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Merge from master
  core/explore.py
  dev_scripts/linter.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask676: added options to run_tests2.py for popular use cases
  dev_scripts/install/requirements/amp_develop.yaml
  dev_scripts/testing/__init__.py
  dev_scripts/testing/run_tests2.py
  dev_scripts/testing/test/__init__.py
  dev_scripts/testing/test/test_run_tests2.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4318: Add min_periods to info
  core/dataflow/nodes.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4542: Initial commit of DagRunner class.
  core/dataflow/builder.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4542: Lint
  core/dataflow/builder.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4541: Checkpoint ModelEvaluator.
  core/model_evaluator.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4541: Add target volatility, in-sample, out-of-sample capability.
  core/model_evaluator.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Lint
  core/model_evaluator.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4541: Add basic stats functionality to model evaluator.
  core/model_evaluator.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Refactored test_suite methods to the separate class in run_tests2.py
  dev_scripts/testing/run_tests2.py
  dev_scripts/testing/test/test_run_tests2.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4541: Add comments
  core/model_evaluator.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4541: Raise if oos stats are requested but no oos_start is set.
  core/model_evaluator.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Update user creds
  helpers/user_credentials.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Improve documentation
  helpers/README.md
Due: lint_md

PartTask4339: Add SARIMAX dataflow node
  core/dataflow/nodes.py
  core/dataflow/test/TestContinuousSarimaxModel.test_fit1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict1/output/test.txt
  core/dataflow/test/test_nodes.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Update test outcomes on the server
  core/dataflow/test/TestContinuousSarimaxModel.test_fit1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict1/output/test.txt
Due: none

PartTask4339: Change pred range with no exog, add tests for no exog
  core/dataflow/nodes.py
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_no_x1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_no_x1/output/test.txt
  core/dataflow/test/test_nodes.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4339: Add docstrings
  core/dataflow/nodes.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTaskXXX: user credentials fixes
  documentation/general/setup_dev_environment.md
Due: lint_md

PartTask4339: Update test outcomes on the server
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_no_x1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_no_x1/output/test.txt
Due: none

PartTask4574: linter.py fixes
  documentation/general/setup_dev_environment.md
Due: lint_md
