Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

.pre-commit-config.yaml:

default_stages: ["commit"]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: no-commit-to-branch
        args: ["--pattern", '^(?!(Part|Amp|Infra)Task\d+_\S+).*$']
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ["--maxkb=500"]
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.13.1
    hooks:
      - id: gitlint
        stages: [commit-msg]
        entry: gitlint
        # B6 Body message is missing.
        args: [--contrib=CT1, --ignore=B6, --msg-filename]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-crlf
      - id: remove-tabs
        args: ["--whitespaces-count", "4"]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.3.2
    hooks:
      - id: isort
        entry: isort
  - repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.3
    hooks:
      - id: autoflake
        args: [-i, --remove-all-unused-imports, --remove-unused-variables]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: p1_black.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: flake8
        name: flake8
        entry: p1_flake8.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: doc_formatter
        name: doc_formatter
        entry: p1_doc_formatter.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "docformatter"]
      - id: pylint
        name: pylint
        entry: p1_pylint.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: mypy
        name: mypy
        entry: p1_mypy.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: processjupytext
        name: processjupytext
        entry: p1_processjupytext.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: lint_md
        name: lint_md
        entry: p1_lint_md.py
        language: python
        types: [markdown]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: fix_comments
        name: fix_comments
        entry: p1_fix_comments.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "more_itertools"]
      - id: method_order
        name: method_order
        entry: p1_class_method_order.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_fillename
        name: check_filename
        entry: p1_check_filename.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_import
        name: check_import
        entry: p1_check_import.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: format_separating_line
        name: format_separating_line
        entry: p1_format_separating_line.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: warn_incorrectly_formatted_todo
        name: warn_incorrectly_formatted_todo
        entry: p1_warn_incorrectly_formatted_todo.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_shebang
        name: check_shebang
        entry: p1_check_shebang.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]

Update GH runners
  .github/workflows/build_image.yml
  .github/workflows/fast_tests.yml
  .github/workflows/ib_connector.build_image.yml
  .github/workflows/linter.yml
  .github/workflows/slow_tests.yml
  .github/workflows/superslow_tests.yml
Due: none

Fix bug
  devops/makefiles/general.mk
  devops/makefiles/repo_specific.mk
Due: none

Bug fix
  .github/workflows/fast_tests.yml
  .github/workflows/linter.yml
  .github/workflows/slow_tests.yml
  .github/workflows/superslow_tests.yml
  devops/makefiles/general.mk
Due: none

Bug fix
  devops/compose/docker-compose.gh_actions.yml
  devops/makefiles/repo_specific.mk
Due: none

Bug fix
  devops/makefiles/general.mk
Due: none

PartTask7814: Improve docstrings and comment out sklearn info addition.
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7814: revert df modeler test.
  core/test/TestDataFrameModeler.test_apply_sklearn_model_predict_with_oos/output/test.txt
Due: none

PartTask7814: Add param to docstring.
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Bug fix
  .github/workflows/superslow_tests.yml.disabled
  devops/docker_build/test/test_mount_fsx.sh
  devops/docker_build/test/test_mount_s3.sh
  devops/docker_build/test/test_volumes.sh
Due: none

Bug fix
  .github/workflows/build_image.yml
  .github/workflows/superslow_tests.yml
Due: none

Make test_models easier to navigate #7818
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1107: split code in 4 files as well as tests
  vendors_amp/ib/extract/download_data_ib_loop.py
  vendors_amp/ib/extract/save_historical_data_with_IB_loop.py
  vendors_amp/ib/extract/test/test_download_data_ib_loop.py
  vendors_amp/ib/extract/test/test_download_data_unrolling_ib_loop.py
  vendors_amp/ib/extract/test/test_ib_utils.py
  vendors_amp/ib/extract/test/test_save_historical_data_with_IB_loop.py
  vendors_amp/ib/extract/test/utils.py
  vendors_amp/ib/extract/unrolling_download_data_ib_loop.py
  vendors_amp/ib/extract/utils.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7827: Initial commit.
  core/dataflow/models.py
  core/dataflow/nodes.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7827: make lint_branch
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Switch to main copy of amp Docker
  devops/makefiles/repo_specific.mk
Due: none

Add comment
  dev_scripts/test/test_run_notebook.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Convert oos_start to pd.Timestamp on creating to support df[:oos_start]-like operations
  core/dataframe_modeler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Fix merge test for DataFrameModeler
  core/test/test_dataframe_modeler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask968: Update docs to relevant commands, update dockerfile
  vendors_amp/kibot/Dockerfile
  vendors_amp/kibot/README.md
Due: lint_md

AmpTask1103: added script to time perfomance of all existing
  vendors_amp/ib/extract/gallery/perfomance.py
  vendors_amp/ib/extract/requirements.txt
  vendors_amp/ib/extract/save_historical_data_with_IB_loop.py
  vendors_amp/ib/extract/unrolling_download_data_ib_loop.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7827: Ensure SmaModel re-learns tau on each fit call provided that tau is None in config. Allow loading of state.
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7827: Re-learn taus on calls to fit.
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTAsk7827: make lint_branch
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7827: allow getting and setting fit state.
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7827: remove private helper.
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1103: added result from server run
  vendors_amp/ib/extract/gallery/perfomance.py
  vendors_amp/ib/extract/unrolling_download_data_ib_loop.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1103: lint
  vendors_amp/ib/extract/gallery/perfomance.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint
  devops/docker_build/conda.yml
  devops/docker_build/entrypoint/patch_environment_variables.sh
  devops/docker_build/fstab
  devops/docker_build/install_requirements.sh
  devops/makefiles/repo_specific.mk
Due: none

wip
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint
  devops/docker_build/conda.yml
  devops/docker_build/dev.Dockerfile
  devops/docker_build/entrypoint/patch_environment_variables.sh
  devops/docker_build/install_requirements.sh
Due: none

Checkpoint
  dev_scripts/diff_to_vimdiff.py
  devops/docker_build/dev.Dockerfile
  devops/docker_build/entrypoint/gh_action_google_secret_credentials.sh
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

WIP
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/src/ib_crawler/settings.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/src/ib_crawler/spiders/ibroker.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Reorg project layout
  vendors_amp/ib/metadata/extract/.dockerignore
  vendors_amp/ib/metadata/extract/Dockerfile
  vendors_amp/ib/metadata/extract/Makefile
  vendors_amp/ib/metadata/extract/README.md
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/README.md
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/__init__.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/devops/Dockerfile
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/devops/requirements.txt
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/items.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/middlewares.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/pipelines.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/settings.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/spiders/__init__.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/spiders/ibroker.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/src/ib_crawler/__init__.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/src/ib_crawler/settings.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/src/ib_crawler/spiders/ibroker.py
  vendors_amp/ib/metadata/extract/requirements.txt
  vendors_amp/ib/metadata/extract/scrapy.cfg
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Simplified layout
  vendors_amp/ib/metadata/.dockerignore
  vendors_amp/ib/metadata/Dockerfile
  vendors_amp/ib/metadata/Makefile
  vendors_amp/ib/metadata/README.md
  vendors_amp/ib/metadata/ib_metadata_crawler/__init__.py
  vendors_amp/ib/metadata/ib_metadata_crawler/items.py
  vendors_amp/ib/metadata/ib_metadata_crawler/middlewares.py
  vendors_amp/ib/metadata/ib_metadata_crawler/pipelines.py
  vendors_amp/ib/metadata/ib_metadata_crawler/settings.py
  vendors_amp/ib/metadata/ib_metadata_crawler/spiders/__init__.py
  vendors_amp/ib/metadata/ib_metadata_crawler/spiders/ibroker.py
  vendors_amp/ib/metadata/requirements.txt
  vendors_amp/ib/metadata/scrapy.cfg
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint
  .dockerignore
  devops/makefiles/general.mk
  devops/makefiles/repo_specific.mk
Due: none

Refactoring done
  vendors_amp/ib/metadata/Makefile
  vendors_amp/ib/metadata/README.md
  vendors_amp/ib/metadata/ib_metadata_crawler/pipelines.py
  vendors_amp/ib/metadata/ib_metadata_crawler/settings.py
  vendors_amp/ib/metadata/ib_metadata_crawler/spiders/ibroker.py
  vendors_amp/ib/metadata/scrapy.cfg
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Lint
  vendors_amp/ib/metadata/README.md
  vendors_amp/ib/metadata/ib_metadata_crawler/__pycache__/__init__.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/__pycache__/items.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/__pycache__/middlewares.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/__pycache__/pipelines.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/__pycache__/settings.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/pipelines.py
  vendors_amp/ib/metadata/ib_metadata_crawler/settings.py
  vendors_amp/ib/metadata/ib_metadata_crawler/spiders/__pycache__/__init__.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/spiders/__pycache__/ibroker.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/spiders/ibroker.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7819: Add more test coverage for VolatilityModel
  core/dataflow/test/TestVolatilityModel.test_get_fit_state/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_predict_with_predefined_state/output/test.txt
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

unlint comment
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7824: Limit upper bound based on in SmaModel
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang
