Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

isort:
  name: isort
  entry: p1_isort.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt
  require_serial: true

black:
  name: black
  entry: p1_black.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt
  require_serial: true

flake8:
  name: flake8
  entry: p1_flake8.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

doc_formatter:
  name: doc_formatter
  entry: p1_doc_formatter.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

pylint:
  name: pylint
  entry: p1_pylint.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

mypy:
  name: mypy
  entry: p1_mypy.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

processjupytext:
  name: processjupytext
  entry: p1_processjupytext.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

lint_md:
  name: lint_md
  entry: p1_lint_md.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

method_order:
  name: method_order
  entry: p1_class_method_order.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

check_filename:
  name: check_filename
  entry: p1_check_filename.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

clean_import:
  name: clean_import
  entry: p1_clean_import.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

format_separating_line:
  name: format_separating_line
  entry: p1_format_separating_line.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

warn_incorrectly_formatted_todo:
  name: warn_incorrectly_formatted_todo
  entry: p1_warn_incorrectly_formatted_todo.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

Enable some actions
  .github/workflows/build_image.yml
Due: none

Bug fix
  .github/workflows/build_image.yml
Due: none

Bug fix
  .github/gh_requirements.txt
  .github/workflows/build_image.yml
Due: none

Add fast tests to GH
  .github/workflows/build_image.yml
  .github/workflows/fast_tests.yml
  lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Fix
  .github/workflows/build_image.yml
  .github/workflows/fast_tests.yml
Due: none

Fix bug
  helpers/git.py
  helpers/test/test_git.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Fix bug
  core/dataflow/test/TestVolatilityModel.test_get_fit_state1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_get_fit_state2/output/test.txt
  core/dataflow/test/test_models.py
  helpers/unit_test.py
  mypy.ini
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Fix bug
  .github/workflows/fast_tests.yml
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_no_x1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_no_x1/output/test.txt
  core/dataflow/test/TestSmaModel.test_fit_dag1/output/test.txt
  core/dataflow/test/TestSmaModel.test_fit_dag2/output/test.txt
  core/dataflow/test/TestSmaModel.test_fit_dag3/output/test.txt
  core/dataflow/test/TestSmaModel.test_predict_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_col_mode1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_col_mode2/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_dag_correctness1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_multiple_columns/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_predict_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_predict_dag_correctness1/output/test.txt
  core/dataflow/test/TestVolatilityModulator.test_col_mode1/output/test.txt
  core/dataflow/test/TestVolatilityModulator.test_col_mode2/output/test.txt
  core/dataflow/test/TestVolatilityModulator.test_demodulate1/output/test.txt
  core/dataflow/test/TestVolatilityModulator.test_modulate1/output/test.txt
  core/dataflow/test/test_models.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Fix bug
  .github/workflows/fast_tests.yml
  core/dataflow/test/TestContinuousSarimaxModel.test_predict1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_no_x1/output/test.txt
  core/dataflow/test/test_models.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Add slow / superslow tests
  .github/workflows/slow_tests.yml
  .github/workflows/superslow_tests.yml
Due: none

Fix bug
  .github/workflows/fast_tests.yml
  .github/workflows/slow_tests.yml
  .github/workflows/superslow_tests.yml
Due: none

Fix bug
  .github/workflows.OLD/build_image.yml
  .github/workflows.OLD/fast_tests.yml
  .github/workflows.OLD/slow_tests.yml
  .github/workflows.OLD/superslow_tests.yml
  .github/workflows/ib_connector.build_image.yml.DISABLED
  .github/workflows/linter.yml.DISABLED
  .github/workflows/superslow_tests.yml.DISABLED
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_no_x1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_no_x1/output/test.txt
  core/dataflow/test/test_models.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

(Attempt to) Fix bug
  .github/workflows/fast_tests.yml
  .github/workflows/linter.yml
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_no_x1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_no_x1/output/test.txt
  core/dataflow/test/test_models.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

(Attempt to) Fix bug
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_no_x1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_no_x1/output/test.txt
  core/dataflow/test/test_models.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Add function like check_string but for dataframes
  core/dataflow/test/test_models.py
  helpers/printing.py
  helpers/unit_test.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Add unit tests
  helpers/test/TestTestCase.test_assert_not_equal1/output/test.txt
  helpers/test/test_unit_test.py
  helpers/unit_test.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Add more unit tests
  helpers/dbg.py
  helpers/test/TestTestCase.test_check_string1/output/test.txt
  helpers/test/TestTestCase.test_check_string3/output/test.txt
  helpers/test/test_unit_test.py
  helpers/unit_test.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  conftest.py
  helpers/dbg.py
  helpers/io_.py
  helpers/test/test_cache.py
  helpers/test/test_unit_test.py
  helpers/unit_test.py
  lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/test/test_unit_test.py
  helpers/unit_test.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/test/TestCheckString1.test_check_string1/output/test.txt
  helpers/test/TestCheckString1.test_check_string3/output/test.txt
  helpers/test/TestTestCase.test_check_string3/output/test.txt
  helpers/test/test_unit_test.py
  helpers/unit_test.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/test/TestCheckDataFrame1.test_check_df_equal1/output/test_df.txt
  helpers/test/TestCheckDataFrame1.test_check_df_equal2/output/test_df.txt
  helpers/test/TestCheckDataFrame1.test_check_df_equal3/output/test_df.txt
  helpers/test/TestCheckDataFrame1.test_check_df_not_equal1/output/test_df.txt
  helpers/test/TestCheckDataFrame1.test_check_df_not_equal1/tmp.actual.txt
  helpers/test/TestCheckDataFrame1.test_check_df_not_equal1/tmp.expected.txt
  helpers/test/TestCheckDataFrame1.test_check_df_not_equal2/output/test_df.txt
  helpers/test/TestCheckDataFrame1.test_check_df_not_equal2/tmp.actual.txt
  helpers/test/TestCheckDataFrame1.test_check_df_not_equal2/tmp.expected.txt
  helpers/test/TestCheckDataFrame1.test_check_df_not_equal3/output/test_df.txt
  helpers/test/TestCheckDataFrame1.test_check_df_not_equal4/output/test_df.txt
  helpers/test/TestCheckDataFrame1.test_check_df_not_equal4/tmp.actual.txt
  helpers/test/TestCheckDataFrame1.test_check_df_not_equal4/tmp.expected.txt
  helpers/test/TestCheckDataFrame1.test_check_string_not_equal2/output/test.txt
  helpers/test/TestCheckString1.test_check_string2/output/test.txt
  helpers/test/TestCheckString1.test_check_string_not_equal1/output/test.txt
  helpers/test/TestCheckString1.test_check_string_not_equal2/output/test.txt
  helpers/test/TestCheckString1.test_check_string_not_equal3/output/test.txt
  helpers/test/test_unit_test.py
  helpers/unit_test.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/test/TestCheckDataFrame1.test_check_df_not_equal3/output/test_df.txt
  helpers/test/TestCheckString1.test_check_string_not_equal2/output/test.txt
Due: none

LInt
  helpers/test/test_unit_test.py
  helpers/unit_test.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Use self.check_dataframe for AmpTask1253
  core/dataflow/test/TestVolatilityModulator.test_col_mode1/output/df_out.txt
  core/dataflow/test/TestVolatilityModulator.test_col_mode1/output/test.txt
  core/dataflow/test/TestVolatilityModulator.test_col_mode2/output/df_out.txt
  core/dataflow/test/TestVolatilityModulator.test_col_mode2/output/test.txt
  core/dataflow/test/TestVolatilityModulator.test_demodulate1/output/df_out.txt
  core/dataflow/test/TestVolatilityModulator.test_demodulate1/output/test.txt
  core/dataflow/test/TestVolatilityModulator.test_modulate1/output/df_out.txt
  core/dataflow/test/TestVolatilityModulator.test_modulate1/output/test.txt
  core/dataflow/test/test_models.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Use self.check_dataframe for AmpTask1253
  core/dataflow/test/TestContinuousSarimaxModel.test_fit1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_fit1/output/test_df.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_no_x1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_no_x1/output/test_df.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_step_one1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_step_one1/output/test_df.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_with_constant1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_with_constant1/output/test_df.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict1/output/test_df.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict2/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict2/output/test_df.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_no_x1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_no_x1/output/test_df.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_with_nan/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_with_nan/output/test_df.txt
  core/dataflow/test/TestSmaModel.test_fit_dag1/output/df_out.txt
  core/dataflow/test/TestSmaModel.test_fit_dag1/output/test.txt
  core/dataflow/test/TestSmaModel.test_fit_dag2/output/df_out.txt
  core/dataflow/test/TestSmaModel.test_fit_dag2/output/test.txt
  core/dataflow/test/TestSmaModel.test_fit_dag3/output/df_out.txt
  core/dataflow/test/TestSmaModel.test_fit_dag3/output/test.txt
  core/dataflow/test/TestSmaModel.test_predict_dag1/output/df_out.txt
  core/dataflow/test/TestSmaModel.test_predict_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModulator.test_col_mode1/output/test.txt
  core/dataflow/test/TestVolatilityModulator.test_col_mode2/output/test.txt
  core/dataflow/test/TestVolatilityModulator.test_demodulate1/output/test.txt
  core/dataflow/test/TestVolatilityModulator.test_modulate1/output/test.txt
  core/dataflow/test/test_models.py
  helpers/test/test_unit_test.py
  helpers/unit_test.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Use self.check_dataframe for AmpTask1253
  core/dataflow/test/TestContinuousSarimaxModel.test_fit1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_no_x1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_step_one1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_with_constant1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict2/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_no_x1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_with_nan/output/test.txt
  core/dataflow/test/test_models.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Improve debug output
  devops/docker_scripts/run_fast_tests.sh
  devops/docker_scripts/run_slow_tests.sh
  devops/docker_scripts/run_superslow_tests.sh
  helpers/test/test_unit_test.py
  helpers/unit_test.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Improve debug output
  helpers/unit_test.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Improve debug output
  core/dataflow/test/test_models.py
  helpers/test/test_unit_test.py
  helpers/unit_test.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Improve debug output
  .github/workflows/fast_tests.yml
  .github/workflows/slow_tests.yml
  .github/workflows/superslow_tests.yml.DISABLED
  lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Switch pointers to AM S3
  dev_scripts/ghi_show.py
  dev_scripts/notebooks/run_notebook.py
  dev_scripts/setenv_amp.sh
  helpers/s3.py
  helpers/test/test_helpers.py
  instrument_master/ib/data/config.py
  instrument_master/ib/data/extract/ib_data_extractor.py
  instrument_master/ib/metadata/extract/notebooks/Master_analyze_ib_metadata_crawler.py
  instrument_master/kibot/data/config.py
  instrument_master/kibot/metadata/config.py
  instrument_master/kibot/notebooks/kibot_data_analysis.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Fix some slow tests
  README.md
  dev_scripts/client_setup/requirements.txt
  dev_scripts/setenv_amp.sh
  helpers/s3.py
  helpers/test/test_helpers.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Improve documentation
  README.md
  dev_scripts/client_setup/activate.sh
  dev_scripts/client_setup/build.sh
  dev_scripts/setenv_amp.sh
  documentation/general/unit_tests.md
Due: lint_md

Fix for #1264
  dev_scripts/test/test_amp_dev_scripts.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Tweak thresholds for TestContinuousSarimaxModel since different runs seem to give slightly different results
  core/dataflow/test/test_models.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  doc_formatter: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  processjupytext: any of: \.py$
  lint_md: any of: \.(md|markdown|mdown)$
  method_order: any of: \.py$
  check_filename: any of: \.py$
  clean_import: any of: \.py$
  format_separating_line: any of: \.py$
  warn_incorrectly_formatted_todo: any of: \.py$
