Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  doc_formatter: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  processjupytext: any of: \.py$
  lint_md: any of: \.(md|markdown|mdown)$
  method_order: any of: \.py$
  check_filename: any of: \.py$
  clean_import: any of: \.py$
  format_separating_line: any of: \.py$
  warn_incorrectly_formatted_todo: any of: \.py$

AmpTask1186: Make file path unique per symbol for IB
  instrument_master/common/data/extract/data_extractor.py
  instrument_master/common/data/load/abstract_data_loader.py
  instrument_master/common/data/load/file_path_generator.py
  instrument_master/common/data/transform/transform.py
  instrument_master/common/metadata/symbols.py
  instrument_master/devops/compose/docker-compose.local.yml
  instrument_master/devops/makefiles/project_specific.mk
  instrument_master/ib/data/extract/ib_data_extractor.py
  instrument_master/ib/data/load/ib_file_path_generator.py
  instrument_master/ib/data/load/ib_s3_data_loader.py
  instrument_master/ib/data/load/test/TestIbFilePathGenerator.test_generate_file_path1/output/test.txt
  instrument_master/ib/data/load/test/TestIbFilePathGenerator.test_generate_file_path2/output/test.txt
  instrument_master/ib/data/load/test/TestIbFilePathGenerator.test_generate_file_path3/output/test.txt
  instrument_master/ib/data/load/test/TestS3IbDataLoader1.test_dtypes1/output/test.txt
  instrument_master/ib/data/load/test/TestS3IbDataLoader1.test_read_data_with_start_end_ts/output/test.txt
  instrument_master/ib/data/load/test/test_file_path_generator.py
  instrument_master/ib/data/load/test/test_s3_data_loader.py
  instrument_master/ib/data/transform/test/test_transform.py
  instrument_master/kibot/data/load/kibot_file_path_generator.py
  instrument_master/kibot/data/load/kibot_s3_data_loader.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Improve
  instrument_master/ib/data/extract/ib_data_extractor.py
  instrument_master/ib/data/load/ib_file_path_generator.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

LInt
  instrument_master/common/data/extract/data_extractor.py
  instrument_master/devops/compose/docker-compose.local.yml
  instrument_master/ib/data/load/ib_file_path_generator.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  instrument_master/ib/metadata/extract/notebooks/Master_analyze_ib_metadata_crawler.ipynb
  instrument_master/ib/metadata/extract/notebooks/Master_analyze_ib_metadata_crawler.py
  instrument_master/ib/metadata/ib_symbols.py
  instrument_master/ib/metadata/test/TestIbSymbolUniverse.test_parse_symbols_file1/input/test_symbols.csv
  instrument_master/ib/metadata/test/TestIbSymbolUniverse.test_parse_symbols_file1/output/test.txt
  instrument_master/ib/metadata/test/TestIbSymbolUniverse.test_parse_symbols_file2/output/test.txt
  instrument_master/ib/metadata/test/test_ib_symbols.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  instrument_master/README.md
  instrument_master/ib/connect/README.md
Due: lint_md

Lint
  instrument_master/ib/metadata/extract/notebooks/Master_analyze_ib_metadata_crawler.py
  instrument_master/ib/metadata/ib_symbols.py
  instrument_master/ib/metadata/test/convert_s3_to_sql.py
  instrument_master/ib/metadata/test/test_ib_symbols.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  dev_scripts/client_setup/activate.sh
  dev_scripts/client_setup/build.sh
  dev_scripts/client_setup/requirements.txt
  tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  .gitignore
  invoke.yaml
  tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  tasks.py
  test/TestTasks.test_print_setup/output/test.txt
  test/test_task.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

PartTask8160: Password update
  devops/docker_build/fstab
Due: none

Add unit tests
  test/TestTasks.test_docker_login/output/test.txt
  test/test_task.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Add unit tests
  dev_scripts/remove_escape_chars.py
  helpers/printing.py
  tasks.py
  test/TestTasks.test_git_clean1/output/test.txt
  test/TestTasks.test_git_pull1/output/test.txt
  test/TestTasks.test_git_pull_master1/output/test.txt
  test/TestTasks.test_print_setup1/output/test.txt
  test/test_task.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Merge code from master
  instrument_master/ib/data/extract/download_ib_data.py
  instrument_master/ib/metadata/ib_symbols.py
  instrument_master/ib/metadata/test/test_ib_symbols.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Rename targets and fix bug
  instrument_master/airflow/devops/compose/docker-compose.local.yml
  instrument_master/airflow/devops/makefiles/stage_local.mk
Due: none

AmpTask1186: Added docs and fix small bugs
  instrument_master/README.md
  instrument_master/app/services/symbol_universe_factory.py
  instrument_master/app/transform/convert_s3_to_sql.py
  instrument_master/common/data/load/abstract_data_loader.py
  instrument_master/common/data/load/file_path_generator.py
  instrument_master/common/data/transform/transform.py
  instrument_master/devops/compose/docker-compose.dev.yml
  instrument_master/devops/makefiles/project_specific.mk
  instrument_master/ib/data/extract/download_ib_data.py
  instrument_master/ib/data/extract/gateway/download_data_ib_loop.py
  instrument_master/ib/data/extract/gateway/utils.py
  instrument_master/ib/data/extract/ib_data_extractor.py
  instrument_master/ib/data/load/ib_file_path_generator.py
  instrument_master/ib/data/load/ib_s3_data_loader.py
  instrument_master/ib/data/load/test/TestS3IbDataLoader1.test_dtypes1/output/test.txt
  instrument_master/ib/data/load/test/TestS3IbDataLoader1.test_read_data1/output/test.txt
  instrument_master/ib/data/load/test/test_file_path_generator.py
  instrument_master/ib/data/load/test/test_s3_data_loader.py
  instrument_master/ib/data/transform/ib_s3_to_sql_transformer.py
  instrument_master/ib/data/transform/test/TestReadFromS3WriteToSql.test_insert_minutely_data_from_s3_1/output/test.txt
  instrument_master/ib/metadata/ib_symbols.py
  instrument_master/ib/metadata/test/test_ib_symbols.py
  instrument_master/kibot/data/load/kibot_file_path_generator.py
  instrument_master/kibot/data/load/kibot_s3_data_loader.py
  instrument_master/kibot/data/load/test/test_s3_data_loader.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Lint
  instrument_master/README.md
  instrument_master/app/services/symbol_universe_factory.py
  instrument_master/app/transform/convert_s3_to_sql.py
  instrument_master/common/data/load/abstract_data_loader.py
  instrument_master/common/data/load/file_path_generator.py
  instrument_master/ib/data/extract/download_ib_data.py
  instrument_master/ib/data/extract/gateway/download_data_ib_loop.py
  instrument_master/ib/data/extract/gateway/utils.py
  instrument_master/ib/data/extract/ib_data_extractor.py
  instrument_master/ib/data/load/ib_file_path_generator.py
  instrument_master/ib/data/load/ib_s3_data_loader.py
  instrument_master/ib/data/load/test/test_file_path_generator.py
  instrument_master/ib/data/load/test/test_s3_data_loader.py
  instrument_master/ib/metadata/ib_symbols.py
  instrument_master/kibot/data/load/kibot_file_path_generator.py
  instrument_master/kibot/data/load/kibot_s3_data_loader.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

fixed README
  instrument_master/README.md
Due: lint_md

Lint README
  instrument_master/README.md
Due: lint_md

Checkpoint
  devops/docker_build/conda.yml
  test/test_task.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  devops/makefiles/general.mk
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  test/TestTasks.test_git_clean1/output/test.txt
  test/TestTasks.test_git_clean2/output/test.txt
  test/TestTasks.test_git_pull1/output/test.txt
  test/TestTasks.test_git_pull2/output/test.txt
  test/TestTasks.test_git_pull_master1/output/test.txt
  test/TestTasks.test_git_pull_master2/output/test.txt
  test/TestTasks.test_print_setup1/output/test.txt
  test/TestTasks.test_print_setup2/output/test.txt
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1206: Cut the data if it is bigger than required, add tests
  instrument_master/ib/data/extract/gateway/download_data_ib_loop.py
  instrument_master/ib/data/extract/gateway/test/Test_get_historical_data.test_get_historical_data_with_IB_loop2/output/test.txt
  instrument_master/ib/data/extract/gateway/test/Test_get_historical_data.test_get_historical_data_with_IB_loop4/output/test.txt
  instrument_master/ib/data/extract/gateway/test/Test_get_historical_data.test_get_historical_data_with_IB_loop6/output/test.txt
  instrument_master/ib/data/extract/gateway/test/Test_get_historical_data.test_get_historical_data_with_IB_loop7/output/test.txt
  instrument_master/ib/data/extract/gateway/test/Test_get_historical_data.test_ib_loop_generator1/output/test.txt
  instrument_master/ib/data/extract/gateway/test/Test_get_historical_data.test_ib_loop_generator2/output/test.txt
  instrument_master/ib/data/extract/gateway/test/test_download_data_ib_loop.py
  instrument_master/ib/data/extract/gateway/test/test_ib_utils.py
  instrument_master/ib/data/extract/gateway/test/utils.py
  instrument_master/ib/data/extract/gateway/utils.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1206: lint
  instrument_master/ib/data/extract/gateway/download_data_ib_loop.py
  instrument_master/ib/data/extract/gateway/test/test_download_data_ib_loop.py
  instrument_master/ib/data/extract/gateway/test/test_ib_utils.py
  instrument_master/ib/data/extract/gateway/test/utils.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Impove readability
  instrument_master/ib/data/extract/gateway/download_data_ib_loop.py
  instrument_master/ib/data/extract/gateway/test/test_ib_utils.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

PartTask8226: skip tests
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

PartTask8226: disable tests
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

DevToolsTask186: Sync helpers with dev_tools
  helpers/git.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/dbg.py
  helpers/git.py
  helpers/printing.py
  helpers/system_interaction.py
  helpers/test/test_git.py
  instrument_master/README.md
  lib_tasks.py
  tasks.py
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Fix test
  helpers/test/test_git.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  instrument_master/ib/data/load/ib_sql_data_loader.py
  lib_tasks.py
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  devops/docker_build/poetry.lock
  devops/docker_build/pyproject.toml
  lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_no_x1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_no_x1/output/test.txt
  core/information_bars/test/TestBars.test_get_dollar_bars/output/test.txt
  core/information_bars/test/TestBars.test_get_tick_bars/output/test.txt
  core/information_bars/test/TestBars.test_get_volume_bars/output/test.txt
  core/test/TestModelStatsComputer.test_all_stats/output/test.txt
  core/test/TestModelStatsComputer.test_none_returns/output/test.txt
  core/test/TestModelStatsComputer.test_only_positions/output/test.txt
  core/test/TestSeriesStatsComputer.test_all_stats/output/test.txt
  core/test/Test_compute_avg_turnover_and_holding_period.test1/output/test.txt
  core/test/Test_compute_avg_turnover_and_holding_period.test2/output/test.txt
  core/test/Test_compute_avg_turnover_and_holding_period.test3/output/test.txt
  core/test/Test_compute_avg_turnover_and_holding_period.test4/output/test.txt
  core/test/Test_compute_bet_stats.test1/output/test.txt
  core/test/Test_compute_bet_stats.test2/output/test.txt
  core/test/Test_compute_bet_stats.test3/output/test.txt
  core/test/Test_summarize_time_index_info.test1/output/test.txt
  core/test/Test_summarize_time_index_info.test2/output/test.txt
  core/test/Test_summarize_time_index_info.test3/output/test.txt
  core/test/Test_summarize_time_index_info.test4/output/test.txt
  core/test/Test_summarize_time_index_info.test5/output/test.txt
  core/test/Test_summarize_time_index_info.test6/output/test.txt
  devops/docker_build/poetry.lock
  devops/docker_build/pyproject.toml
  helpers/test/TestFilterDataByMethod.test1/output/test.txt
  helpers/test/Test_system1.test7/output/test.txt
  instrument_master/ib/data/load/test/TestS3IbDataLoader1.test_read_data1/output/test.txt
  instrument_master/ib/data/load/test/TestS3IbDataLoader1.test_read_data2/output/test.txt
  instrument_master/ib/data/load/test/TestS3IbDataLoader1.test_read_data3/output/test.txt
  instrument_master/ib/data/load/test/TestS3IbDataLoader1.test_read_data_with_start_end_ts/output/test.txt
Due: none

Checkpoint for code merging toml files for poetry
  dev_scripts/toml_merge.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  dev_scripts/test/test_toml_merge.py
  dev_scripts/toml_merge.py
  lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  .pre-commit-config.yaml
  dev_scripts/test/test_toml_merge.py
  dev_scripts/toml_merge.py
  lib_tasks.py
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo
