Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  doc_formatter: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  processjupytext: any of: \.py$
  lint_md: any of: \.(md|markdown|mdown)$
  method_order: any of: \.py$
  check_filename: any of: \.py$
  clean_import: any of: \.py$
  format_separating_line: any of: \.py$
  warn_incorrectly_formatted_todo: any of: \.py$

AmpTask1186: script revision - don't yield the data if empty
  instrument_master/ib/data/extract/gateway/download_data_ib_loop.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

removed from future
  instrument_master/common/metadata/symbols.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Improve comments
  instrument_master/README.md
  instrument_master/app/services/loader_factory.py
  instrument_master/app/services/sql_writer_factory.py
  instrument_master/app/services/transformer_factory.py
  instrument_master/code_layout.md
  instrument_master/common/data/extract/data_extractor.py
  instrument_master/common/data/load/data_loader.py
  instrument_master/common/data/load/file_path_generator.py
  instrument_master/common/data/load/s3_data_loader.py
  instrument_master/common/data/load/sql_data_loader.py
  instrument_master/common/data/types.py
  instrument_master/common/db/init.py
  instrument_master/common/db/sql/ib.sql
  instrument_master/common/db/test/test_init.py
  instrument_master/common/sql_writer_backend.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Improve comments
  instrument_master/code_layout.md
  instrument_master/common/sql_writer_backend.py
  instrument_master/devops/compose/docker-compose.local.yml
  instrument_master/devops/compose/docker-compose.test.yml
  instrument_master/devops/compose/docker-compose.yml
  instrument_master/devops/docker_build/entrypoints/entrypoint_app_only.sh
  instrument_master/devops/docker_build/entrypoints/entrypoint_deploy.sh
  instrument_master/devops/docker_scripts/init_im_db.py
  instrument_master/devops/docker_scripts/sanity_check_ib.py
  instrument_master/devops/env/local.env
  instrument_master/devops/env/test.env
  instrument_master/devops/makefiles/project_specific.mk
  instrument_master/devops/requirements.txt
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Improve comments
  devops/docker_scripts/run_fast_tests.sh
  devops/makefiles/general.mk
  instrument_master/devops/docker_scripts/run_fast_tests.sh
  instrument_master/devops/makefiles/project_specific.mk
Due: none

Improve comments
  instrument_master/code_layout.md
  instrument_master/devops/docker_scripts/run_fast_tests.sh
  instrument_master/ib/data/extract/data_extractor.py
  instrument_master/ib/data/extract/gateway/.env/local.env
  instrument_master/ib/data/extract/gateway/.env/prod.env
  instrument_master/ib/data/extract/gateway/download_benchmark.py
  instrument_master/ib/data/extract/gateway/download_data_ib_loop.py
  instrument_master/ib/data/extract/gateway/gallery/README.txt
  instrument_master/ib/data/extract/gateway/gallery/requirements.txt
  instrument_master/ib/data/extract/gateway/metadata.py
  instrument_master/ib/data/extract/gateway/notebooks/AmpTask1086_Get_metadata_for_futures_universe.ipynb
  instrument_master/ib/data/extract/gateway/notebooks/AmpTask1086_Get_metadata_for_futures_universe.py
  instrument_master/ib/data/extract/gateway/notebooks/Task114_Download_futures_price_data_from_IB.ipynb
  instrument_master/ib/data/extract/gateway/notebooks/Task114_Download_futures_price_data_from_IB.py
  instrument_master/ib/data/extract/gateway/notebooks/gallery_ib_insync.ipynb
  instrument_master/ib/data/extract/gateway/notebooks/gallery_ib_insync.py
  instrument_master/ib/data/extract/gateway/save_historical_data_with_IB_loop.py
  instrument_master/ib/data/extract/gateway/scratch/exercise_ib.py
  instrument_master/ib/data/extract/gateway/scratch/exercise_ibapi.py
  instrument_master/ib/data/extract/gateway/scratch/exercise_ibapi2.py
  instrument_master/ib/data/extract/gateway/test/utils.py
  instrument_master/ib/data/extract/gateway/utils.py
  instrument_master/ib/data/load/file_path_generator.py
  instrument_master/kibot/data/extract/download.py
  instrument_master/kibot/metadata/extract/download_adjustments.py
  instrument_master/kibot/metadata/extract/download_ticker_lists.py
  instrument_master/kibot/metadata/load/s3_backend.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Improve comments
  instrument_master/app/transform/convert_s3_to_sql.py
  instrument_master/code_layout.md
  instrument_master/common/test/utils.py
  instrument_master/ib/test/test_sql_writer_backend.py
  instrument_master/kibot/base/command.py
  instrument_master/kibot/data/extract/check_realtime_feed.py
  instrument_master/kibot/data/extract/run_downloader.sh
  instrument_master/kibot/data/extract/test/test_kibot_data_download.py
  instrument_master/kibot/data/load/dataset_name_parser.py
  instrument_master/kibot/data/load/file_path_generator.py
  instrument_master/kibot/data/load/s3_data_loader.py
  instrument_master/kibot/data/load/test/test_file_path_generator.py
  instrument_master/kibot/data/load/test/test_s3_data_loader.py
  instrument_master/kibot/data/load/test/test_sql_data_loader.py
  instrument_master/kibot/data/transform/s3_to_sql_transformer.py
  instrument_master/kibot/metadata/load/kibot_metadata.py
  instrument_master/kibot/test/test_sql_writer_backend.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Lint
  instrument_master/code_layout.md
  instrument_master/common/data/load/data_loader.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Implement TODO
  devops/compose/docker-compose-jupyter.yml
  devops/makefiles/general.mk
Due: none

Checkpoint
  helpers/notebooks/notebook_skeleton.ipynb
  helpers/notebooks/notebook_skeleton.py
  helpers/sql.py
  instrument_master/app/Master_IM_DB.ipynb
  instrument_master/app/Master_IM_DB.py
  instrument_master/app/print_db_connection.py
  instrument_master/common/db/init.py
  instrument_master/common/test/utils.py
  instrument_master/kibot/data/load/test/test_sql_data_loader.py
  instrument_master/kibot/data/transform/convert_s3_to_sql_kibot.py
  instrument_master/kibot/data/transform/s3_to_sql_transformer.py
  instrument_master/kibot/metadata/types.py
  instrument_master/kibot/test/test_sql_writer_backend.py
  pre-commit.sh
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/sql.py
  instrument_master/common/test/utils.py
  instrument_master/devops/makefiles/project_specific.mk
  instrument_master/kibot/sql_writer_backend.py
  instrument_master/kibot/test/test_sql_writer_backend.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  instrument_master/devops/docker_scripts/run_fast_tests.sh
  instrument_master/devops/makefiles/project_specific.mk
  instrument_master/devops/requirements.txt
Due: none

Checkpoint
  Makefile
  devops/makefiles/development.mk
  devops/makefiles/general.mk
  instrument_master/Makefile
Due: none

Checkpoint
  devops/makefiles/general.mk
Due: none

Checkpoint
  devops/makefiles/development.mk
Due: none

Leftover from AmpTask1179_Audit_IM_03
  instrument_master/app/notebooks/Master_IM_DB.ipynb
  instrument_master/app/notebooks/Master_IM_DB.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  instrument_master/app/Master_IM_DB.ipynb
  instrument_master/app/Master_IM_DB.py
  instrument_master/kibot/data/load/test/test_s3_data_loader.py
  instrument_master/kibot/data/load/test/test_sql_data_loader.py
  instrument_master/kibot/metadata/load/ticker_lists.py
  instrument_master/kibot/metadata/test/test_load.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1195: high-level symbols interface
  instrument_master/common/data/types.py
  instrument_master/common/metadata/symbols.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1195: added example of implemetation for IB
  instrument_master/ib/metadata/ib_symbols.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1161:
  instrument_master/devops/compose/docker-compose.multistage.yml
  instrument_master/devops/create-multiple-postgresql-databases.sh
  instrument_master/devops/env/multistage.postgres.env
  instrument_master/devops/makefiles/project_specific.mk
Due: none

AmpTask1186: Follow-ups from the past
  instrument_master/app/services/loader_factory.py
  instrument_master/app/services/sql_writer_factory.py
  instrument_master/app/services/transformer_factory.py
  instrument_master/common/data/transform/transform.py
  instrument_master/common/sql_writer_backend.py
  instrument_master/ib/data/extract/download_ib_data.py
  instrument_master/ib/data/extract/ib_data_extractor.py
  instrument_master/ib/data/load/ib_file_path_generator.py
  instrument_master/ib/data/load/ib_s3_data_loader.py
  instrument_master/ib/data/load/ib_sql_data_loader.py
  instrument_master/ib/data/load/test/test_file_path_generator.py
  instrument_master/ib/data/load/test/test_s3_data_loader.py
  instrument_master/ib/data/transform/ib_s3_to_sql_transformer.py
  instrument_master/ib/data/transform/test/test_transform.py
  instrument_master/ib/ib_sql_writer_backend.py
  instrument_master/ib/test/TestIbSqlWriterBackend1.test_get_remaining_data_to_load/output/test.txt
  instrument_master/ib/test/test_sql_writer_backend.py
  instrument_master/kibot/__init__.py
  instrument_master/kibot/data/load/__init__.py
  instrument_master/kibot/data/load/dataset_name_parser.py
  instrument_master/kibot/data/load/kibot_file_path_generator.py
  instrument_master/kibot/data/load/kibot_s3_data_loader.py
  instrument_master/kibot/data/load/kibot_sql_data_loader.py
  instrument_master/kibot/data/load/test/test_file_path_generator.py
  instrument_master/kibot/data/load/test/test_sql_data_loader.py
  instrument_master/kibot/data/transform/convert_s3_to_sql_kibot.py
  instrument_master/kibot/data/transform/kibot_s3_to_sql_transformer.py
  instrument_master/kibot/kibot_sql_writer_backend.py
  instrument_master/kibot/metadata/load/kibot_metadata.py
  instrument_master/kibot/notebooks/gallery_kibot.ipynb
  instrument_master/kibot/notebooks/gallery_kibot.py
  instrument_master/kibot/notebooks/kibot_data_analysis.ipynb
  instrument_master/kibot/notebooks/kibot_volume_statistics.ipynb
  instrument_master/kibot/notebooks/kibot_volume_statistics.py
  instrument_master/kibot/test/TestSqlWriterBackend1.test_get_remaining_data_to_load/output/test.txt
  instrument_master/kibot/test/test_sql_writer_backend.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1161:
  instrument_master/devops/compose/docker-compose.multistage.yml
Due: none

AmpTask1186: lint
  instrument_master/app/services/loader_factory.py
  instrument_master/app/services/sql_writer_factory.py
  instrument_master/app/services/transformer_factory.py
  instrument_master/common/data/transform/transform.py
  instrument_master/common/sql_writer_backend.py
  instrument_master/ib/data/extract/download_ib_data.py
  instrument_master/ib/data/extract/ib_data_extractor.py
  instrument_master/ib/data/load/ib_file_path_generator.py
  instrument_master/ib/data/load/ib_s3_data_loader.py
  instrument_master/ib/data/load/ib_sql_data_loader.py
  instrument_master/ib/data/load/test/test_file_path_generator.py
  instrument_master/ib/data/load/test/test_s3_data_loader.py
  instrument_master/ib/data/transform/ib_s3_to_sql_transformer.py
  instrument_master/ib/data/transform/test/test_transform.py
  instrument_master/ib/ib_sql_writer_backend.py
  instrument_master/ib/test/TestIbSqlWriterBackend1.test_get_remaining_data_to_load/output/test.txt
  instrument_master/ib/test/test_sql_writer_backend.py
  instrument_master/kibot/__init__.py
  instrument_master/kibot/data/load/dataset_name_parser.py
  instrument_master/kibot/data/load/kibot_file_path_generator.py
  instrument_master/kibot/data/load/kibot_s3_data_loader.py
  instrument_master/kibot/data/load/kibot_sql_data_loader.py
  instrument_master/kibot/data/load/test/test_file_path_generator.py
  instrument_master/kibot/data/load/test/test_sql_data_loader.py
  instrument_master/kibot/data/transform/convert_s3_to_sql_kibot.py
  instrument_master/kibot/data/transform/kibot_s3_to_sql_transformer.py
  instrument_master/kibot/kibot_sql_writer_backend.py
  instrument_master/kibot/metadata/load/kibot_metadata.py
  instrument_master/kibot/test/TestSqlWriterBackend1.test_get_remaining_data_to_load/output/test.txt
  instrument_master/kibot/test/test_sql_writer_backend.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1161:
  instrument_master/devops/compose/docker-compose.dev.yml
  instrument_master/devops/env/dev.postgres.env
Due: none

Fix old renamings
  core/dataflow_source_nodes.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1161:
  instrument_master/devops/makefiles/project_specific.mk
Due: none

Checkpoint
  instrument_master/app/services/loader_factory.py
  instrument_master/code_layout.md
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1161: checkpoint
  instrument_master/Makefile
  instrument_master/devops/compose/docker-compose.local.yml
  instrument_master/devops/compose/docker-compose.yml
  instrument_master/devops/docker_build/im_db_loader_worker.dev.Dockerfile
  instrument_master/devops/env/local/airflow.env
  instrument_master/devops/env/local/airflow_postgres.env
  instrument_master/devops/env/local/general.env
  instrument_master/devops/env/local/im_postgres_config.env
  instrument_master/devops/env/local/worker_config.env
  instrument_master/devops/makefiles/project_specific.mk
  instrument_master/devops/makefiles/stage_local.mk
Due: none

AmpTask1195: PR comments resolving
  instrument_master/common/metadata/symbols.py
  instrument_master/ib/metadata/ib_symbols.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1161: setup dev stage
  apps/im/.env/local/postgres
  apps/im/compose/docker-compose.local.yml
  apps/im/docker_build/dev.Dockerfile
  apps/im/docker_build/entrypoints/entrypoint_app_only.sh
  apps/im/makefiles/setup.mk
  apps/im/makefiles/stage_dev.mk
  apps/im/makefiles/stage_local.mk
  apps/im/makefiles/stage_multistage.mk
  instrument_master/app/transform/convert_s3_to_sql.py
  instrument_master/devops/compose/docker-compose.local.yml
  instrument_master/devops/dags/im_infra.py
  instrument_master/devops/docker_build/airflow_files/airflow_configs/local.airflow.cfg
  instrument_master/devops/docker_build/airflow_files/airflow_configs/requirements.txt
  instrument_master/devops/docker_build/airflow_files/airflow_worker/prebuildfs/build/bitnami-user.sh
  instrument_master/devops/docker_build/airflow_files/airflow_worker/prebuildfs/build/install-nami.sh
  instrument_master/devops/docker_build/airflow_files/airflow_worker/prebuildfs/opt/bitnami/.bitnami_components.json
  instrument_master/devops/docker_build/airflow_files/airflow_worker/prebuildfs/opt/bitnami/base/functions
  instrument_master/devops/docker_build/airflow_files/airflow_worker/prebuildfs/opt/bitnami/base/helpers
  instrument_master/devops/docker_build/airflow_files/airflow_worker/prebuildfs/opt/bitnami/licenses/licenses.txt
  instrument_master/devops/docker_build/airflow_files/airflow_worker/prebuildfs/usr/sbin/bitnami-pkg
  instrument_master/devops/docker_build/airflow_files/airflow_worker/prebuildfs/usr/sbin/install_packages
  instrument_master/devops/docker_build/airflow_files/airflow_worker/rootfs/airflow-worker-inputs.json
  instrument_master/devops/docker_build/airflow_files/airflow_worker/rootfs/app-entrypoint.sh
  instrument_master/devops/docker_build/airflow_files/airflow_worker/rootfs/opt/bitnami/scripts/locales/add-extra-locales.sh
  instrument_master/devops/docker_build/airflow_files/airflow_worker/rootfs/run.sh
  instrument_master/devops/docker_build/entrypoints/entrypoint_worker.sh
  instrument_master/devops/docker_build/im_db_loader_worker.dev.Dockerfile
  instrument_master/devops/docker_scripts/init_im_db.py
  instrument_master/devops/env/local/airflow.env
  instrument_master/devops/env/local/worker_db_loader.env
  instrument_master/devops/makefiles/stage_local.mk
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  instrument_master/app/services/loader_factory.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  Makefile
  instrument_master/devops/compose/docker-compose.local.yml
  instrument_master/devops/compose/docker-compose.test.yml
  instrument_master/devops/compose/docker-compose.yml
  instrument_master/devops/create-multiple-postgresql-databases.sh
  instrument_master/devops/docker_build/entrypoints/entrypoint_app_only.sh
  instrument_master/devops/docker_build/entrypoints/entrypoint_deploy.sh
  instrument_master/devops/docker_build/entrypoints/entrypoint_worker.sh
  instrument_master/devops/docker_build/im_db_loader_worker.dev.Dockerfile
  instrument_master/devops/docker_scripts/sanity_check_ib.py
  instrument_master/devops/env/local/airflow_postgres.env
  instrument_master/devops/env/local/im_postgres_config.env
  instrument_master/devops/makefiles/project_specific.mk
  instrument_master/devops/makefiles/stage_local.mk
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

PartTask8081: Clean up helpers.datetime_.to_datetime()
  helpers/datetime_.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Add a test for dates with another separators
  helpers/test/test_datetime_.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1195: Added IBSymbolUniverse implementation
  instrument_master/common/metadata/symbols.py
  instrument_master/ib/data/config.py
  instrument_master/ib/metadata/__init__.py
  instrument_master/ib/metadata/ib_symbols.py
  instrument_master/ib/metadata/test/TestIbSymbolNamespace.test_parse_symbols_file1/input/test_symbols.csv
  instrument_master/ib/metadata/test/TestIbSymbolNamespace.test_parse_symbols_file1/output/test.txt
  instrument_master/ib/metadata/test/TestIbSymbolNamespace.test_parse_symbols_file2/output/test.txt
  instrument_master/ib/metadata/test/__init__.py
  instrument_master/ib/metadata/test/test_ib_symbols.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1195: method renamings
  instrument_master/common/metadata/symbols.py
  instrument_master/ib/metadata/test/TestIbSymbolNamespace.test_parse_symbols_file1/output/test.txt
  instrument_master/ib/metadata/test/TestIbSymbolNamespace.test_parse_symbols_file2/output/test.txt
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1195: Added new line at outcome
  instrument_master/ib/metadata/test/TestIbSymbolNamespace.test_parse_symbols_file2/output/test.txt
  instrument_master/ib/metadata/test/test_ib_symbols.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1207: - fix by Artem's comments
  instrument_master/common/data/load/abstract_data_loader.py
  instrument_master/common/data/load/sql_data_loader.py
  instrument_master/ib/data/load/ib_s3_data_loader.py
  instrument_master/ib/data/load/test/test_s3_data_loader.py
  instrument_master/kibot/data/load/kibot_s3_data_loader.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1207: - Fix tests - Add test for date type check - Fix imports
  instrument_master/app/services/loader_factory.py
  instrument_master/common/data/load/__init__.py
  instrument_master/common/data/load/abstract_data_loader.py
  instrument_master/common/data/load/sql_data_loader.py
  instrument_master/common/data/transform/transform.py
  instrument_master/common/sql_writer_backend.py
  instrument_master/ib/data/load/ib_s3_data_loader.py
  instrument_master/ib/data/load/test/TestS3IbDataLoader1.test_dtypes1/output/test.txt
  instrument_master/ib/data/load/test/test_s3_data_loader.py
  instrument_master/ib/test/test_sql_writer_backend.py
  instrument_master/kibot/data/load/futures_forward_contracts.py
  instrument_master/kibot/data/load/kibot_s3_data_loader.py
  instrument_master/kibot/test/test_sql_writer_backend.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo
