Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

.pre-commit-config.yaml:

default_stages: ["commit"]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: no-commit-to-branch
        args: ["--pattern", '^(?!(Part|Amp|Infra)Task\d+_\S+).*$']
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ["--maxkb=500"]
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.13.1
    hooks:
      - id: gitlint
        stages: [commit-msg]
        entry: gitlint
        # B6 Body message is missing.
        args: [--contrib=CT1, --ignore=B6, --msg-filename]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-crlf
      - id: remove-tabs
        args: ["--whitespaces-count", "4"]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.3.2
    hooks:
      - id: isort
        entry: isort
  - repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.3
    hooks:
      - id: autoflake
        args: [-i, --remove-all-unused-imports, --remove-unused-variables]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: p1_black.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: flake8
        name: flake8
        entry: p1_flake8.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: doc_formatter
        name: doc_formatter
        entry: p1_doc_formatter.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "docformatter"]
      - id: pylint
        name: pylint
        entry: p1_pylint.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: mypy
        name: mypy
        entry: p1_mypy.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: processjupytext
        name: processjupytext
        entry: p1_processjupytext.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: lint_md
        name: lint_md
        entry: p1_lint_md.py
        language: python
        types: [markdown]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: fix_comments
        name: fix_comments
        entry: p1_fix_comments.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "more_itertools"]
      - id: method_order
        name: method_order
        entry: p1_class_method_order.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_fillename
        name: check_filename
        entry: p1_check_filename.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_import
        name: check_import
        entry: p1_check_import.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: format_separating_line
        name: format_separating_line
        entry: p1_format_separating_line.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: warn_incorrectly_formatted_todo
        name: warn_incorrectly_formatted_todo
        entry: p1_warn_incorrectly_formatted_todo.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_shebang
        name: check_shebang
        entry: p1_check_shebang.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]

refactor: rename data.py to data_loader.py #730
  vendors2/kibot/data/load/__init__.py
  vendors2/kibot/data/load/data_loader.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

test: add an integration test for read_data #730
  vendors2/kibot/data/load/test/TestKibotDataLoader.test1/output/test.txt
  vendors2/kibot/data/load/test/test_data_loader.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

test: bypass cache in data loader test #730
  vendors2/kibot/data/load/data_loader.py
  vendors2/kibot/data/load/test/test_data_loader.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Improve documentation
  documentation/general/author_guidelines.md
Due: lint_md

PartTask4736: Add basic slippage estimate
  core/model_evaluator.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Stop plotting empty years in TimeSeriesAnalyzer
  core/timeseries_study.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Fix num_cols type hint
  core/dataframe_modeler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Fix summarize_time_index_info for all-nan series
  core/statistics.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Replace columns with index
  core/statistics.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Update test outcome
  core/test/Test_summarize_time_index_info.test2/output/test.txt
Due: none

PartTask4717: Add warning for empty series
  core/statistics.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Add tqdm to calculate_stats
  core/dataframe_modeler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Improve documentation
  documentation/general/team_list.md
Due: lint_md

PartTest4770: Disable failing test
  vendors2/kibot/data/load/test/test_data_loader.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Move to other repo
  documentation/general/team_list.md
Due: lint_md

AmpTask727: find path to script without git
  documentation/scripts/lint_txt.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Add type
  helpers/dataframe.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Add playback test
  helpers/test/TestFilterDataByMethod.test1/output/test.txt
  helpers/test/test_dataframe.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4746: Fix the docs
  documentation/technical/playback.md
Due: lint_md

Checkpoint notes on calculating returns, pnl, stats.
  documentation/technical/backtesting_design.md
Due: lint_md

PartTask4717: Expose kwargs in plot_dendrogram
  core/dataframe_modeler.py
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Make branches shorter so that the logic is clearer
  core/statistics.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Update lint_txt.py
  documentation/scripts/lint_txt.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Add more notes on pnl and leverage
  documentation/technical/backtesting_design.md
Due: lint_md

Remove code moved to dev_scripts
  dev_scripts/linter2/Dockerfile
  dev_scripts/linter2/__init__.py
  dev_scripts/linter2/base.py
  dev_scripts/linter2/init_precommit.sh
  dev_scripts/linter2/p1_black.py
  dev_scripts/linter2/p1_check_filename.py
  dev_scripts/linter2/p1_check_import.py
  dev_scripts/linter2/p1_check_shebang.py
  dev_scripts/linter2/p1_class_method_order.py
  dev_scripts/linter2/p1_clean_import.py
  dev_scripts/linter2/p1_doc_formatter.py
  dev_scripts/linter2/p1_fix_comments.py
  dev_scripts/linter2/p1_flake8.py
  dev_scripts/linter2/p1_format_separating_line.py
  dev_scripts/linter2/p1_lint_md.py
  dev_scripts/linter2/p1_mypy.py
  dev_scripts/linter2/p1_processjupytext.py
  dev_scripts/linter2/p1_pylint.py
  dev_scripts/linter2/p1_warn_incorrectly_formatted_todo.py
  dev_scripts/linter2/requirements.txt
  dev_scripts/linter2/test/__init__.py
  dev_scripts/linter2/test/test_amp_dev_scripts.py
  dev_scripts/linter2/test/test_docformatter.py
  dev_scripts/linter2/test/test_p1_check_filename.py
  dev_scripts/linter2/test/test_p1_check_import.py
  dev_scripts/linter2/test/test_p1_check_shebang.py
  dev_scripts/linter2/test/test_p1_class_method_order.py
  dev_scripts/linter2/test/test_p1_clean_import.py
  dev_scripts/linter2/test/test_p1_fix_comment.py
  dev_scripts/linter2/test/test_p1_format_separating_line.py
  dev_scripts/linter2/test/test_p1_lint_md.py
  dev_scripts/linter2/test/test_p1_warn_incorrectly_formatted_todo.py
  dev_scripts/linter2/utils.py
  documentation/general/precommit.md
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Remove dead tests
  dev_scripts/test/test_amp_dev_scripts.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Further expand notes
  documentation/technical/backtesting_design.md
Due: lint_md

Small tweaks
  documentation/technical/backtesting_design.md
Due: lint_md

test: test kibot interface can access existing s3 data #766
  vendors2/kibot/data/load/file_path_generator.py
  vendors2/kibot/data/load/test/test_file_path_generator.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Read data from csv instead of defining in the code
  helpers/test/TestFilterDataByMethod.test1/input/test.txt
  helpers/test/TestFilterDataByMethod.test1/output/test.txt
  helpers/test/test_dataframe.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Replace disable_tqdm param with progress_bar
  core/dataframe_modeler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Add requested comment
  core/dataframe_modeler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Add Nones when series has no freq
  core/statistics.py
  core/test/Test_summarize_time_index_info.test2/output/test.txt
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Rename kwargs and make them a dict
  core/dataframe_modeler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4738: Fix volatility normalization and fix time shift bug.
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint
  core/model_evaluator.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4738: Fix premises of VolatilityModel test. Update outcomes.
  core/dataflow/test/TestContinuousSarimaxModel.test_fit1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_no_x1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_no_x1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_predict_dag1/output/test.txt
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4738: Skip test until server calculation update
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4736: Split off pnl, position computation from evaluation class.
  core/model_evaluator.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang
