Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  doc_formatter: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  processjupytext: any of: \.py$
  lint_md: any of: \.(md|markdown|mdown)$
  method_order: any of: \.py$
  check_filename: any of: \.py$
  clean_import: any of: \.py$
  format_separating_line: any of: \.py$
  warn_incorrectly_formatted_todo: any of: \.py$

Checkpoint
  core/test/TestModelStatsComputer.test_all_stats/output/test.txt
  dev_scripts/toml_merge.py
  lib_tasks.py
  mypy.ini
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  test/TestTasks.test_docker_images_ls_repo/output/test.txt
  test/TestTasks.test_docker_kill_all/output/test.txt
  test/TestTasks.test_docker_kill_last/output/test.txt
  test/TestTasks.test_docker_login/output/test.txt
  test/TestTasks.test_docker_ps/output/test.txt
  test/TestTasks.test_docker_stats/output/test.txt
  test/TestTasks.test_git_clean1/output/test.txt
  test/TestTasks.test_git_clean2/output/test.txt
  test/TestTasks.test_print_setup1/output/test.txt
Due: none

Checkpoint
  dev_scripts/test/test_toml_merge.py
  dev_scripts/toml_merge.py
  helpers/playback.md
  helpers/playback.py
  lib_tasks.py
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Add unit tests
  dev_scripts/test/test_toml_merge.py
  dev_scripts/toml_merge.py
  helpers/playback.md
  helpers/playback.py
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Improve script and add unit tests
  dev_scripts/toml_merge.py
  helpers/io_.py
  helpers/printing.py
  helpers/test/Test_sort_dictionary.test1/output/test.txt
  helpers/test/test_printing.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  dev_scripts/toml_merge.py
  devops/docker_build/pyproject.toml
  poetry.toml
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Update Docker image
  devops/docker_build/dev.Dockerfile
  devops/docker_build/install_requirements.sh
Due: none

Checkpoint
  .dockerignore
  devops/docker_build/dev.Dockerfile
  devops/docker_build/install_requirements.sh
  devops/docker_build/poetry.lock
  devops/docker_build/pyproject.toml
Due: none

Update Docker image
  dev_scripts/setenv_amp.sh
  devops/docker_build/dev.Dockerfile
  devops/docker_build/init.sh
  devops/docker_build/init/install_jupyter_extensions.sh
  devops/docker_build/init/jupyter_server_setup.sh
  devops/docker_build/install_requirements.sh
Due: none

Checkpoint
  devops/docker_build/dev.Dockerfile
  devops/docker_build/init.sh
  devops/docker_build/init/install_jupyter_extensions.sh
  devops/docker_build/install_requirements.sh
  devops/docker_build/pyproject.toml
Due: none

Checkpoint
  devops/docker_build/dev.Dockerfile
  devops/docker_build/entrypoint.sh
  devops/docker_build/gh_action_entrypoint.sh
  devops/docker_build/init.sh
  devops/docker_build/init/install_jupyter_extensions.sh
  devops/docker_build/install_requirements.sh
  instrument_master/devops/docker_build/entrypoints/entrypoint_app_only.sh
  instrument_master/devops/docker_build/entrypoints/entrypoint_deploy.sh
  instrument_master/devops/docker_build/entrypoints/entrypoint_worker.sh
Due: none

Checkpoint
  devops/docker_build/install_requirements.sh
  devops/docker_build/poetry.lock
Due: none

Checkpoint
  devops/docker_build/init/install_jupyter_extensions.sh
  devops/docker_build/install_requirements.sh
Due: none

Checkpoint
  devops/docker_build/dev.Dockerfile
  lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  devops/docker_build/cleanup.sh
  devops/docker_build/dev.Dockerfile
  devops/docker_build/install_jupyter_extensions.sh
Due: none

Checkpoint
  devops/docker_build/cleanup.sh
  devops/docker_build/dev.Dockerfile
  lib_tasks.py
  tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  devops/compose/docker-compose-user-space-git-subrepo.yml
  devops/compose/docker-compose-user-space.yml
  devops/docker_build/cleanup.sh
  devops/docker_build/dev.Dockerfile
  devops/docker_build/entrypoint.sh
  devops/docker_build/entrypoint/aws_credentials.sh
  devops/docker_build/entrypoint/patch_environment_variables.sh
  devops/docker_build/install_requirements.sh
Due: none

Checkpoint
  devops/compose/docker-compose-jupyter.yml
  devops/docker_build/cleanup.sh
  devops/docker_build/dev.Dockerfile
  devops/docker_build/entrypoint.sh
  devops/docker_build/entrypoint/patch_environment_variables.sh
  devops/docker_build/gh_action_entrypoint.sh
  devops/docker_build/init.sh
  devops/docker_build/install_requirements.sh
  devops/docker_build/test/test_mount_fsx.sh
  devops/docker_build/test/test_mount_s3.sh
  devops/docker_scripts/run_jupyter_server.sh
  lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  devops/docker_build/dev.Dockerfile
  devops/docker_build/install_requirements.sh
Due: none

Checkpoint
  devops/docker_build/init_bash.sh
  devops/docker_build/install_requirements.sh
Due: none

AmpTask1247: Add ARMA source node
  core/dataflow_source_nodes.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1247: Add comments and change order of classes.
  core/dataflow_source_nodes.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  lib_tasks.py
  tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

LemTask134: Checkpoint
  core/dataflow/runner.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_no_x1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_no_x1/output/test.txt
  core/test/TestModelStatsComputer.test_all_stats/output/test.txt
  helpers/test/Test_system1.test7/output/test.txt
  lib_tasks.py
  tasks.py
  test/TestTasks.test_docker_images_ls_repo/output/test.txt
  test/TestTasks.test_print_setup1/output/test.txt
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Lint
  dev_scripts/toml_merge.py
  helpers/io_.py
  helpers/printing.py
  helpers/test/test_printing.py
  lib_tasks.py
  tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Improve code
  lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

LemTask134: Add docstrings and comments.
  core/dataflow/runner.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/printing.py
  lib_tasks.py
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Add unit tests
  lib_tasks.py
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Lint
  lib_tasks.py
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Add more tests
  devops/docker_scripts/run_jupyter_server.sh
  helpers/pytest_.py
  helpers/system_interaction.py
  lib_tasks.py
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  lib_tasks.py
  tasks.py
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

All unit tests passing
  lib_tasks.py
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Get unit tests to pass
  instrument_master/ib/data/load/test/test_file_path_generator.py
  instrument_master/ib/data/load/test/test_s3_data_loader.py
  test/TestDryRunTasks1.test_docker_images_ls_repo/output/test.txt
  test/TestDryRunTasks1.test_docker_kill_all/output/test.txt
  test/TestDryRunTasks1.test_docker_kill_last/output/test.txt
  test/TestDryRunTasks1.test_docker_login/output/test.txt
  test/TestDryRunTasks1.test_docker_ps/output/test.txt
  test/TestDryRunTasks1.test_docker_stats/output/test.txt
  test/TestDryRunTasks1.test_git_clean1/output/test.txt
  test/TestDryRunTasks1.test_git_clean2/output/test.txt
  test/TestDryRunTasks1.test_git_pull1/output/test.txt
  test/TestDryRunTasks1.test_git_pull2/output/test.txt
  test/TestDryRunTasks1.test_git_pull_master1/output/test.txt
  test/TestDryRunTasks1.test_git_pull_master2/output/test.txt
  test/TestDryRunTasks1.test_print_setup1/output/test.txt
  test/TestDryRunTasks1.test_print_setup2/output/test.txt
  test/TestTasks.test_docker_images_ls_repo/output/test.txt
  test/TestTasks.test_docker_login/output/test.txt
  test/TestTasks.test_docker_ps/output/test.txt
  test/TestTasks.test_docker_stats/output/test.txt
  test/TestTasks.test_print_setup/output/test.txt
  test/TestTasks.test_print_setup1/output/test.txt
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

LemTask134: make import fixes
  core/dataflow/runner.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Start working on GH actions
  .github/workflows.OLD/build_image.yml
  .github/workflows.OLD/fast_tests.yml
  .github/workflows.OLD/ib_connector.build_image.yml
  .github/workflows.OLD/linter.yml
  .github/workflows.OLD/slow_tests.yml
  .github/workflows.OLD/superslow_tests.yml
  lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

LemTask134: fix dtf imports
  core/dataflow/runner.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Enable some actions
  .github/workflows/build_image.yml
Due: none
