Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

.pre-commit-config.yaml:

default_stages: ["commit"]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: no-commit-to-branch
        args: ["--pattern", '^(?!(Part|Amp|Infra)Task\d+_\S+).*$']
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ["--maxkb=500"]
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.13.1
    hooks:
      - id: gitlint
        stages: [commit-msg]
        entry: gitlint
        # B6 Body message is missing.
        args: [--contrib=CT1, --ignore=B6, --msg-filename]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-crlf
      - id: remove-tabs
        args: ["--whitespaces-count", "4"]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.3.2
    hooks:
      - id: isort
        entry: isort
  - repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.3
    hooks:
      - id: autoflake
        args: [-i, --remove-all-unused-imports, --remove-unused-variables]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: p1_black.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: flake8
        name: flake8
        entry: p1_flake8.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: doc_formatter
        name: doc_formatter
        entry: p1_doc_formatter.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "docformatter"]
      - id: pylint
        name: pylint
        entry: p1_pylint.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: mypy
        name: mypy
        entry: p1_mypy.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: processjupytext
        name: processjupytext
        entry: p1_processjupytext.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: lint_md
        name: lint_md
        entry: p1_lint_md.py
        language: python
        types: [markdown]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: fix_comments
        name: fix_comments
        entry: p1_fix_comments.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "more_itertools"]
      - id: method_order
        name: method_order
        entry: p1_class_method_order.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_fillename
        name: check_filename
        entry: p1_check_filename.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_import
        name: check_import
        entry: p1_check_import.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: format_separating_line
        name: format_separating_line
        entry: p1_format_separating_line.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: warn_incorrectly_formatted_todo
        name: warn_incorrectly_formatted_todo
        entry: p1_warn_incorrectly_formatted_todo.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_shebang
        name: check_shebang
        entry: p1_check_shebang.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]

Improve documentation
  documentation/general/architecture_diagrams.md
Due: lint_md

PartTask4615: Add initial documentation for C4 conventions
  documentation/general/architecture_diagrams.md
Due: lint_md

PartTask4615: Edits and improvements
  documentation/general/architecture_diagrams.md
Due: lint_md

Add script to measure import times
  dev_scripts/measure_import_times.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Improve script
  dev_scripts/measure_import_times.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4655: Fix volatility model prediction method so that it does not modify state.
  core/dataflow/nodes.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4655: Add dataflow models to an exploratory class.
  core/timeseries_study.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4655: Improve docstrings
  core/timeseries_study.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4655: Move DataFrameModeler and change return type to allow chaining.
  core/dataflow/__init__.py
  core/dataflow/explorer.py
  core/timeseries_study.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4655: Lint
  core/dataflow/explorer.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4655: Add more dataflow operations to DataFrameModeler.
  core/dataflow/explorer.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4655: Expand built-in functionality of DataFrameModeler.
  core/dataflow/explorer.py
  core/dataflow/nodes.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTAsk4655: Add comments, improve info handling.
  core/dataflow/explorer.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4655: Add compute_ret_0 convenience method.
  core/dataflow/explorer.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Lint
  core/dataflow/explorer.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Remove reference to repo
  dev_scripts/git/git_submodules.py
  dev_scripts/git/git_submodules_clean.sh
  dev_scripts/git/git_submodules_roll_fwd.sh
  dev_scripts/github/labels/set_labels.sh
  dev_scripts/grsync.py
  documentation/general/setup_dev_environment.md
  helpers/git.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Move documentation closer to code
  vendors2/kibot/instrument_master_architecture.md
  vendors2/kibot/kibot.md
Due: lint_md

Render the IM documentation
  vendors2/kibot/instrument_master_architecture.md
  vendors2/kibot/plantuml-images/instrument_master_architecture.1.png
  vendors2/kibot/plantuml-images/instrument_master_architecture.2.png
  vendors2/kibot/plantuml-images/instrument_master_architecture.3.png
Due: lint_md

PartTask4680: Implement volatilty rescaling for aggregate and fix minor bugs.
  core/model_evaluator.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4680: Lint and improve docstring
  core/model_evaluator.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask154: updates after review, added tests for render_md.py
  dev_scripts/notebooks/publish_notebook.py
  documentation/scripts/pandoc.py
  documentation/scripts/render_md.py
  documentation/scripts/test/Test_render_md1.test_render_command1/output/test.txt
  documentation/scripts/test/Test_render_md1.test_render_plantuml1/output/test.txt
  documentation/scripts/test/Test_render_md1.test_render_plantuml2/output/test.txt
  documentation/scripts/test/Test_render_md1.test_render_plantuml3/output/test.txt
  documentation/scripts/test/Test_render_md1.test_render_plantuml4/output/test.txt
  documentation/scripts/test/Test_render_md1.test_uml_file_names1/output/test.txt
  documentation/scripts/test/Test_render_md1.test_uml_file_names2/output/test.txt
  documentation/scripts/test/test_all.py
  helpers/open.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask154: removed rel path test because it is working only on 1 machine
  documentation/scripts/test/Test_render_md1.test_uml_file_names2/output/test.txt
  documentation/scripts/test/test_all.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask154: lint
  documentation/scripts/render_md.py
  documentation/scripts/test/test_all.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask154: Refactored tests, added tests for helpers/open.py
  documentation/scripts/test/Test_render_md2.test_render_command1/output/test.txt
  documentation/scripts/test/Test_render_md3.test_render_plantuml1/output/test.txt
  documentation/scripts/test/Test_render_md3.test_render_plantuml2/output/test.txt
  documentation/scripts/test/Test_render_md3.test_render_plantuml3/output/test.txt
  documentation/scripts/test/Test_render_md3.test_render_plantuml4/output/test.txt
  documentation/scripts/test/test_all.py
  documentation/scripts/test/test_render_md.py
  helpers/test/Test_open2.test1/output/test.txt
  helpers/test/Test_open2.test2/output/test.txt
  helpers/test/Test_open2.test3/output/test.txt
  helpers/test/Test_open3.test1/output/test.txt
  helpers/test/test_open.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask154: fixed tests
  documentation/scripts/test/test_render_md.py
  helpers/test/test_open.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTAsk4868: Improve defaults
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4686: Initial class sketch checkpoint
  core/dataframe_plotter.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4686: Lint
  core/dataframe_plotter.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4686: Add function to correlate columns of a dataframe with their lags
  core/signal_processing.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4686: Add docstrings, add a correlation-with-lags method, add ins and oos property accessors.
  core/dataflow/explorer.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4686: Lint
  core/dataflow/explorer.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4686: Add stats methods
  core/dataflow/explorer.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4686: Collapse two classes into one and reorganize.
  core/dataframe_modeler.py
  core/dataframe_plotter.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4686: Lint
  core/dataframe_modeler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4686: Fix lints and silence lags warning
  core/dataframe_modeler.py
  core/statistics.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4686: Remove obsolete import
  core/dataflow/__init__.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4686: Update kpss test outcomes following auto lag setting
  core/test/TestApplyKpssTest.test1/output/test.txt
  core/test/TestApplyKpssTest.test2/output/test.txt
  core/test/TestApplyKpssTest.test5/output/test.txt
  core/test/TestApplyKpssTest.test7/output/test.txt
Due: none

PartTask4686: More test updates due to kpss lags default value change
  core/test/TestMapDictToDataframeTest1.test1/output/test.txt
  core/test/TestMapDictToDataframeTest1.test2/output/test.txt
  core/test/TestMapDictToDataframeTest1.test3/output/test.txt
Due: none
