Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

.pre-commit-config.yaml:

default_stages: ["commit"]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: no-commit-to-branch
        args: ["--pattern", '^(?!(Part|Amp|Infra)Task\d+_\S+).*$']
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ["--maxkb=500"]
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.13.1
    hooks:
      - id: gitlint
        stages: [commit-msg]
        entry: gitlint
        # B6 Body message is missing.
        args: [--contrib=CT1, --ignore=B6, --msg-filename]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-crlf
      - id: remove-tabs
        args: ["--whitespaces-count", "4"]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.3.2
    hooks:
      - id: isort
        entry: isort
  - repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.3
    hooks:
      - id: autoflake
        args: [-i, --remove-all-unused-imports, --remove-unused-variables]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: p1_black.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: flake8
        name: flake8
        entry: p1_flake8.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: doc_formatter
        name: doc_formatter
        entry: p1_doc_formatter.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "docformatter"]
      - id: pylint
        name: pylint
        entry: p1_pylint.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: mypy
        name: mypy
        entry: p1_mypy.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: processjupytext
        name: processjupytext
        entry: p1_processjupytext.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: lint_md
        name: lint_md
        entry: p1_lint_md.py
        language: python
        types: [markdown]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: fix_comments
        name: fix_comments
        entry: p1_fix_comments.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "more_itertools"]
      - id: method_order
        name: method_order
        entry: p1_class_method_order.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_fillename
        name: check_filename
        entry: p1_check_filename.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_import
        name: check_import
        entry: p1_check_import.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: format_separating_line
        name: format_separating_line
        entry: p1_format_separating_line.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: warn_incorrectly_formatted_todo
        name: warn_incorrectly_formatted_todo
        entry: p1_warn_incorrectly_formatted_todo.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_shebang
        name: check_shebang
        entry: p1_check_shebang.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]

AmpTask1006: return api interface to a simple version.
  vendors2/kibot/data/load/data_loader.py
  vendors2/kibot/data/load/s3_data_loader.py
  vendors2/kibot/data/load/sql_data_loader.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Update test params
  vendors2/kibot/metadata/test/test_kibot_metadata.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Update test outcomes
  vendors2/kibot/metadata/test/test_kibot_metadata.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask6053: Select min number of components and series in PCA
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

remove checking
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5887: Update sigp.accumulate tests
  core/test/Test_accumulate.test4/output/test.txt
  core/test/Test_accumulate.test_long_step1/output/test.txt
  core/test/test_signal_processing.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask6829: convert SARIMAX model summary to dataframes
  core/dataflow/models.py
  core/dataflow/test/TestContinuousSarimaxModel.test_summary/output/test.txt
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

tests check
  core/dataflow/test/TestContinuousSarimaxModel.test_summary/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_multiple_columns/output/test.txt
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

tests update
  core/dataflow/test/TestContinuousSarimaxModel.test_summary/output/test.txt
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask6035: PCA empty output
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7256: Add test
  core/dataflow/test/Test_get_df_info_as_string.test1/output/test.txt
  core/dataflow/test/test_nodes.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7256: Add an option to remove memory usage information
  core/dataflow/nodes.py
  core/dataflow/test/Test_get_df_info_as_string.test2/output/test.txt
  core/dataflow/test/test_nodes.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7256: Update test outcomes
  core/dataflow/test/TestPredictionResultBundle.test_to_config1/output/test.txt
  core/dataflow/test/TestResultBundle.test_from_config1/output/test.txt
  core/dataflow/test/TestResultBundle.test_to_config1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_multiple_columns/output/test.txt
Due: none

PartTask7256: Update test outcomes
  core/test/TestDataFrameModeler.test_apply_sklearn_model_fit_with_oos/output/test.txt
  core/test/TestDataFrameModeler.test_apply_sklearn_model_fit_without_oos/output/test.txt
  core/test/TestDataFrameModeler.test_apply_sklearn_model_predict_with_oos/output/test.txt
  core/test/TestDataFrameModeler.test_dump_json1/output/test.txt
Due: none

Improve comments. No functionality changes
  .github/workflows/build_image.yml
  .github/workflows/fast_tests.yml
  .github/workflows/slow_tests.yml
  .github/workflows/superslow_tests.yml
  docker-compose.yml
  docker_build/Dockerfile
  docker_build/entrypoint.sh
  docker_build/gh_action_entrypoint.sh
  docker_build/init.sh
  docker_build/install_requirements.sh
  docker_build/run_fast_tests.sh
  docker_build/run_jupyter_server.sh
  docker_build/run_slow_tests.sh
  docker_build/run_superslow_tests.sh
Due: none

PartTask7263: Implement OHLCV resampling function.
  core/finance.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7263: make lint_branch
  core/finance.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Make the messages more uniform and use yellow for all warnings
  docker_build/test/test_mount_fsx.sh
  docker_build/test/test_mount_s3.sh
  docker_build/test/test_volumes.sh
Due: none

Improve comments
  makefiles/general/docker.mk
Due: none

Improve output
  docker_build/test/test_mount_fsx.sh
  docker_build/test/test_mount_s3.sh
  docker_build/test/test_volumes.sh
Due: none

Finally login automatically before pulling docker images
  makefiles/general/docker.mk
Due: none

Improve spacing and comments
  makefiles/repo_specific/tests.mk
Due: none

Improve the test runners
  docker_build/run_fast_tests.sh
  docker_build/run_slow_tests.sh
  docker_build/run_superslow_tests.sh
Due: none

Add support for resampling bars in handling futures forward curves.
  core/finance.py
  vendors2/kibot/data/load/futures_forward_contracts.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

make lint_branch
  vendors2/kibot/data/load/futures_forward_contracts.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

warnings
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

unlint comments
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

column names in test
  core/test/Test_accumulate.test4/output/test.txt
  core/test/test_signal_processing.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

add test for future prediction
  core/finance.py
  core/test/test_finance.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

wip - not all tests
  core/dataflow/models.py
  core/dataflow/test/TestContinuousSarimaxModel.test_summary/output/test.txt
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

test update
  core/dataflow/test/TestContinuousSarimaxModel.test_summary/output/test.txt
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

undo removing spaces
  core/dataflow/test/TestContinuousSarimaxModel.test_summary/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_multiple_columns/output/test.txt
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7192: Return fig in time_series_study
  core/dataframe_modeler.py
  core/timeseries_study.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7263: fix vwap, twap resampling bug.
  core/finance.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask1021: add a handshake rule
  documentation/general/buildmeister_guidelines.md
Due: lint_md

Add tqdm bars.
  vendors_amp/kibot/data/load/futures_forward_contracts.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

make lint_branch
  vendors_amp/kibot/data/load/futures_forward_contracts.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang
