Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Path conditions:
  isort: any of: \.py$, but not: .txt
  black: any of: \.py$, but not: .txt
  flake8: any of: \.py$, but not: .txt
  doc_formatter: any of: \.py$, but not: .txt
  pylint: any of: \.py$, but not: .txt
  mypy: any of: \.py$, but not: .txt
  processjupytext: any of: \.py$, but not: .txt
  lint_md: any of: \.(md|markdown|mdown)$, but not: .txt
  method_order: any of: \.py$, but not: .txt
  check_filename: any of: \.py$, but not: .txt
  clean_import: any of: \.py$, but not: .txt
  format_separating_line: any of: \.py$, but not: .txt
  warn_incorrectly_formatted_todo: any of: \.py$, but not: .txt

Checkpoint
  core/model_evaluator.py
  core/model_plotter.py
  core/plotting.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/dataflow_model/notebooks/Master_pipeline_runner.ipynb
Due: none

Move ModelEvaluator and ModelPlotter to core/dataflow_model
  core/dataflow_model/__init__.py
  core/dataflow_model/model_evaluator.py
  core/dataflow_model/model_plotter.py
  core/dataflow_model/notebooks/Master_model_analyzer.ipynb
  core/dataflow_model/notebooks/Master_model_analyzer.py
  core/dataflow_model/test/TestModelEvaluator.test_dump_json1/output/test.txt
  core/dataflow_model/test/test_model_evaluator.py
  helpers/test/test_lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/dataflow_model/notebooks/Master_pipeline_runner.py
  core/dataflow_model/notebooks/Master_result_analyzer.ipynb
  core/dataflow_model/notebooks/Master_result_analyzer.py
  helpers/test/test_lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  devops/docker_build/fstab
  instrument_master/app/notebooks/Master_IM_DB.ipynb
  instrument_master/app/notebooks/Master_IM_DB.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/dataflow/nodes/unsupervised_sklearn_models.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Lint
  core/dataflow/nodes/unsupervised_sklearn_models.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1424: Remove refs
  README.md
  core/dataflow_model/notebooks/Master_pipeline_runner.ipynb
  dev_scripts/email_notify.py
  documentation/general/email.md
  helpers/old/user_credentials.py
  instrument_master/kibot/data/extract/run_downloader.sh
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1424: Remove refs
  instrument_master/airflow/devops/dags/im_infra.py
  instrument_master/airflow/devops/env/local/airflow.env
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1424: Remove refs
  setup.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/config_builders.py
  dev_scripts/notebooks/run_notebook.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/config_builders.py
  core/dataflow_model/run_pipeline.py
  core/dataflow_model/utils.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/config_builders.py
  core/dataflow_model/master_pipeline.py
  core/dataflow_model/notebooks/Master_pipeline_runner.ipynb
  core/dataflow_model/notebooks/Master_pipeline_runner.py
  core/dataflow_model/run_pipeline.py
  core/dataflow_model/utils.py
  dev_scripts/notebooks/run_notebook.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/config_builders.py
  core/dataflow_model/architecture.md
  core/dataflow_model/master_pipeline.py
  core/dataflow_model/run_pipeline.py
  core/dataflow_model/run_pipeline_stub.py
  core/dataflow_model/utils.py
  dev_scripts/notebooks/run_notebook.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/config_builders.py
  core/dataflow_model/run_pipeline.py
  core/dataflow_model/utils.py
  dev_scripts/notebooks/run_notebook.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/config_builders.py
  core/dataflow_model/architecture.md
  core/dataflow_model/master_pipeline.py
  core/dataflow_model/run_pipeline.py
  core/dataflow_model/run_pipeline_stub.py
  core/dataflow_model/utils.py
  dev_scripts/notebooks/run_notebook.py
  dev_scripts/traceback_to_cfile.py
  helpers/lib_tasks.py
  helpers/parser.py
  helpers/test/test_traceback.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  dev_scripts/traceback_to_cfile.py
  helpers/git.py
  helpers/system_interaction.py
  helpers/test/test_traceback.py
  helpers/traceback_helper.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/system_interaction.py
  helpers/test/test_traceback.py
  helpers/traceback_helper.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/git.py
  helpers/system_interaction.py
  helpers/test/test_traceback.py
  helpers/traceback_helper.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/git.py
  helpers/system_interaction.py
  helpers/traceback_helper.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/dataflow_model/run_pipeline.py
  core/dataflow_model/utils.py
  helpers/git.py
  helpers/system_interaction.py
  helpers/test/test_traceback.py
  helpers/traceback_helper.py
  helpers/unit_test.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/config_builders.py
  core/dataflow_model/run_pipeline.py
  core/dataflow_model/utils.py
  dev_scripts/notebooks/run_notebook.py
  helpers/dbg.py
  helpers/test/test_dbg.py
  helpers/test/test_traceback.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/config_builders.py
  core/dataflow_model/run_pipeline.py
  core/dataflow_model/run_pipeline_stub.py
  core/dataflow_model/utils.py
  helpers/dbg.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/config_builders.py
  core/dataflow/nodes/transformers.py
  core/dataflow_model/architecture.md
  core/dataflow_model/master_pipeline.py
  core/dataflow_model/run_pipeline.py
  core/dataflow_model/run_pipeline_stub.py
  core/dataflow_model/utils.py
  dev_scripts/notebooks/run_notebook.py
  dev_scripts/traceback_to_cfile.py
  helpers/git.py
  helpers/lib_tasks.py
  helpers/system_interaction.py
  helpers/test/test_dbg.py
  helpers/test/test_traceback.py
  helpers/traceback_helper.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/config_builders.py
  core/dataflow/nodes/transformers.py
  core/dataflow_model/architecture.md
  core/dataflow_model/model_evaluator.py
  core/dataflow_model/model_plotter.py
  core/dataflow_model/run_pipeline.py
  core/dataflow_model/run_pipeline_stub.py
  core/dataflow_model/utils.py
  dev_scripts/traceback_to_cfile.py
  helpers/dbg.py
  helpers/git.py
  helpers/lib_tasks.py
  helpers/system_interaction.py
  helpers/test/test_dbg.py
  helpers/test/test_traceback.py
  helpers/traceback_helper.py
  helpers/unit_test.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/dataflow/core.py
  core/dataflow/nodes/transformers.py
  core/dataflow_model/architecture.md
  core/dataflow_model/utils.py
  dev_scripts/notebooks/run_notebook.py
  helpers/dbg.py
  helpers/git.py
  helpers/lib_tasks.py
  helpers/system_interaction.py
  helpers/test/test_dbg.py
  helpers/test/test_traceback.py
  helpers/traceback_helper.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/plotting.py
  dev_scripts/traceback_to_cfile.py
  helpers/dbg.py
  helpers/git.py
  helpers/lib_tasks.py
  helpers/parser.py
  helpers/system_interaction.py
  helpers/test/test_dbg.py
  helpers/test/test_traceback.py
  helpers/traceback_helper.py
  helpers/unit_test.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Update deps
  .github/gh_requirements.txt
  dev_scripts/client_setup/requirements.txt
Due: none

Fixes to get run_notebook work
  core/dataflow_model/run_pipeline_stub.py
  core/dataflow_model/utils.py
  dev_scripts/notebooks/run_notebook.py
  dev_scripts/notebooks/test/simple_notebook.ipynb
  dev_scripts/notebooks/test/simple_notebook.py
  dev_scripts/test/test_run_notebook.py
  dev_scripts/traceback_to_cfile.py
  helpers/system_interaction.py
  helpers/test/Test_get_dir_signature.test1/result_0/config.pkl
  helpers/test/Test_get_dir_signature.test1/result_0/config.txt
  helpers/test/Test_get_dir_signature.test1/result_0/run_notebook.0.log
  helpers/test/Test_get_dir_signature.test1/result_1/config.pkl
  helpers/test/Test_get_dir_signature.test1/result_1/config.txt
  helpers/test/Test_get_dir_signature.test1/result_1/run_notebook.1.log
  helpers/test/test_unit_test.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/config_builders.py
  core/dataflow_model/architecture.md
  core/dataflow_model/master_pipeline.py
  core/dataflow_model/run_pipeline.py
  core/dataflow_model/utils.py
  dev_scripts/notebooks/run_notebook.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Rename *pipeline to *experiment
  core/config_builders.py
  core/dataflow_model/master_experiment.py
  core/dataflow_model/notebooks/Master_experiment_runner.ipynb
  core/dataflow_model/notebooks/Master_experiment_runner.py
  core/dataflow_model/run_experiment_stub.py
  core/dataflow_model/run_pipeline.py
  core/dataflow_model/utils.py
  dev_scripts/traceback_to_cfile.py
  helpers/test/test_traceback.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Improve documentation and clean some rough edges
  core/dataflow_model/architecture.md
  core/dataflow_model/run_experiment.py
  core/dataflow_model/run_experiment_stub.py
  core/dataflow_model/utils.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Add unit tests
  helpers/test/Test_get_dir_signature1.test1/input/result_0/config.pkl
  helpers/test/Test_get_dir_signature1.test1/input/result_0/config.txt
  helpers/test/Test_get_dir_signature1.test1/input/result_0/run_notebook.0.log
  helpers/test/Test_get_dir_signature1.test1/input/result_1/config.pkl
  helpers/test/Test_get_dir_signature1.test1/input/result_1/config.txt
  helpers/test/Test_get_dir_signature1.test1/input/result_1/run_notebook.1.log
  helpers/test/Test_get_dir_signature1.test2/output/test.txt
  helpers/test/test_unit_test.py
  helpers/unit_test.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Add unit tests
  core/dataflow_model/test/simple_experiment.py
  core/dataflow_model/test/test_run_experiment.py
  dev_scripts/test/test_run_notebook.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Add progress bar argument
  core/dataflow/nodes/volatility_models.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Lint
  core/dataflow/nodes/volatility_models.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo
