Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

.pre-commit-config.yaml:

default_stages: ["commit"]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: no-commit-to-branch
        args: ["--pattern", '^(?!(Part|Amp|Infra)Task\d+_\S+).*$']
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ["--maxkb=500"]
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.13.1
    hooks:
      - id: gitlint
        stages: [commit-msg]
        entry: gitlint
        # B6 Body message is missing.
        args: [--contrib=CT1, --ignore=B6, --msg-filename]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-crlf
      - id: remove-tabs
        args: ["--whitespaces-count", "4"]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.3.2
    hooks:
      - id: isort
        entry: isort
  - repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.3
    hooks:
      - id: autoflake
        args: [-i, --remove-all-unused-imports, --remove-unused-variables]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: p1_black.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: flake8
        name: flake8
        entry: p1_flake8.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: doc_formatter
        name: doc_formatter
        entry: p1_doc_formatter.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "docformatter"]
      - id: pylint
        name: pylint
        entry: p1_pylint.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: mypy
        name: mypy
        entry: p1_mypy.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: processjupytext
        name: processjupytext
        entry: p1_processjupytext.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: lint_md
        name: lint_md
        entry: p1_lint_md.py
        language: python
        types: [markdown]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: fix_comments
        name: fix_comments
        entry: p1_fix_comments.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "more_itertools"]
      - id: method_order
        name: method_order
        entry: p1_class_method_order.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_fillename
        name: check_filename
        entry: p1_check_filename.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_import
        name: check_import
        entry: p1_check_import.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: format_separating_line
        name: format_separating_line
        entry: p1_format_separating_line.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: warn_incorrectly_formatted_todo
        name: warn_incorrectly_formatted_todo
        entry: p1_warn_incorrectly_formatted_todo.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_shebang
        name: check_shebang
        entry: p1_check_shebang.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]

Elaboration on comments
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

DevToolsTask88: added render_md.py documentation, changed default behaviour
  documentation/general/architecture_diagrams.md
  documentation/scripts/render_md.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

slightly changed example
  documentation/general/unit_tests.md
Due: lint_md

fixed typo
  documentation/general/unit_tests.md
Due: lint_md

Update `Connect PR to issue` section.
  documentation/general/github_zenhub.md
  documentation/general/images/github_zenhub/zenhub_connect_PR_to_issue.png
Due: lint_md

Minor fix.
  documentation/general/github_zenhub.md
Due: lint_md

Changing to select_series_to_keep function
  core/plotting.py
  core/test/test_plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5441: Change model results format in info
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Add script (and test rolling forward submodules)
  dev_scripts/export_vars.sh
Due: none

Improve c4 documentation, add our `plantuml` conventions.
  documentation/general/architecture_diagrams.md
Due: lint_md

Remove edge labels header.
  documentation/general/architecture_diagrams.md
Due: lint_md

Reintroduce edge labels header.
  documentation/general/architecture_diagrams.md
Due: lint_md

post-review changes
  docker_build/entrypoint/patch_environment_variables.sh
  documentation/general/architecture_diagrams.md
  documentation/scripts/render_md.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask849 follow up
  helpers/playback.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Lint
  documentation/general/architecture_diagrams.md
Due: lint_md

PartTask5561: Update outcome
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_with_constant1/output/test.txt
Due: none

PartTask5561: Include all prediction steps in node output
  core/dataflow/models.py
  core/dataflow/test/TestContinuousSarimaxModel.test_compare_to_linear_regression1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_compare_to_linear_regression2/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_fit1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_no_x1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_step_one1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_with_constant1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict2/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_different_intervals1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_no_x1/output/test.txt
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5561: Skip test
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5557: Add underlying data change to build break reasons
  documentation/general/buildmeister_guidelines.md
Due: lint_md

Fix linter issues in cache and conda
  helpers/cache.py
  helpers/conda.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Use keyword argument when passing `figsize` to not mess up with `method`
  core/dataframe_modeler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Update Sprint related documentation.
  documentation/general/github_zenhub.md
Due: lint_md

Add review fixes, lint fixes for csv.py and mypy.ini
  helpers/cache.py
  helpers/conda.py
  helpers/csv.py
  mypy.ini
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Add lint fixes for helpers: dict, docker_manager, env, git
  helpers/dict.py
  helpers/docker_manager.py
  helpers/env.py
  helpers/git.py
  mypy.ini
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Add fixes for helper files
  helpers/introspection.py
  helpers/numba_.py
  helpers/open.py
  helpers/pickle_.py
  helpers/s3.py
  helpers/send_email.py
  helpers/sql.py
  helpers/timer.py
  helpers/translate.py
  mypy.ini
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Add fixes for unit_test helper
  helpers/unit_test.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Revert comment change
  helpers/sql.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5729: Extend predictions when exog is provided
  core/dataflow/models.py
  core/dataflow/test/TestContinuousSarimaxModel.test_fit1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_step_one1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_with_constant1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict2/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_different_intervals1/output/test.txt
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Add linter fixes for helpers
  helpers/telegram_notify/config.py
  helpers/telegram_notify/get_chat_id.py
  helpers/telegram_notify/telegram_notify.py
  helpers/timer.py
  helpers/user_credentials.py
  mypy.ini
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Revert back comment formatting
  helpers/user_credentials.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5458: Add plot_projection to dataframe modeler
  core/dataframe_modeler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5755: Rotate dendrogram labels
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

adding plotting function
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Add option to ylim
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Modifying drawdown plotting function
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Add some linter fixes for telegram scripts
  helpers/telegram_notify/get_chat_id.py
  helpers/telegram_notify/telegram_notify.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5801: unpin pandas-datareader
  dev_scripts/install/requirements/amp_develop.yaml
Due: none

Applying changes
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5801: Update test outcomes after pandas update
  core/test/TestComputeInterarrivalTimeStats.test2/output/test.txt
  core/test/TestComputeInterarrivalTimeStats.test3/output/test.txt
Due: none

PartTask5834: Restrict number of lags to half of data size
  core/dataframe_modeler.py
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang
