Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

black:
  name: black
  entry: p1_black.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

flake8:
  name: flake8
  entry: p1_flake8.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

doc_formatter:
  name: doc_formatter
  entry: p1_doc_formatter.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib
  - docformatter

pylint:
  name: pylint
  entry: p1_pylint.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

mypy:
  name: mypy
  entry: p1_mypy.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

processjupytext:
  name: processjupytext
  entry: p1_processjupytext.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

lint_md:
  name: lint_md
  entry: p1_lint_md.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

fix_comments:
  name: fix_comments
  entry: p1_fix_comments.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib
  - more_itertools

method_order:
  name: method_order
  entry: p1_class_method_order.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

check_fillename:
  name: check_filename
  entry: p1_check_filename.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

check_import:
  name: check_import
  entry: p1_check_import.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

format_separating_line:
  name: format_separating_line
  entry: p1_format_separating_line.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

warn_incorrectly_formatted_todo:
  name: warn_incorrectly_formatted_todo
  entry: p1_warn_incorrectly_formatted_todo.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

check_shebang:
  name: check_shebang
  entry: p1_check_shebang.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

Move functions inside methods calls and add tests
  core/stats_computer.py
  core/test/test_stats_computer.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

add tests goldens
  core/test/TestStatsComputer.test_model_stats/output/test.txt
  core/test/TestStatsComputer.test_none_returns/output/test.txt
  core/test/TestStatsComputer.test_only_positions/output/test.txt
  core/test/TestStatsComputer.test_series_stats/output/test.txt
Due: none

Apply Julia stuff
  vendors_amp/kibot/Dockerfile
  vendors_amp/kibot/Makefile
  vendors_amp/kibot/README.md
  vendors_amp/kibot/compose/entrypoint_local_test.sh
Due: lint_md

Improve exploring functions
  core/explore.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Lint
  core/explore.py
  helpers/printing.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Improve
  core/explore.py
  helpers/dbg.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Fix issue with cache on macOS
  helpers/cache.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Fix typo
  helpers/cache.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7321 plot_time_series_study fix
  core/timeseries_study.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask942: update init scripts
  docker_build/init/download_nltk_dicts.sh
  docker_build/init/download_spacy_dicts.sh
  docker_build/init/download_textblob_dicts.sh
  docker_build/init/install_jupyter_extensions.sh
  docker_build/init/jupyter_server_setup.sh
Due: none

AmpTask953: Added tests workflow
  vendors_amp/kibot/Dockerfile
  vendors_amp/kibot/Makefile
  vendors_amp/kibot/compose/docker-compose.local.yml
  vendors_amp/kibot/compose/docker-compose.test.yml
  vendors_amp/kibot/compose/docker-compose.yml
  vendors_amp/kibot/compose/entrypoints/entrypoint_deploy_postgres.sh
  vendors_amp/kibot/compose/scripts/run_fast_tests.sh
  vendors_amp/kibot/compose/scripts/run_slow_tests.sh
  vendors_amp/kibot/compose/scripts/run_superslow_tests.sh
  vendors_amp/kibot/env/test.env
  vendors_amp/kibot/sql_writer_backend.py
  vendors_amp/kibot/test/test_sql_writer_backend.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask953: Added tests for reading
  vendors_amp/kibot/data/load/sql_data_loader.py
  vendors_amp/kibot/data/load/test/TestSqlWriterBackend1.test_read_data1/output/test.txt
  vendors_amp/kibot/data/load/test/TestSqlWriterBackend1.test_read_data2/output/test.txt
  vendors_amp/kibot/data/load/test/test_sql_data_loader.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask953: lint
  vendors_amp/kibot/Dockerfile
  vendors_amp/kibot/Makefile
  vendors_amp/kibot/README.md
  vendors_amp/kibot/compose/docker-compose.test.yml
  vendors_amp/kibot/compose/scripts/run_fast_tests.sh
  vendors_amp/kibot/data/load/test/test_sql_data_loader.py
  vendors_amp/kibot/test/test_sql_writer_backend.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask953: make path to test narrow for slow and superslow kibot testswq
  vendors_amp/kibot/compose/scripts/run_slow_tests.sh
  vendors_amp/kibot/compose/scripts/run_superslow_tests.sh
Due: none

PartTask3105: Create an iPCA plotting function
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask953: make tests run in parallel, move things to right places, rename make shortcuts
  vendors_amp/kibot/Dockerfile
  vendors_amp/kibot/Makefile
  vendors_amp/kibot/compose/entrypoints/entrypoint_deploy_postgres.sh
  vendors_amp/kibot/data/load/test/TestSqlDataLoader1.test_read_data1/output/test.txt
  vendors_amp/kibot/data/load/test/TestSqlDataLoader1.test_read_data2/output/test.txt
  vendors_amp/kibot/data/load/test/test_sql_data_loader.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

fix docstring and names
  core/model_plotter.py
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

clarify indexing in docstring
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Improve documentation
  helpers/dbg.py
  vendors_amp/kibot/README.md
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Separate tests for different classes
  core/test/TestModelStatsComputer.test_all_stats/output/test.txt
  core/test/TestModelStatsComputer.test_none_returns/output/test.txt
  core/test/TestModelStatsComputer.test_only_positions/output/test.txt
  core/test/TestSeriesStatsComputer.test_all_stats/output/test.txt
  core/test/TestStatsComputer.test_all_stats/output/test.txt
  core/test/test_stats_computer.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

reorder stats like in model_evaluator
  core/stats_computer.py
  core/test/TestModelStatsComputer.test_all_stats/output/test.txt
  core/test/TestModelStatsComputer.test_none_returns/output/test.txt
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7475: Make VolatilityModel support a wider variety of types
  core/dataflow/models.py
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

linter
  core/dataflow/models.py
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

unlint comment
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7476: Propagate and to
  core/dataframe_modeler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

apply colmode mixin
  core/dataflow/models.py
  core/dataflow/test/TestVolatilityModel.test_fit_int_columns/output/test.txt
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Improve logging
  helpers/dbg.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Add fuzzy matching to self.assert_equal
  helpers/unit_test.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

docstring and fixed names
  core/stats_computer.py
  core/test/TestStatsComputer.test_model_stats/output/test.txt
  core/test/TestStatsComputer.test_none_returns/output/test.txt
  core/test/TestStatsComputer.test_only_positions/output/test.txt
  core/test/TestStatsComputer.test_series_stats/output/test.txt
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

linter
  core/stats_computer.py
  core/test/test_stats_computer.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

expand docstring
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

fix docstring and titles
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7463: First commit
  vendors_amp/common/__init__.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7463: remove to pq transformation
  vendors_amp/kibot/data/transform/convert_csv_to_pq.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7463: Move normalizers from transform to load part since it is not used in transform anymore
  vendors_amp/kibot/data/load/s3_data_loader.py
  vendors_amp/kibot/data/transform/normalizers.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

fixed typo
  vendors_amp/kibot/data/load/s3_data_loader.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7463: Copy convert csv to sql from sql to common
  vendors_amp/common/data/__init__.py
  vendors_amp/common/data/transform/__init__.py
  vendors_amp/common/data/transform/convert_csv_to_sql.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask942: lint
  docker-compose-jupyter.yml
  docker_build/entrypoint/aws_credentials.sh
  docker_build/fstab
  docker_build/init/download_nltk_dicts.sh
  docker_build/init/download_spacy_dicts.sh
  docker_build/init/download_textblob_dicts.sh
  makefiles/repo_specific/setup.mk
Due: none

AmpTask942: revert docker pull
  makefiles/general/docker.mk
Due: none

PartTask7463: Add method to add exchange
  vendors_amp/kibot/sql_writer_backend.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  doc_formatter: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  processjupytext: any of: \.py$
  lint_md: any of: \.(md|markdown|mdown)$
  fix_comments: any of: \.py$
  method_order: any of: \.py$
  check_fillename: any of: \.py$
  check_import: any of: \.py$
  format_separating_line: any of: \.py$
  warn_incorrectly_formatted_todo: any of: \.py$
  check_shebang: any of: \.py$
