Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

.pre-commit-config.yaml:

default_stages: ["commit"]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: no-commit-to-branch
        args: ["--pattern", '^(?!(Part|Amp|Infra)Task\d+_\S+).*$']
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ["--maxkb=500"]
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.13.1
    hooks:
      - id: gitlint
        stages: [commit-msg]
        entry: gitlint
        # B6 Body message is missing.
        args: [--contrib=CT1, --ignore=B6, --msg-filename]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-crlf
      - id: remove-tabs
        args: ["--whitespaces-count", "4"]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.3.2
    hooks:
      - id: isort
        entry: isort
  - repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.3
    hooks:
      - id: autoflake
        args: [-i, --remove-all-unused-imports, --remove-unused-variables]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: p1_black.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: flake8
        name: flake8
        entry: p1_flake8.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: doc_formatter
        name: doc_formatter
        entry: p1_doc_formatter.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "docformatter"]
      - id: pylint
        name: pylint
        entry: p1_pylint.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: mypy
        name: mypy
        entry: p1_mypy.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: processjupytext
        name: processjupytext
        entry: p1_processjupytext.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: lint_md
        name: lint_md
        entry: p1_lint_md.py
        language: python
        types: [markdown]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: fix_comments
        name: fix_comments
        entry: p1_fix_comments.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "more_itertools"]
      - id: method_order
        name: method_order
        entry: p1_class_method_order.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_fillename
        name: check_filename
        entry: p1_check_filename.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_import
        name: check_import
        entry: p1_check_import.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: format_separating_line
        name: format_separating_line
        entry: p1_format_separating_line.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: warn_incorrectly_formatted_todo
        name: warn_incorrectly_formatted_todo
        entry: p1_warn_incorrectly_formatted_todo.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_shebang
        name: check_shebang
        entry: p1_check_shebang.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]

refactor: move normalizers to a separate module #729
  vendors2/kibot/data/transform/convert_csv_to_pq.py
  vendors2/kibot/data/transform/normalizers.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

refactor: remove csv to pq transform script #729
  vendors2/kibot/data/transform/convert_csv_to_pq.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

feat: read only CSV files not PQ #729
  vendors2/kibot/data/load/data.py
  vendors2/kibot/data/transform/normalizers.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

feat: cache the read_data call with helpers.cache #729
  vendors2/kibot/data/load/data.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4686: Make flow more robust to infs.
  core/dataframe_modeler.py
  core/plotting.py
  core/statistics.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4393: Split up nodes.py
  core/dataflow/__init__.py
  core/dataflow/models.py
  core/dataflow/nodes.py
  core/dataflow/pipelines.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4393: Change import style
  core/dataflow/__init__.py
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4393: Move cross-validation piece back to nodes.py
  core/dataflow/models.py
  core/dataflow/nodes.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Make tqdm optional, rename bwd into bkwd
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4393: Move tests into separate module
  core/dataflow/test/test_models.py
  core/dataflow/test/test_nodes.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask726: added real tests for render plantUML
  documentation/scripts/render_md.py
  documentation/scripts/test/Test_render_md3.test_render_plantuml_playback1/output/test.txt
  documentation/scripts/test/test_render_md.py
  helpers/playback.py
  helpers/test/test_playback.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask726: moved big test text to a separate file, removed playback from code
  documentation/scripts/render_md.py
  documentation/scripts/test/Test_render_md3.test_render_plantuml_playback1/input/instrument_master_architecture.md.test
  documentation/scripts/test/test_render_md.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask726: update documentation for playback
  documentation/scripts/test/test_render_md.py
  documentation/technical/playback.md
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Add some rules for external collaborators
  documentation/general/collaboration_rules.md
Due: lint_md

AmpTask726: modified docs about plantUML
  documentation/general/architecture_diagrams.md
Due: lint_md

AmdTask726: fixed bad alignment for plantuml in code
  documentation/general/architecture_diagrams.md
Due: lint_md

AmpTask726: fixed playback documentation
  documentation/technical/playback.md
Due: lint_md

PartTask4719: Expose target_volatility for plotting aggregations.
  core/model_plotter.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4719: Add version of notebook to be converted into a Bokeh notebook
  core/notebooks/Master_model_analyzer.ipynb
  core/notebooks/Master_model_analyzer.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4339: Change pred start when exog is provided
  core/dataflow/models.py
  core/dataflow/test/TestContinuousSarimaxModel.test_fit1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict1/output/test.txt
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4339: Add more tests
  core/dataflow/test/TestContinuousSarimaxModel.test_predict2/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_different_intervals1/output/test.txt
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Tweak to documentation
  documentation/technical/profiling.md
Due: lint_md

review: rename helpers.cache import #729
  vendors2/kibot/data/load/data.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

review: restore convert_csv_ro_pq script #729
  vendors2/kibot/data/transform/convert_csv_to_pq.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

refactor: remove unnecessary caching functions #729
  vendors2/kibot/data/load/data.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

refactor: update get_normalizer to normalize #729
  vendors2/kibot/data/load/data.py
  vendors2/kibot/data/transform/normalizers.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4339: Change steps_ahead conventions
  core/dataflow/models.py
  core/dataflow/test/TestContinuousSarimaxModel.test_fit1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_no_x1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_step_one1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_zero_step1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict2/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_different_intervals1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_no_x1/output/test.txt
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4726: Add rolling covariance
  core/signal_processing.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Lint
  core/signal_processing.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4729: Add finance resampling function
  core/dataframe_modeler.py
  core/finance.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4726: Fix comment and lints
  core/signal_processing.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4729: add resampling function for financial time bars and wrap in dataflow
  core/dataflow/nodes.py
  core/finance.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Improve documentation about profiling
  documentation/technical/profiling.md
Due: lint_md

Improve documentation about profiling
  dev_scripts/process_prof.py
  documentation/technical/profiling.md
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4736: Add support for loading price and volume series
  core/model_evaluator.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Add apply_dataframe_method_runner method
  core/dataflow/nodes.py
  core/dataframe_modeler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Fix method duplicate
  core/dataframe_modeler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Modify existing plots, add plot_time_series
  core/dataframe_modeler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Add filtering function that supports different methods
  helpers/dataframe.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang
