Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

.pre-commit-config.yaml:

default_stages: ["commit"]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: no-commit-to-branch
        args: ["--pattern", '^(?!(Part|Amp|Infra)Task\d+_\S+).*$']
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ["--maxkb=500"]
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.13.1
    hooks:
      - id: gitlint
        stages: [commit-msg]
        entry: gitlint
        # B6 Body message is missing.
        args: [--contrib=CT1, --ignore=B6, --msg-filename]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-crlf
      - id: remove-tabs
        args: ["--whitespaces-count", "4"]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.3.2
    hooks:
      - id: isort
        entry: isort
  - repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.3
    hooks:
      - id: autoflake
        args: [-i, --remove-all-unused-imports, --remove-unused-variables]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: p1_black.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: flake8
        name: flake8
        entry: p1_flake8.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: doc_formatter
        name: doc_formatter
        entry: p1_doc_formatter.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "docformatter"]
      - id: pylint
        name: pylint
        entry: p1_pylint.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: mypy
        name: mypy
        entry: p1_mypy.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: processjupytext
        name: processjupytext
        entry: p1_processjupytext.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: lint_md
        name: lint_md
        entry: p1_lint_md.py
        language: python
        types: [markdown]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: fix_comments
        name: fix_comments
        entry: p1_fix_comments.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "more_itertools"]
      - id: method_order
        name: method_order
        entry: p1_class_method_order.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_fillename
        name: check_filename
        entry: p1_check_filename.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_import
        name: check_import
        entry: p1_check_import.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: format_separating_line
        name: format_separating_line
        entry: p1_format_separating_line.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: warn_incorrectly_formatted_todo
        name: warn_incorrectly_formatted_todo
        entry: p1_warn_incorrectly_formatted_todo.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_shebang
        name: check_shebang
        entry: p1_check_shebang.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]

Fix
  documentation/scripts/lint_txt.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Rewriting selection function. Taking out into separate function. Adding tests.
  core/test/test_plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Adding core plotting function
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5327: Align labels to the left, switch to rectangle
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5237: Switch back to square plots, increase x-axis size
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5300: slightly modified playback to create tests automatically
  helpers/playback.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5300: add possibility to limit number of tests
  helpers/playback.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Implementing requested changes
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5229: Add sprint planning documentation
  documentation/general/github_zenhub.md
Due: lint_md

PartTask5229: Lint
  documentation/general/github_zenhub.md
Due: lint_md

PartTask5229: Improve
  documentation/general/github_zenhub.md
Due: lint_md

PartTask5329: Split time series names, handle extra subplots
  core/dataframe_modeler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5329: Remove extra subplots
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5329: Return only num_plots axes
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5407: Fix aspect ratio of visual stationarity test
  core/dataframe_modeler.py
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5415: Explose y_scale and num_cols
  core/dataframe_modeler.py
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Making accumulate function handling dataframe along with series
  core/signal_processing.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5449: Remove empty plot_time_series_study plots
  core/dataframe_modeler.py
  core/timeseries_study.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5449: Fix plot titles
  core/dataframe_modeler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Applying changes
  core/signal_processing.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5449: Always return np.array of axes
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5449: Filter years with not enough data before iterating
  core/timeseries_study.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5449: Fix unexpected behavior of rsplit with None (extracing text in parenthesis)
  core/dataframe_modeler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5300: resolve review comments
  helpers/playback.py
  helpers/test/TestPlaybackInputOutput1.test1/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test10/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test11/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test12/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test2/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test3/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test4/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test5/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test6/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test7/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test8/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test9/output/test.txt
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

isort
  helpers/playback.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5300: returned back 2 newlines
  helpers/playback.py
  helpers/test/TestPlaybackInputOutput1.test1/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test10/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test11/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test12/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test2/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test3/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test4/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test5/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test6/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test7/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test8/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test9/output/test.txt
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5300: pd.Series playback improved
  helpers/playback.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Add interactive use and examples links.
  documentation/general/architecture_diagrams.md
Due: lint_md

Minor tweaks
  documentation/general/github_zenhub.md
Due: lint_md

Changes after review
  helpers/playback.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Update submodules section.
  documentation/general/git.md
Due: lint_md

PartTask5300: added tests for a new stuff.
  helpers/playback.py
  helpers/test/TestPlaybackFileMode1.test1/output/test.txt
  helpers/test/TestPlaybackFileMode1.test2/output/test.txt
  helpers/test/TestPlaybackFileMode1.test3/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test13/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test14/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test15/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test16/output/test.txt
  helpers/test/test_playback.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

pre-commit changes
  helpers/playback.py
  helpers/test/test_playback.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Addressing comments
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask689: Added dots, removed comment of no vars defined in playback
  helpers/playback.py
  helpers/test/TestPlaybackFileMode1.test1/output/test.txt
  helpers/test/TestPlaybackFileMode1.test2/output/test.txt
  helpers/test/TestPlaybackFileMode1.test3/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test1/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test10/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test11/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test12/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test13/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test14/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test15/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test16/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test17/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test18/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test3/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test4/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test5/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test6/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test7/output/test.txt
  helpers/test/TestPlaybackInputOutput1.test9/output/test.txt
  helpers/test/test_playback.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

pre-commit fixes
  helpers/playback.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5488: Support multiple lags in sigp.correlate_with_lag
  core/dataframe_modeler.py
  core/signal_processing.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5441: Add apply_sarimax_model to DataFrameModeler
  core/dataframe_modeler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5300: added coverage doc, replaced spaces with function in playback
  core/config.py
  dev_scripts/git/git_commit.py
  dev_scripts/git/git_merge_branch.py
  dev_scripts/linter.py
  dev_scripts/replace_text.py
  documentation/general/unit_tests.md
  documentation/scripts/publish_notes.py
  helpers/env.py
  helpers/parser.py
  helpers/playback.py
  helpers/printing.py
  helpers/system_interaction.py
  helpers/test/test_playback.py
  helpers/tunnels.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

pre-commit linter
  core/config.py
  dev_scripts/git/git_merge_branch.py
  dev_scripts/linter.py
  documentation/general/unit_tests.md
  documentation/scripts/publish_notes.py
  helpers/parser.py
  helpers/playback.py
  helpers/printing.py
  helpers/tunnels.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang
