Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

isort:
  name: isort
  entry: amp_isort.py
  language: python
  require_serial: true

black:
  name: black
  entry: amp_black.py
  language: python
  require_serial: true

flake8:
  name: flake8
  entry: amp_flake8.py
  language: python

doc_formatter:
  name: doc_formatter
  entry: amp_doc_formatter.py
  language: python

pylint:
  name: pylint
  entry: amp_pylint.py
  language: python

mypy:
  name: mypy
  entry: amp_mypy.py
  language: python

processjupytext:
  name: processjupytext
  entry: amp_processjupytext.py
  language: python

lint_md:
  name: lint_md
  entry: amp_lint_md.py
  language: python

method_order:
  name: method_order
  entry: amp_class_method_order.py
  language: python

check_filename:
  name: check_filename
  entry: amp_check_filename.py
  language: python

clean_import:
  name: clean_import
  entry: amp_clean_import.py
  language: python

format_separating_line:
  name: format_separating_line
  entry: amp_format_separating_line.py
  language: python

warn_incorrectly_formatted_todo:
  name: warn_incorrectly_formatted_todo
  entry: amp_warn_incorrectly_formatted_todo.py
  language: python

Lint
  core/statistics.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/plotting.py
  core/statistics.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/test/test_unit_test.py
  helpers/unit_test.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/test/test_s3.py
  helpers/unit_test.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Attempt to stabilize regression coefficients test
  core/test/TestComputeRegressionCoefficients1.test2/output/test.txt
  core/test/test_statistics.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Add test files
  core/test/TestComputeRegressionCoefficients1/input/data.csv
  core/test/TestComputeRegressionCoefficients2/input/data.csv
Due: none

Add golden
  core/test/TestComputeRegressionCoefficients2.test1/output/test.txt
Due: none

Add and update goldens. Fix file loading.
  core/test/TestComputeRegressionCoefficients1.test0/output/test.txt
  core/test/TestComputeRegressionCoefficients2.test0/output/test.txt
  core/test/TestComputeRegressionCoefficients2.test1/output/test.txt
  core/test/test_statistics.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Fix for LimeTask129
  dev_scripts/setenv_amp.sh
  helpers/test/TestSubsetDf1.test1/output/test.txt
  helpers/test/test_s3.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/cache.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Fix broken script
  README.md
  dev_scripts/tmux_amp.sh
Due: lint_md

Checkpoint
  core/statistics.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Fix break
  helpers/cache.py
  helpers/test/test_joblib_helpers.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Add delay parameter
  core/signal_processing.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Lint
  core/signal_processing.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/dataflow/nodes/transformers.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Lint
  core/dataflow/nodes/transformers.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  core/dataflow/real_time.py
  helpers/cache.py
  helpers/test/test_cache.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/cache.py
  helpers/printing.py
  helpers/system_interaction.py
  helpers/test/test_cache.py
  helpers/unit_test.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/system_interaction.py
  helpers/unit_test.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/cache.py
  helpers/test/test_cache.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Lint
  core/dataflow/real_time.py
  helpers/cache.py
  helpers/printing.py
  helpers/test/test_cache.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Add comments
  core/statistics.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Add tests
  helpers/test/TestCacheEnableCheckOnlyIfPresent1.test_disk_cache1/output/test.txt
  helpers/test/TestCacheEnableCheckOnlyIfPresent1.test_mem_cache1/output/test.txt
  helpers/test/TestCacheEnableCheckOnlyIfPresent1.test_mem_disk_cache1/output/test.txt
  helpers/test/TestCacheEnableReadOnly1.test_disk_cache1/output/test.txt
Due: none

Add tests
  helpers/test/TestCacheEnableReadOnly1.test_mem_cache1/output/test.txt
  helpers/test/TestCacheEnableReadOnly1.test_mem_disk_cache1/output/test.txt
Due: none

Update tests to reflect addition of new column
  core/test/TestComputeRegressionCoefficients1.test1/output/test.txt
  core/test/TestComputeRegressionCoefficients2.test1/output/test.txt
Due: none

Add more tests
  core/test/test_statistics.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Lint
  core/test/test_statistics.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Path conditions:
  isort: any of: \.py$, but not: .txt
  black: any of: \.py$, but not: .txt
  flake8: any of: \.py$, but not: .txt
  doc_formatter: any of: \.py$, but not: .txt
  pylint: any of: \.py$, but not: .txt
  mypy: any of: \.py$, but not: .txt
  processjupytext: any of: \.py$, but not: .txt
  lint_md: any of: \.(md|markdown|mdown)$, but not: .txt
  method_order: any of: \.py$, but not: .txt
  check_filename: any of: \.py$, but not: .txt
  clean_import: any of: \.py$, but not: .txt
  format_separating_line: any of: \.py$, but not: .txt
  warn_incorrectly_formatted_todo: any of: \.py$, but not: .txt
