Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

isort:
  name: isort
  entry: p1_isort.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt
  require_serial: true

black:
  name: black
  entry: p1_black.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt
  require_serial: true

flake8:
  name: flake8
  entry: p1_flake8.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

doc_formatter:
  name: doc_formatter
  entry: p1_doc_formatter.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

pylint:
  name: pylint
  entry: p1_pylint.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

mypy:
  name: mypy
  entry: p1_mypy.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

processjupytext:
  name: processjupytext
  entry: p1_processjupytext.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

lint_md:
  name: lint_md
  entry: p1_lint_md.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

method_order:
  name: method_order
  entry: p1_class_method_order.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

check_filename:
  name: check_filename
  entry: p1_check_filename.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

clean_import:
  name: clean_import
  entry: p1_clean_import.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

format_separating_line:
  name: format_separating_line
  entry: p1_format_separating_line.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

warn_incorrectly_formatted_todo:
  name: warn_incorrectly_formatted_todo
  entry: p1_warn_incorrectly_formatted_todo.py
  language: python
  additional_dependencies:
  - -r
  - /requirements.txt

AmpTask1207: - move AbstractS3DataLoader to data_loader.py - rename data_loader.py to abstract_data_loader.py - add normalizer methods to AbstractS3DataLoader
  instrument_master/common/data/load/abstract_data_loader.py
  instrument_master/common/data/load/data_loader.py
  instrument_master/common/data/load/s3_data_loader.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1207: Linter
  instrument_master/ib/data/load/ib_s3_data_loader.py
  instrument_master/kibot/data/load/kibot_s3_data_loader.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1207: - fix imports
  instrument_master/common/data/transform/transform.py
  instrument_master/ib/data/load/ib_sql_data_loader.py
  instrument_master/kibot/data/load/kibot_sql_data_loader.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1205: draft
  instrument_master/app/transform/convert_s3_to_sql.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1205: - Add start/end_ts params to amp/instrument_master/common/data/transform/transform.py:63 - test fot it
  instrument_master/app/transform/convert_s3_to_sql.py
  instrument_master/common/data/transform/transform.py
  instrument_master/ib/data/load/ib_s3_data_loader.py
  instrument_master/ib/data/load/test/TestS3IbDataLoader1.test_read_data_with_start_end_ts/output/test.txt
  instrument_master/ib/data/load/test/test_s3_data_loader.py
  instrument_master/kibot/data/load/kibot_s3_data_loader.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1195: Revision gateway tests
  instrument_master/ib/data/extract/download_ib_data.py
  instrument_master/ib/data/extract/gateway/download_ib_data_single_file_with_loop.py
  instrument_master/ib/data/extract/gateway/download_realtime_data.py
  instrument_master/ib/data/extract/gateway/test/Test_get_historical_data.test_get_historical_data1/output/test.txt
  instrument_master/ib/data/extract/gateway/test/Test_get_historical_data.test_get_historical_data2/output/test.txt
  instrument_master/ib/data/extract/gateway/test/Test_get_historical_data.test_get_historical_data3/output/test.txt
  instrument_master/ib/data/extract/gateway/test/Test_get_historical_data.test_get_historical_data4/output/test.txt
  instrument_master/ib/data/extract/gateway/test/Test_get_historical_data.test_get_historical_data_with_IB_loop1/output/test.txt
  instrument_master/ib/data/extract/gateway/test/Test_get_historical_data.test_get_historical_data_with_IB_loop2/output/test.txt
  instrument_master/ib/data/extract/gateway/test/Test_get_historical_data.test_get_historical_data_with_IB_loop3/output/test.txt
  instrument_master/ib/data/extract/gateway/test/Test_get_historical_data.test_get_historical_data_with_IB_loop4/output/test.txt
  instrument_master/ib/data/extract/gateway/test/Test_get_historical_data.test_get_historical_data_with_IB_loop5/output/test.txt
  instrument_master/ib/data/extract/gateway/test/Test_get_historical_data.test_get_historical_data_with_IB_loop6/output/test.txt
  instrument_master/ib/data/extract/gateway/test/Test_get_historical_data.test_get_historical_data_with_IB_loop7/output/test.txt
  instrument_master/ib/data/extract/gateway/test/Test_ib_metadata1.test1/output/test.txt
  instrument_master/ib/data/extract/gateway/test/Test_ib_metadata1.test2/output/test.txt
  instrument_master/ib/data/extract/gateway/test/Test_ib_metadata1.test3/output/test.txt
  instrument_master/ib/data/extract/gateway/test/test_download_data_ib_loop.py
  instrument_master/ib/data/extract/gateway/test/test_download_data_unrolling_ib_loop.py
  instrument_master/ib/data/extract/gateway/test/test_ib_metadata.py
  instrument_master/ib/data/extract/gateway/test/test_ib_utils.py
  instrument_master/ib/data/extract/gateway/test/test_save_historical_data_with_IB_loop.py
  instrument_master/ib/data/extract/gateway/test/utils.py
  instrument_master/ib/data/extract/gateway/utils.py
  instrument_master/ib/data/extract/ib_data_extractor.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1195: Added new symbols fetcher to script
  instrument_master/ib/data/extract/download_ib_data.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1195: Lint
  instrument_master/ib/data/extract/download_ib_data.py
  instrument_master/ib/data/extract/gateway/download_ib_data_single_file_with_loop.py
  instrument_master/ib/data/extract/gateway/download_realtime_data.py
  instrument_master/ib/data/extract/gateway/test/test_download_data_ib_loop.py
  instrument_master/ib/data/extract/gateway/test/test_download_data_unrolling_ib_loop.py
  instrument_master/ib/data/extract/gateway/test/test_ib_metadata.py
  instrument_master/ib/data/extract/gateway/test/test_ib_utils.py
  instrument_master/ib/data/extract/gateway/test/test_save_historical_data_with_IB_loop.py
  instrument_master/ib/data/extract/gateway/test/utils.py
  instrument_master/ib/data/extract/gateway/utils.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1195: lint
  instrument_master/ib/data/extract/download_ib_data.py
  instrument_master/ib/metadata/ib_symbols.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1205: - Fixed by Artem comments - add test_read_data_with_start_end_ts in TestKibotS3DataLoader - refactor out filtering to _filter_by_dates
  instrument_master/app/transform/convert_s3_to_sql.py
  instrument_master/common/data/load/abstract_data_loader.py
  instrument_master/ib/data/load/ib_s3_data_loader.py
  instrument_master/ib/data/load/test/TestS3IbDataLoader1.test_read_data_with_start_end_ts/output/test.txt
  instrument_master/kibot/data/load/kibot_s3_data_loader.py
  instrument_master/kibot/data/load/test/TestKibotS3DataLoader.test_read_data_with_start_end_ts/output/test.txt
  instrument_master/kibot/data/load/test/test_s3_data_loader.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1205: - fixing imports - add missing parameters - enable normalizer in transform.py - fix the daily normalizer when mixed timezone comes from S3
  instrument_master/app/services/loader_factory.py
  instrument_master/app/transform/convert_s3_to_sql.py
  instrument_master/common/data/load/abstract_data_loader.py
  instrument_master/common/data/transform/transform.py
  instrument_master/ib/data/load/ib_s3_data_loader.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1195: added selecting only downloaded symbols
  instrument_master/common/metadata/symbols.py
  instrument_master/ib/metadata/ib_symbols.py
  instrument_master/ib/metadata/test/test_ib_symbols.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1195: Added symbol universe to S3 to SQL script
  instrument_master/app/services/file_path_generator_factory.py
  instrument_master/app/services/symbol_universe_factory.py
  instrument_master/app/transform/convert_s3_to_sql.py
  instrument_master/ib/metadata/test/convert_s3_to_sql.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1195: added one moroe example
  instrument_master/app/transform/convert_s3_to_sql.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AMpTask1195: Removed too verbose log
  instrument_master/ib/metadata/ib_symbols.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  instrument_master/app/transform/convert_s3_to_sql.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  instrument_master/app/services/loader_factory.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Lint
  instrument_master/app/services/loader_factory.py
  instrument_master/code_layout.md
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  instrument_master/app/services/symbol_universe_factory.py
  instrument_master/app/transform/convert_s3_to_sql.py
  instrument_master/common/data/extract/data_extractor.py
  instrument_master/common/data/load/abstract_data_loader.py
  instrument_master/common/data/load/file_path_generator.py
  instrument_master/common/data/types.py
  instrument_master/common/db/init.py
  instrument_master/common/metadata/symbols.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Lint
  instrument_master/app/services/symbol_universe_factory.py
  instrument_master/common/data/extract/data_extractor.py
  instrument_master/common/data/load/abstract_data_loader.py
  instrument_master/common/data/load/file_path_generator.py
  instrument_master/common/metadata/symbols.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  devops/makefiles/development.mk
  instrument_master/airflow/airflow_configs/local.airflow.cfg
  instrument_master/airflow/airflow_configs/requirements.txt
  instrument_master/airflow/airflow_worker/prebuildfs/build/bitnami-user.sh
  instrument_master/airflow/airflow_worker/prebuildfs/build/install-nami.sh
  instrument_master/airflow/airflow_worker/prebuildfs/opt/bitnami/.bitnami_components.json
  instrument_master/airflow/airflow_worker/prebuildfs/opt/bitnami/base/functions
  instrument_master/airflow/airflow_worker/prebuildfs/opt/bitnami/base/helpers
  instrument_master/airflow/airflow_worker/prebuildfs/opt/bitnami/licenses/licenses.txt
  instrument_master/airflow/airflow_worker/prebuildfs/usr/sbin/bitnami-pkg
  instrument_master/airflow/airflow_worker/prebuildfs/usr/sbin/install_packages
  instrument_master/airflow/airflow_worker/rootfs/airflow-worker-inputs.json
  instrument_master/airflow/airflow_worker/rootfs/app-entrypoint.sh
  instrument_master/airflow/airflow_worker/rootfs/opt/bitnami/scripts/locales/add-extra-locales.sh
  instrument_master/airflow/airflow_worker/rootfs/run.sh
  instrument_master/airflow/compose/docker-compose.local.yml
  instrument_master/airflow/dags/im_infra.py
  instrument_master/airflow/im_db_loader_worker.dev.Dockerfile
  instrument_master/airflow/makefiles/stage_local.mk
  instrument_master/common/sql_writer_backend.py
  instrument_master/devops/compose/docker-compose.local.yml
  instrument_master/devops/env/local/im_postgres_config.env
  instrument_master/devops/makefiles/project_specific.mk
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  instrument_master/airflow/devops/Makefile
  instrument_master/airflow/devops/airflow_configs/local.airflow.cfg
  instrument_master/airflow/devops/airflow_configs/requirements.txt
  instrument_master/airflow/devops/airflow_worker/prebuildfs/build/bitnami-user.sh
  instrument_master/airflow/devops/airflow_worker/prebuildfs/build/install-nami.sh
  instrument_master/airflow/devops/airflow_worker/prebuildfs/opt/bitnami/.bitnami_components.json
  instrument_master/airflow/devops/airflow_worker/prebuildfs/opt/bitnami/base/functions
  instrument_master/airflow/devops/airflow_worker/prebuildfs/opt/bitnami/base/helpers
  instrument_master/airflow/devops/airflow_worker/prebuildfs/opt/bitnami/licenses/licenses.txt
  instrument_master/airflow/devops/airflow_worker/prebuildfs/usr/sbin/bitnami-pkg
  instrument_master/airflow/devops/airflow_worker/prebuildfs/usr/sbin/install_packages
  instrument_master/airflow/devops/airflow_worker/rootfs/airflow-worker-inputs.json
  instrument_master/airflow/devops/airflow_worker/rootfs/app-entrypoint.sh
  instrument_master/airflow/devops/airflow_worker/rootfs/opt/bitnami/scripts/locales/add-extra-locales.sh
  instrument_master/airflow/devops/airflow_worker/rootfs/run.sh
  instrument_master/airflow/devops/compose/docker-compose.local.yml
  instrument_master/airflow/devops/dags/im_infra.py
  instrument_master/airflow/devops/im_db_loader_worker.dev.Dockerfile
  instrument_master/airflow/devops/makefiles/stage_local.mk
  instrument_master/devops/makefiles/project_specific.mk
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  instrument_master/airflow/Makefile
  instrument_master/airflow/devops/Makefile
  instrument_master/airflow/devops/docker_build/im_db_loader_worker.dev.Dockerfile
  instrument_master/airflow/devops/docker_build/im_db_loader_worker.requirements.txt
  instrument_master/airflow/devops/makefiles/stage_local.mk
  instrument_master/airflow/env/local/airflow.env
  instrument_master/airflow/env/local/airflow_postgres.env
  instrument_master/airflow/env/local/worker_config.env
  instrument_master/airflow/env/local/worker_db_loader.env
  instrument_master/devops/compose/docker-compose.local.yml
  instrument_master/devops/env/local/im_postgres_config.env
  instrument_master/devops/makefiles/project_specific.mk
Due: none

Checkpoint
  instrument_master/airflow/devops/env/local/airflow.env
  instrument_master/airflow/devops/env/local/airflow_postgres.env
  instrument_master/airflow/devops/env/local/worker_config.env
  instrument_master/airflow/devops/env/local/worker_db_loader.env
Due: none

Checkpoint
  instrument_master/airflow/devops/compose/docker-compose.local.yml
Due: none

Checkpoint
  instrument_master/airflow/devops/env/local/im_postgres_config.env
Due: none

Checkpoint
  devops/makefiles/development.mk
  instrument_master/app/services/loader_factory.py
  instrument_master/app/services/symbol_universe_factory.py
  instrument_master/app/transform/convert_s3_to_sql.py
  instrument_master/code_layout.md
  instrument_master/common/data/extract/data_extractor.py
  instrument_master/common/data/load/abstract_data_loader.py
  instrument_master/common/data/load/file_path_generator.py
  instrument_master/common/data/types.py
  instrument_master/common/db/init.py
  instrument_master/common/metadata/symbols.py
  instrument_master/common/sql_writer_backend.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  instrument_master/airflow/devops/compose/docker-compose.local.yml
  instrument_master/common/metadata/symbols.py
  instrument_master/ib/data/extract/download_ib_data.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1186: updated ib connect to be able to run it and to satisfy new standarts
  .dockerignore
  instrument_master/ib/connect/Makefile
  instrument_master/ib/connect/README.md
  instrument_master/ib/connect/compose/docker-compose.local.yml
  instrument_master/ib/connect/devops/compose/docker-compose.local.yml
  instrument_master/ib/connect/devops/compose/docker-compose.prod.yml
  instrument_master/ib/connect/devops/docker_build/Dockerfile
  instrument_master/ib/connect/devops/docker_build/entrypoints/entrypoint.sh
  instrument_master/ib/connect/devops/docker_scripts/make_ib_controller_init_file.py
  instrument_master/ib/connect/devops/docker_scripts/make_jts_init_file.py
  instrument_master/ib/connect/devops/env/local.env
  instrument_master/ib/connect/devops/env/prod.env
  instrument_master/ib/connect/devops/makefiles/docker.mk
  instrument_master/ib/connect/devops/makefiles/local_stage.mk
  instrument_master/ib/connect/devops/makefiles/prod_stage.mk
  instrument_master/ib/connect/devops/makefiles/setup.mk
  instrument_master/ib/connect/devops/requirements.txt
  instrument_master/ib/connect/prod.Dockerfile
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1186: Added more to IM README about IB connect
  instrument_master/README.md
Due: lint_md

Checkpoint
  helpers/dbg.py
  instrument_master/devops/compose/docker-compose.test.yml
  instrument_master/devops/env/dev.postgres.env
  instrument_master/ib/data/extract/download_ib_data.py
  instrument_master/ib/metadata/ib_symbols.py
  instrument_master/ib/metadata/test/test_ib_symbols.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1179: fix
  instrument_master/devops/compose/docker-compose.local.yml
  instrument_master/devops/env/local/im_postgres_config.env
Due: none

AmpTask1179: fix problem2
  instrument_master/airflow/devops/compose/docker-compose.local.yml
Due: none

AmpTask1179: fix problem 3
  instrument_master/airflow/devops/makefiles/stage_local.mk
  instrument_master/devops/makefiles/stage_local.mk
Due: none

Checkpoint
  dev_scripts/git/git_create_patch.sh
  dev_scripts/git/git_create_patch_from_branch.sh
  helpers/dbg.py
  helpers/playback.md
  helpers/printing.py
  helpers/test/test_git.py
  helpers/test/test_helpers.py
  helpers/test/test_printing.py
  helpers/unit_test.py
  instrument_master/common/metadata/symbols.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/playback.md
  helpers/printing.py
  helpers/test/test_git.py
  helpers/test/test_printing.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/playback.md
  helpers/test/test_printing.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  dev_scripts/git/git_create_patch_from_branch.sh
  devops/makefiles/development.mk
  helpers/playback.md
  helpers/printing.py
  instrument_master/ib/metadata/ib_symbols.py
  instrument_master/ib/metadata/test/test_ib_symbols.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  instrument_master/app/notebooks/Master_IM_DB.py
  instrument_master/common/data/transform/transform.py
  instrument_master/common/db/test/test_init.py
  instrument_master/common/test/utils.py
  instrument_master/devops/dags/im_infra.py
  instrument_master/devops/docker_scripts/init_im_db.py
  instrument_master/eoddata/metadata/extract/download_symbol_list.py
  instrument_master/eoddata/metadata/load/loader.py
  instrument_master/eoddata/metadata/types.py
  instrument_master/eoddata/test/test_read_symbol_list.py
  instrument_master/ib/data/extract/gateway/download_data_ib_loop.py
  instrument_master/ib/data/extract/gateway/notebooks/AmpTask1086_Get_metadata_for_futures_universe.py
  instrument_master/ib/data/extract/gateway/notebooks/Task109_Extract_futures_prices_from_dockerized.py
  instrument_master/ib/data/extract/gateway/notebooks/Task111_Compare_data_IB_vs_Kibot_and_understand_timing_semantic.py
  instrument_master/ib/data/extract/gateway/notebooks/Task114_Download_futures_price_data_from_IB.py
  instrument_master/ib/data/extract/gateway/notebooks/gallery_ib_insync.py
  instrument_master/ib/data/extract/gateway/scratch/exercise_ib.py
  instrument_master/ib/data/extract/gateway/scratch/exercise_ibapi.py
  instrument_master/ib/data/extract/gateway/scratch/exercise_ibapi2.py
  instrument_master/ib/data/extract/gateway/test/test_save_historical_data_with_IB_loop.py
  instrument_master/ib/data/load/test/test_s3_data_loader.py
  instrument_master/ib/metadata/extract/ib_metadata_crawler/pipelines.py
  instrument_master/ib/metadata/extract/ib_metadata_crawler/spiders/ibroker.py
  instrument_master/kibot/data/load/test/test_s3_data_loader.py
  instrument_master/kibot/metadata/extract/download_ticker_lists.py
  instrument_master/kibot/metadata/load/contract_symbol_mapping.py
  instrument_master/kibot/metadata/load/expiry_contract_mapper.py
  instrument_master/kibot/metadata/load/ticker_lists.py
  instrument_master/kibot/metadata/test/test_contract_symbol_mapper.py
  instrument_master/kibot/metadata/test/test_expiry_contract_mapper.py
  instrument_master/kibot/metadata/test/test_kibot_metadata.py
  instrument_master/kibot/metadata/test/test_vendors2.py
  instrument_master/kibot/metadata/types.py
  instrument_master/kibot/notebooks/gallery_kibot.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/printing.py
  instrument_master/ib/metadata/ib_symbols.py
  instrument_master/ib/metadata/test/test_ib_symbols.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  doc_formatter: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  processjupytext: any of: \.py$
  lint_md: any of: \.(md|markdown|mdown)$
  method_order: any of: \.py$
  check_filename: any of: \.py$
  clean_import: any of: \.py$
  format_separating_line: any of: \.py$
  warn_incorrectly_formatted_todo: any of: \.py$
