Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  doc_formatter: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  processjupytext: any of: \.py$
  lint_md: any of: \.(md|markdown|mdown)$
  method_order: any of: \.py$
  check_filename: any of: \.py$
  clean_import: any of: \.py$
  format_separating_line: any of: \.py$
  warn_incorrectly_formatted_todo: any of: \.py$

AmpTask1161: Add postgres variables
  apps/im/.env/dev/postgres
Due: none

Fix for #1185
  helpers/io_.py
  helpers/printing.py
  instrument_master/Makefile
  instrument_master/devops/docker_build/dev.Dockerfile
  instrument_master/devops/docker_build/entrypoints/entrypoint_app_only.sh
  instrument_master/devops/docker_build/entrypoints/entrypoint_deploy.sh
  instrument_master/devops/makefiles/project_specific.mk
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  instrument_master/devops/makefiles/project_specific.mk
Due: none

AmpTask1161: Add postgres variables
  apps/im/compose/docker-stack.multistage.yml
Due: none

AmpTask1161: Refactor
  apps/im/init.sql
Due: none

AmpTask1145: moved eoddata to instrument_master
  instrument_master/eoddata/__init__.py
  instrument_master/eoddata/metadata/__init__.py
  instrument_master/eoddata/metadata/extract/download_symbol_list.py
  instrument_master/eoddata/metadata/load/__init__.py
  instrument_master/eoddata/metadata/load/loader.py
  instrument_master/eoddata/metadata/types.py
  instrument_master/eoddata/test/Test_read_symbols_from_file.test1/input/test.csv
  instrument_master/eoddata/test/test_read_symbol_list.py
  vendors2/eoddata/metadata/__init__.py
  vendors2/kibot_original/PartTask269_liquidity_analysis_utils.py
  vendors2/kibot_original/__init__.py
  vendors2/kibot_original/compare_pq_to_csv.py
  vendors2/kibot_original/convert_kibot_to_pq.py
  vendors2/kibot_original/data/PartTask2542_Generate_exchange_mapping_from_gsheet.ipynb
  vendors2/kibot_original/data/PartTask2542_Generate_exchange_mapping_from_gsheet.py
  vendors2/kibot_original/data/Task10_download_data_from_kibot.ipynb
  vendors2/kibot_original/data/Task10_download_data_from_kibot.py
  vendors2/kibot_original/data/__init__.py
  vendors2/kibot_original/data/download_s3_data.sh
  vendors2/kibot_original/data/kibot_download.py
  vendors2/kibot_original/data/kibot_to_exchange.csv
  vendors2/kibot_original/data/utils.py
  vendors2/kibot_original/notebooks/PartTask2070_Clean_up_Kibot.ipynb
  vendors2/kibot_original/notebooks/PartTask2070_Clean_up_Kibot.py
  vendors2/kibot_original/notebooks/PartTask269_Top_oil_futures_by_liquidity.ipynb
  vendors2/kibot_original/notebooks/PartTask269_Top_oil_futures_by_liquidity.py
  vendors2/kibot_original/notebooks/PartTask418_Kibot_to_pq_normalizers.ipynb
  vendors2/kibot_original/notebooks/PartTask418_Kibot_to_pq_normalizers.py
  vendors2/kibot_original/notebooks/data_exploratory_analysis.ipynb
  vendors2/kibot_original/notebooks/data_exploratory_analysis.py
  vendors2/kibot_original/test/PartTask269_liquidity_analysis_utils_v2.py
  vendors2/kibot_original/utils.py
  vendors2/setenv.sh
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Replace SQL with Sql
  dev_scripts/replace_text.py
  instrument_master/app/services/loader_factory.py
  instrument_master/app/services/sql_writer_factory.py
  instrument_master/app/transform/convert_s3_to_sql.py
  instrument_master/common/data/load/sql_data_loader.py
  instrument_master/common/data/transform/transform.py
  instrument_master/common/sql_writer_backend.py
  instrument_master/common/test/utils.py
  instrument_master/ib/data/extract/gateway/notebooks/Task109_Extract_futures_prices_from_dockerized.ipynb
  instrument_master/ib/data/extract/gateway/notebooks/Task109_Extract_futures_prices_from_dockerized.py
  instrument_master/ib/data/extract/gateway/notebooks/Task111_Compare_data_IB_vs_Kibot_and_understand_timing_semantic.ipynb
  instrument_master/ib/data/extract/gateway/notebooks/Task111_Compare_data_IB_vs_Kibot_and_understand_timing_semantic.py
  instrument_master/ib/sql_writer_backend.py
  instrument_master/ib/test/test_sql_writer_backend.py
  instrument_master/kibot/data/load/__init__.py
  instrument_master/kibot/data/load/s3_data_loader.py
  instrument_master/kibot/data/load/sql_data_loader.py
  instrument_master/kibot/data/load/test/test_s3_data_loader.py
  instrument_master/kibot/data/load/test/test_sql_data_loader.py
  instrument_master/kibot/data/transform/convert_s3_to_sql_kibot.py
  instrument_master/kibot/metadata/load/kibot_metadata.py
  instrument_master/kibot/notebooks/gallery_kibot.ipynb
  instrument_master/kibot/notebooks/gallery_kibot.py
  instrument_master/kibot/sql_writer_backend.py
  instrument_master/kibot/test/test_sql_writer_backend.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1161: Refactor
  apps/im/.env/dev/postgres
  apps/im/compose/docker-stack.dev.yml
  apps/im/create-multiple-postgresql-databases.sh
  apps/im/init.sql
Due: none

AmpTask1161: Refactor
  apps/im/compose/docker-stack.dev.yml
  apps/im/compose/docker-stack.multistage.yml
  apps/im/create-multiple-postgresql-databases.sh
Due: none

AmpTask1161: Refactor
  apps/im/compose/docker-stack.multistage.yml
  apps/im/create-multiple-postgresql-databases.sh
Due: none

AmpTask1161: Refactor
  apps/im/.env/dev/postgres
  apps/im/compose/docker-stack.dev.yml
  apps/im/compose/docker-stack.local.yml
Due: none

AmpTask1186: Fixed bug with infinite loop
  vendors_amp/ib/data/extract/gateway/download_data_ib_loop.py
  vendors_amp/ib/data/extract/gateway/utils.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1161: Refactor makefiles and composes
  apps/im/compose/docker-compose.dev.yml
  apps/im/compose/docker-compose.local.yml
  apps/im/compose/docker-compose.multistage.yml
  apps/im/makefiles/stage_dev.mk
  apps/im/makefiles/stage_local.mk
  apps/im/makefiles/stage_multistage.mk
Due: none

AmpTask1161: Refactor stages
  apps/im/makefiles/stage_dev.mk
  apps/im/makefiles/stage_local.mk
Due: none

AmpTask1161: Refactor env
  apps/im/.env/local/postgres
  apps/im/compose/docker-compose.local.yml
Due: none

AmpTask1161: Refactor env
  apps/im/.env/local/postgres
Due: none

AmpTask1161: Refactor
  apps/im/compose/docker-compose.dev.yml
  apps/im/compose/docker-compose.local.yml
Due: none

AmpTask1161: Rename vendors_amp->instrument_master
  apps/im/compose/docker-compose.dev.yml
  apps/im/compose/docker-compose.local.yml
  apps/im/docker_build/dev.Dockerfile
  apps/im/docker_build/entrypoints/entrypoint_deploy_postgres.sh
Due: none

AmpTask1161: Change entrypoint
  apps/im/compose/docker-compose.dev.yml
  apps/im/compose/docker-compose.local.yml
Due: none

AmpTask1161: Fix invalid type for restart policy docker-compose.dev.yml
  apps/im/compose/docker-compose.dev.yml
Due: none

AmpTask1186: solve some bugs, make system work
  instrument_master/common/metadata/__init__.py
  instrument_master/common/metadata/symbols.py
  instrument_master/ib/data/extract/gateway/download_data_ib_loop.py
  instrument_master/ib/metadata/extract/devops/makefiles/targets.mk
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask1161: Refactor makefiles
  apps/im/compose/docker-compose.local.yml
  apps/im/makefiles/stage_dev.mk
Due: none

AmpTask1161: Change mount directory for docker-compose.local.yml
  apps/im/compose/docker-compose.local.yml
Due: none

AmpTask1161: Refactor
  apps/im/.env/local/postgres
Due: none

AmpTask1161: Refactor
  apps/im/compose/docker-compose.local.yml
Due: none

AmpTask1161: Refactor
  apps/im/compose/docker-compose.dev.yml
  apps/im/compose/docker-compose.local.yml
  apps/im/docker_build/entrypoints/entrypoint_app_only.sh
  apps/im/docker_build/entrypoints/entrypoint_deploy.sh
Due: none

AmpTask7463: - sql_data_loader.py for IB - s3_to_sql_transformer.py for IB One draft test for transforming and loading IB daily data from S3.
  instrument_master/app/services/loader_factory.py
  instrument_master/app/services/sql_writer_factory.py
  instrument_master/app/services/transformer_factory.py
  instrument_master/ib/data/load/s3_data_loader.py
  instrument_master/ib/test/test_sql_writer_backend.py
  vendors_amp/ib/data/load/sql_data_loader.py
  vendors_amp/ib/data/transform/__init__.py
  vendors_amp/ib/data/transform/s3_to_sql_transformer.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask7463: Move get_exchange_id to AbstractSQLDataLoader
  instrument_master/app/services/transformer_factory.py
  instrument_master/common/data/load/sql_data_loader.py
  vendors_amp/ib/data/load/sql_data_loader.py
  vendors_amp/ib/data/transform/s3_to_sql_transformer.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask7463: finish changes by all Artem's comments and move test to test_end_to_end.py
  instrument_master/common/data/load/sql_data_loader.py
  instrument_master/ib/test/test_sql_writer_backend.py
  instrument_master/kibot/data/load/sql_data_loader.py
  vendors_amp/ib/data/load/sql_data_loader.py
  vendors_amp/ib/test/TestIbEndToEnd.test_insert_daily_data_from_s3/output/test.txt
  vendors_amp/ib/test/test_end_to_end.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask7463: - move read_data to abstract class - implement IB minute data upload to PostgreSQL - change IbMinuteData.datetime to timestamptz - tests
  instrument_master/common/data/load/sql_data_loader.py
  instrument_master/common/data/transform/transform.py
  instrument_master/common/db/sql/ib.sql
  instrument_master/ib/data/load/s3_data_loader.py
  instrument_master/kibot/data/load/sql_data_loader.py
  vendors_amp/ib/data/load/sql_data_loader.py
  vendors_amp/ib/data/transform/s3_to_sql_transformer.py
  vendors_amp/ib/test/TestIbEndToEnd.test_insert_daily_data_from_s3/output/test.txt
  vendors_amp/ib/test/TestIbEndToEnd.test_insert_minutely_data_from_s3/output/test.txt
  vendors_amp/ib/test/test_end_to_end.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask7463: linter
  instrument_master/app/services/loader_factory.py
  instrument_master/app/services/sql_writer_factory.py
  instrument_master/common/data/load/sql_data_loader.py
  instrument_master/ib/data/load/s3_data_loader.py
  instrument_master/ib/test/test_sql_writer_backend.py
  vendors_amp/ib/data/load/sql_data_loader.py
  vendors_amp/ib/data/transform/s3_to_sql_transformer.py
  vendors_amp/ib/test/test_end_to_end.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

AmpTask7463: Cleanup after rebasing
  instrument_master/app/services/sql_writer_factory.py
  instrument_master/app/services/transformer_factory.py
  instrument_master/ib/data/load/sql_data_loader.py
  instrument_master/ib/data/transform/__init__.py
  instrument_master/ib/data/transform/s3_to_sql_transformer.py
  instrument_master/ib/test/TestIbEndToEnd.test_insert_daily_data_from_s3/output/test.txt
  instrument_master/ib/test/TestIbEndToEnd.test_insert_minutely_data_from_s3/output/test.txt
  instrument_master/ib/test/test_end_to_end.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Improved tests
  instrument_master/common/data/load/sql_data_loader.py
  instrument_master/ib/data/load/s3_data_loader.py
  instrument_master/ib/data/transform/s3_to_sql_transformer.py
  instrument_master/ib/data/transform/test/TestReadFromS3WriteToSql.test_insert_daily_data_from_s3_1/output/test.txt
  instrument_master/ib/data/transform/test/TestReadFromS3WriteToSql.test_insert_daily_data_from_s3_2/output/test.txt
  instrument_master/ib/data/transform/test/TestReadFromS3WriteToSql.test_insert_minutely_data_from_s3_1/output/test.txt
  instrument_master/ib/data/transform/test/TestReadFromS3WriteToSql.test_insert_minutely_data_from_s3_2/output/test.txt
  instrument_master/ib/data/transform/test/__init__.py
  instrument_master/ib/data/transform/test/test_transform.py
  instrument_master/ib/test/TestIbEndToEnd.test_insert_daily_data_from_s3/output/test.txt
  instrument_master/ib/test/TestIbEndToEnd.test_insert_minutely_data_from_s3/output/test.txt
  instrument_master/ib/test/test_end_to_end.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Revision names, tests, outcomes
  instrument_master/app/services/loader_factory.py
  instrument_master/app/services/sql_writer_factory.py
  instrument_master/app/services/transformer_factory.py
  instrument_master/ib/data/load/s3_data_loader.py
  instrument_master/ib/data/load/sql_data_loader.py
  instrument_master/ib/data/load/test/TestS3IbDataLoader1.test_read_data1/output/test.txt
  instrument_master/ib/data/load/test/TestS3IbDataLoader1.test_read_data3/output/test.txt
  instrument_master/ib/data/load/test/test_s3_data_loader.py
  instrument_master/ib/data/transform/s3_to_sql_transformer.py
  instrument_master/ib/data/transform/test/test_transform.py
  instrument_master/ib/test/TestIbSqlWriterBackend1.test_insert_bulk_minute_data1/output/test.txt
  instrument_master/ib/test/TestIbSqlWriterBackend1.test_insert_bulk_minute_data_with_holes/output/test.txt
  instrument_master/ib/test/TestIbSqlWriterBackend1.test_insert_minute_data1/output/test.txt
  instrument_master/kibot/data/load/sql_data_loader.py
  instrument_master/kibot/data/load/test/TestKibotS3DataLoader.test1/output/test.txt
  instrument_master/kibot/data/load/test/TestSqlDataLoader1.test_read_data1/output/test.txt
  instrument_master/kibot/data/load/test/TestSqlDataLoader1.test_read_data2/output/test.txt
  instrument_master/kibot/test/TestSqlWriterBackend1.test_ensure_exchange_exist1/output/test.txt
  instrument_master/kibot/test/TestSqlWriterBackend1.test_ensure_symbol_exist1/output/test.txt
  instrument_master/kibot/test/TestSqlWriterBackend1.test_insert_bulk_daily_data1/output/test.txt
  instrument_master/kibot/test/TestSqlWriterBackend1.test_insert_bulk_daily_data_with_holes/output/test.txt
  instrument_master/kibot/test/TestSqlWriterBackend1.test_insert_daily_data1/output/test.txt
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Spell checks
  instrument_master/ib/data/transform/test/test_transform.py
  instrument_master/kibot/data/load/test/TestS3KibotDataLoader.test1/output/test.txt
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Updated README with example of script
  instrument_master/README.md
Due: lint_md

Fix typo
  instrument_master/ib/data/transform/s3_to_sql_transformer.py
  instrument_master/kibot/data/transform/s3_to_sql_transformer.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo
