Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

black:
  name: black
  entry: p1_black.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

flake8:
  name: flake8
  entry: p1_flake8.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

doc_formatter:
  name: doc_formatter
  entry: p1_doc_formatter.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib
  - docformatter

pylint:
  name: pylint
  entry: p1_pylint.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

mypy:
  name: mypy
  entry: p1_mypy.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

processjupytext:
  name: processjupytext
  entry: p1_processjupytext.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

lint_md:
  name: lint_md
  entry: p1_lint_md.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

fix_comments:
  name: fix_comments
  entry: p1_fix_comments.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib
  - more_itertools

method_order:
  name: method_order
  entry: p1_class_method_order.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

check_fillename:
  name: check_filename
  entry: p1_check_filename.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

check_import:
  name: check_import
  entry: p1_check_import.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

format_separating_line:
  name: format_separating_line
  entry: p1_format_separating_line.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

warn_incorrectly_formatted_todo:
  name: warn_incorrectly_formatted_todo
  entry: p1_warn_incorrectly_formatted_todo.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

check_shebang:
  name: check_shebang
  entry: p1_check_shebang.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

Lint"
  core/dataframe_modeler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

implement changes
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4855: add separating lines
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Lint
  documentation/general/github_zenhub.md
Due: lint_md

PartTask4855: add separating lines again
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5038: Add notes on integrator process
  documentation/general/github_zenhub.md
Due: lint_md

Implementing requested changes
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5038: Add points for integrator review process aimed at PR authors
  documentation/general/github_zenhub.md
Due: lint_md

PartTask4717: Demonstrate behavior for series with NaNs
  core/statistics.py
  core/test/TestComputeSpecialValueStats.test1/output/test.txt
  core/test/TestComputeSpecialValueStats.test2/output/test.txt
  core/test/TestComputeZeroDiffProportion.test1/output/test.txt
  core/test/TestComputeZeroDiffProportion.test2/output/test.txt
  core/test/TestComputeZeroDiffProportion.test3/output/test.txt
  core/test/TestComputeZeroDiffProportion.test6/output/test.txt
  core/test/TestComputeZeroDiffProportion.test8/output/test.txt
  core/test/test_statistics.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Change nan_mode to drop
  core/statistics.py
  core/test/TestComputeSpecialValueStats.test1/output/test.txt
  core/test/TestComputeSpecialValueStats.test2/output/test.txt
  core/test/TestComputeZeroDiffProportion.test1/output/test.txt
  core/test/TestComputeZeroDiffProportion.test2/output/test.txt
  core/test/TestComputeZeroDiffProportion.test3/output/test.txt
  core/test/TestComputeZeroDiffProportion.test6/output/test.txt
  core/test/TestComputeZeroDiffProportion.test8/output/test.txt
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Improve docstring and testing
  core/statistics.py
  core/test/TestComputeZeroDiffProportion.test9/output/test.txt
  core/test/test_statistics.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Implement requested changes
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5105: Add function to calculate VWAP
  core/finance.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5105: Allow time bar resampling to work with only price or volume. Calculate TWAP together with VWAP.
  core/finance.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5105: Update returns calculation. NaNs propagate using this calculation.
  core/finance.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5105: Add VWAP/TWAP node.
  core/dataflow/nodes.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5105: Lint
  core/dataflow/nodes.py
  core/finance.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Add a README for the caching layer
  helpers/cache/README.md
Due: lint_md

PartTask4840: Rename function, add error catching
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Add more tests, add ffill to docstring
  core/statistics.py
  core/test/TestComputeZeroDiffProportion.test10/output/test.txt
  core/test/TestComputeZeroDiffProportion.test11/output/test.txt
  core/test/TestComputeZeroDiffProportion.test12/output/test.txt
  core/test/test_statistics.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4717: Make "leave_unchanged" the default nan_mode
  core/statistics.py
  core/test/TestComputeSpecialValueStats.test1/output/test.txt
  core/test/TestComputeSpecialValueStats.test2/output/test.txt
  core/test/TestComputeZeroDiffProportion.test1/output/test.txt
  core/test/TestComputeZeroDiffProportion.test2/output/test.txt
  core/test/TestComputeZeroDiffProportion.test3/output/test.txt
  core/test/TestComputeZeroDiffProportion.test6/output/test.txt
  core/test/TestComputeZeroDiffProportion.test8/output/test.txt
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5105: Update docstring
  core/dataflow/nodes.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5105: Improve comments
  core/finance.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask4855: add asserts
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask803: fix ins sample in _run_model helper
  core/dataframe_modeler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Removing str
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5112: Add second dimension in transform_from_sklearn
  core/data_adapters.py
  core/dataflow/test/TestContinuousSkLearnModel.test_fit_dag3/output/test.txt
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Suggested a plugin for enghish check supported by PyCharm
  documentation/general/general.md
Due: lint_md

PartTask4855: add assertion on type and oos_start division
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5123: update dataframe modeler with visual stationarity test
  core/dataframe_modeler.py
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Add mypy ignore rule
  mypy.ini
Due: none

Filing new issue additional notes
  documentation/general/github_zenhub.md
Due: lint_md

PartTask4307: Change ignore dir
  dev_scripts/create_class_diagram.sh
Due: none

Minor changes + reformatting
  documentation/general/github_zenhub.md
Due: lint_md

fixed indentation and spelling
  documentation/general/github_zenhub.md
Due: lint_md

fixed indentation
  documentation/general/github_zenhub.md
Due: lint_md

PartTask4855: add negative lag and correct plot labels
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Improve scripts
  dev_scripts/jackmd
  dev_scripts/jacktxt
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  doc_formatter: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  processjupytext: any of: \.py$
  lint_md: any of: \.(md|markdown|mdown)$
  fix_comments: any of: \.py$
  method_order: any of: \.py$
  check_fillename: any of: \.py$
  check_import: any of: \.py$
  format_separating_line: any of: \.py$
  warn_incorrectly_formatted_todo: any of: \.py$
  check_shebang: any of: \.py$
