Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  doc_formatter: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  processjupytext: any of: \.py$
  lint_md: any of: \.(md|markdown|mdown)$
  method_order: any of: \.py$
  check_filename: any of: \.py$
  clean_import: any of: \.py$
  format_separating_line: any of: \.py$
  warn_incorrectly_formatted_todo: any of: \.py$

Checkpoint
  helpers/unit_test.py
  lib_tasks.py
  test/test_lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  dev_scripts/notebooks/test/test_notebook.sh
  dev_scripts/notebooks/test/test_run_notebook.ipynb
  dev_scripts/notebooks/test/test_run_notebook.py
  helpers/unit_test.py
  lib_tasks.py
  test/test_lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/env.py
  helpers/git.py
  helpers/system_interaction.py
  helpers/unit_test.py
  lib_tasks.py
  test/test_lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Lint
  containers.md
  dev_scripts/notebooks/test/test_run_notebook.ipynb
  dev_scripts/notebooks/test/test_run_notebook.py
  dev_scripts/setenv_amp.sh
  devops/makefiles/general.mk
  devops/makefiles/repo_specific.mk
  helpers/git.py
  helpers/system_interaction.py
  helpers/test/test_version.py
  helpers/unit_test.py
  helpers/version.py
  instrument_master/tasks.py
  lib_tasks.py
  test/test_lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  order_management_system/api.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Propagate changes to all test targetss
  lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Lint
  containers.md
  dev_scripts/test/test_run_notebook.py
  lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  dev_scripts/notebooks/test/test_run_notebook.ipynb
  dev_scripts/notebooks/test/test_run_notebook.py
  dev_scripts/test/test_run_notebook.py
  helpers/git.py
  helpers/system_interaction.py
  helpers/unit_test.py
  helpers/version.py
  instrument_master/tasks.py
  lib_tasks.py
  tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  instrument_master/ib/connect/README.md
  instrument_master/ib/connect/devops/docker_build/Dockerfile
  instrument_master/ib/connect/devops/makefiles/docker.mk
Due: lint_md

Build TWS image
  instrument_master/ib/connect/README.md
  instrument_master/ib/connect/devops/docker_build/dev.Dockerfile
  instrument_master/ib/connect/invoke.yaml
  instrument_master/ib/connect/tasks.py
  instrument_master/ib/connect/version.txt
  lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  instrument_master/ib/connect/README.md
  instrument_master/ib/connect/devops/makefiles/docker.mk
  instrument_master/ib/connect/devops/makefiles/local_stage.mk
  instrument_master/ib/connect/tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/build_helpers_package.sh
  helpers/version.py
  instrument_master/ib/connect/devops/docker_build/dev.Dockerfile
  instrument_master/ib/connect/tasks.py
  instrument_master/ib/connect/tmp.sh
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

TWS container works with all the hacks
  instrument_master/ib/connect/devops/compose/docker-compose.local.yml
  instrument_master/ib/connect/devops/docker_build/dev.Dockerfile
  instrument_master/ib/connect/devops/docker_build/entrypoints/entrypoint.sh
  instrument_master/ib/connect/devops/docker_scripts/make_ib_controller_init_file.py
  instrument_master/ib/connect/devops/docker_scripts/make_jts_init_file.py
  instrument_master/ib/connect/devops/env/local.env
  instrument_master/ib/connect/tasks.py
  instrument_master/ib/connect/tmp.sh
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Add an invoke target
  instrument_master/ib/connect/devops/docker_build/entrypoints/entrypoint.sh
  instrument_master/ib/connect/tasks.py
  lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  instrument_master/ib/connect/test/test_tasks.py
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Add ib_insync to amp
  devops/docker_build/poetry.lock
  devops/docker_build/pyproject.toml
  lib_tasks.py
  version.txt
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/dbg.py
  instrument_master/ib/connect/README.md
  instrument_master/ib/connect/devops/compose/docker-compose.local.yml
  instrument_master/ib/connect/devops/docker_build/entrypoints/entrypoint.sh
  instrument_master/ib/connect/tasks.py
  instrument_master/ib/connect/test/test_im_tasks.py
  instrument_master/ib/connect/test/test_tasks.py
  instrument_master/ib/connect/vnc/xvfb_init
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  instrument_master/README.md
  instrument_master/devops/compose/docker-compose.dev.yml
  instrument_master/devops/compose/docker-compose.local.yml
  instrument_master/devops/compose/docker-compose.multistage.yml
  instrument_master/devops/compose/docker-compose.test.yml
  instrument_master/devops/compose/docker-compose.yml
  instrument_master/devops/create-multiple-postgresql-databases.sh
  instrument_master/devops/docker_build/dev.Dockerfile
  instrument_master/devops/docker_build/entrypoints/entrypoint_app_only.sh
  instrument_master/devops/docker_build/entrypoints/entrypoint_deploy.sh
  instrument_master/devops/docker_build/entrypoints/entrypoint_worker.sh
  instrument_master/devops/env/local/general.env
  instrument_master/devops/env/local/im_postgres_config.env
  instrument_master/ib/connect/devops/sanity_check_ib.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  devops/compose/docker-compose-user-space-git-subrepo.yml
  devops/compose/docker-compose-user-space.yml
  devops/compose/docker-compose.yml
  devops/compose/docker-compose_as_submodule.yml
  instrument_master/devops/compose/docker-compose_as_supermodule.yml
  instrument_master/tasks.py
  lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/git.py
  helpers/system_interaction.py
  helpers/unit_test.py
  instrument_master/devops/compose/docker-compose.yml
  instrument_master/tasks.py
  lib_tasks.py
  test/test_lib_tasks.py
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint and improve unit tests
  helpers/git.py
  helpers/test/test_git.py
  test/test_lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  lib_tasks.py
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  conftest.py
  helpers/unit_test.py
  lib_tasks.py
  pytest.ini
  test/TestDryRunTasks1.test_docker_images_ls_repo/output/test.txt
  test/TestDryRunTasks1.test_docker_kill_all/output/test.txt
  test/TestDryRunTasks1.test_docker_kill_last/output/test.txt
  test/TestDryRunTasks1.test_docker_ps/output/test.txt
  test/TestDryRunTasks1.test_docker_stats/output/test.txt
  test/TestDryRunTasks1.test_git_clean/output/test.txt
  test/TestDryRunTasks1.test_git_pull/output/test.txt
  test/TestDryRunTasks1.test_git_pull_master/output/test.txt
  test/TestDryRunTasks1.test_print_setup/output/test.txt
  test/test_lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  devops/compose/docker-compose_jupyter.yml
  helpers/dbg.py
  helpers/unit_test.py
  lib_tasks.py
  test/TestDryRunTasks1.test_docker_images_ls_repo/output/test.txt
  test/TestDryRunTasks1.test_docker_kill_all/output/test.txt
  test/TestDryRunTasks1.test_docker_kill_last/output/test.txt
  test/TestDryRunTasks1.test_docker_ps/output/test.txt
  test/TestDryRunTasks1.test_docker_stats/output/test.txt
  test/TestDryRunTasks1.test_git_clean/output/test.txt
  test/TestDryRunTasks1.test_git_pull/output/test.txt
  test/TestDryRunTasks1.test_git_pull_master/output/test.txt
  test/TestDryRunTasks1.test_print_setup/output/test.txt
  test/test_lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  lib_tasks.py
  test/test_lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  test/test_lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  helpers/git.py
  helpers/unit_test.py
  test/test_lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  devops/compose/docker-compose.yml
  devops/compose/docker-compose_as_submodule.yml
  devops/compose/docker-compose_as_supermodule.yml
  devops/compose/docker-compose_jupyter.yml
  helpers/git.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  devops/compose/docker-compose.yml
  devops/compose/docker-compose_as_supermodule.yml
  devops/compose/docker-compose_jupyter.yml
  devops/env/default.env
  lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  dev_scripts/tmux_amp.sh
  lib_tasks.py
  test/test_lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  conftest.py
  devops/compose/docker-compose.yml
  devops/compose/docker-compose_as_submodule.yml
  helpers/build_helpers_package.sh
  helpers/dbg.py
  helpers/git.py
  helpers/system_interaction.py
  helpers/unit_test.py
  instrument_master/README.md
  instrument_master/devops/docker_build/dev.Dockerfile
  instrument_master/tasks.py
  lib_tasks.py
  pytest.ini
  test/test_lib_tasks.py
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Checkpoint
  devops/docker_build/poetry.lock
  devops/docker_build/pyproject.toml
  helpers/build_helpers_package.sh
  helpers/dbg.py
  helpers/version.py
  instrument_master/ib/connect/test/test_im_tasks.py
  instrument_master/ib/connect/tmp.sh
  test/test_lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Lint
  helpers/dbg.py
  helpers/version.py
  instrument_master/ib/connect/README.md
  instrument_master/ib/connect/devops/compose/docker-compose.local.yml
  instrument_master/ib/connect/tasks.py
  instrument_master/ib/connect/test/test_im_tasks.py
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Fix typo
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Fix break
  lib_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Move lib_tasks into helpers
  helpers/lib_tasks.py
  helpers/test/test_lib_tasks.py
  setup.py
  tasks.py
  test/test_tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Improve versioning
  dev_scripts/path
  helpers/__init__.py
  helpers/dbg.py
  helpers/lib_tasks.py
  helpers/test/test_versioning.py
  helpers/versioning.py
  setup.py
  tasks.py
Due: isort, black, flake8, doc_formatter, pylint, mypy, processjupytext, method_order, check_filename, clean_import, format_separating_line, warn_incorrectly_formatted_todo

Improve versioning
  .dockerignore
  .pre-commit-config.yaml
  devops/debug/compare.sh
  mypy.ini
  version.txt
Due: none
