Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

black:
  name: black
  entry: p1_black.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

flake8:
  name: flake8
  entry: p1_flake8.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

doc_formatter:
  name: doc_formatter
  entry: p1_doc_formatter.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib
  - docformatter

pylint:
  name: pylint
  entry: p1_pylint.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

mypy:
  name: mypy
  entry: p1_mypy.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

processjupytext:
  name: processjupytext
  entry: p1_processjupytext.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

lint_md:
  name: lint_md
  entry: p1_lint_md.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

fix_comments:
  name: fix_comments
  entry: p1_fix_comments.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib
  - more_itertools

method_order:
  name: method_order
  entry: p1_class_method_order.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

check_fillename:
  name: check_filename
  entry: p1_check_filename.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

check_import:
  name: check_import
  entry: p1_check_import.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

format_separating_line:
  name: format_separating_line
  entry: p1_format_separating_line.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

warn_incorrectly_formatted_todo:
  name: warn_incorrectly_formatted_todo
  entry: p1_warn_incorrectly_formatted_todo.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

check_shebang:
  name: check_shebang
  entry: p1_check_shebang.py
  language: python
  additional_dependencies:
  - pandas
  - matplotlib

PartTask7905: Restrict VolatilityModel internal DAG to single column
  core/dataflow/models.py
  core/dataflow/test/TestVolatilityModel.test_fit_int_columns/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_multiple_columns/output/test.txt
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1103: updated code after real data uploading
  vendors_amp/common/data/types.py
  vendors_amp/ib/data/config.py
  vendors_amp/ib/data/load/file_path_generator.py
  vendors_amp/ib/data/load/s3_data_loader.py
  vendors_amp/ib/data/load/test/TestIbFilePathGenerator.test_generate_file_path1/output/test.txt
  vendors_amp/ib/data/load/test/TestIbFilePathGenerator.test_generate_file_path2/output/test.txt
  vendors_amp/ib/data/load/test/TestIbFilePathGenerator.test_generate_file_path3/output/test.txt
  vendors_amp/ib/data/load/test/TestS3IbDataLoader1.test_read_data1/output/test.txt
  vendors_amp/ib/data/load/test/TestS3IbDataLoader1.test_read_data2/output/test.txt
  vendors_amp/ib/data/load/test/TestS3IbDataLoader1.test_read_data3/output/test.txt
  vendors_amp/ib/data/load/test/test_s3_data_loader.py
  vendors_amp/ib/extract/download_data_ib_loop.py
  vendors_amp/ib/extract/download_ib_data.py
  vendors_amp/ib/extract/utils.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1103: alphabetical
  vendors_amp/common/data/types.py
  vendors_amp/ib/data/load/file_path_generator.py
  vendors_amp/ib/data/load/test/test_s3_data_loader.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Fix build break: self_tests passing
  devops/docker_build/entrypoint.sh
  devops/makefiles/general.mk
  helpers/unit_test.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Move docker files in the new format
  vendors_amp/Makefile
  vendors_amp/devops/compose/docker-compose.local.yml
  vendors_amp/devops/compose/docker-compose.test.yml
  vendors_amp/devops/compose/docker-compose.yml
  vendors_amp/devops/compose/env/local.env
  vendors_amp/devops/compose/env/test.env
  vendors_amp/devops/docker_build/Dockerfile
  vendors_amp/devops/docker_build/entrypoints/entrypoint_deploy_postgres.sh
  vendors_amp/devops/docker_build/init_sql/0-types.sql
  vendors_amp/devops/docker_build/init_sql/1-static.sql
  vendors_amp/devops/docker_build/init_sql/2-db.sql
  vendors_amp/devops/docker_build/init_sql/db.sql
  vendors_amp/devops/docker_scripts/run_fast_tests.sh
  vendors_amp/devops/docker_scripts/run_slow_tests.sh
  vendors_amp/devops/docker_scripts/run_superslow_tests.sh
Due: none

Move to prime time
  devops/makefiles/repo_specific.mk
Due: none

Checkpoint
  Makefile
  vendors_amp/Makefile
  vendors_amp/devops/makefiles/project_specific.mk
Due: none

Checkpoint
  vendors_amp/devops/docker_build/Dockerfile
  vendors_amp/devops/env/local.env
  vendors_amp/devops/env/test.env
  vendors_amp/devops/makefiles/project_specific.mk
Due: none

Checkpoint
  Makefile
  vendors_amp/.dockerignore
  vendors_amp/common/test/utils.py
  vendors_amp/devops/compose/docker-compose.local.yml
  vendors_amp/devops/compose/docker-compose.test.yml
  vendors_amp/devops/compose/docker-compose.yml
  vendors_amp/devops/docker_build/entrypoints/entrypoint_deploy_postgres.sh
  vendors_amp/devops/docker_scripts/run_fast_tests.sh
  vendors_amp/devops/makefiles/project_specific.mk
  vendors_amp/kibot/data/load/test/test_sql_data_loader.py
  vendors_amp/kibot/test/test_sql_writer_backend.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint
  vendors_amp/devops/compose/docker-compose.test.yml
Due: none

Remove pyc files
  vendors_amp/ib/metadata/ib_metadata_crawler/spiders/__pycache__/__init__.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/spiders/__pycache__/ibroker.cpython-37.pyc
Due: none

Reorg
  vendors_amp/ib/metadata/extract/README.md
  vendors_amp/ib/metadata/extract/README2.md
  vendors_amp/ib/metadata/extract/devops/Dockerfile
  vendors_amp/ib/metadata/extract/devops/Makefile
  vendors_amp/ib/metadata/extract/notebooks/Master_analyze_ib_metadata_crawler.ipynb
  vendors_amp/ib/metadata/extract/notebooks/Master_analyze_ib_metadata_crawler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Reorg
  vendors_amp/ib/metadata/extract/README2.md
  vendors_amp/ib/metadata/extract/devops/requirements.txt
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/__init__.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/items.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/middlewares.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/pipelines.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/settings.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/spiders/__init__.py
  vendors_amp/ib/metadata/extract/ib_metadata_crawler/spiders/ibroker.py
  vendors_amp/ib/metadata/extract/scrapy.cfg
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Reorg files like the rest of the projects
  vendors_amp/ib/metadata/extract/Makefile
  vendors_amp/ib/metadata/extract/devops/Dockerfile
  vendors_amp/ib/metadata/extract/devops/makefiles/general.mk
  vendors_amp/ib/metadata/extract/devops/makefiles/targets.mk
Due: none

Update notebook
  vendors_amp/ib/metadata/extract/devops/makefiles/targets.mk
  vendors_amp/ib/metadata/extract/notebooks/Master_analyze_ib_metadata_crawler.ipynb
  vendors_amp/ib/metadata/extract/notebooks/Master_analyze_ib_metadata_crawler.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1143: make kibot tests working, reshuffle sql files
  vendors_amp/common/db/init/sql/kibot.sql
  vendors_amp/common/db/init/sql/static.sql
  vendors_amp/common/db/init/sql/types.sql
  vendors_amp/common/test/utils.py
  vendors_amp/devops/compose/docker-compose.local.yml
  vendors_amp/devops/compose/docker-compose.test.yml
  vendors_amp/devops/docker_build/entrypoints/entrypoint_deploy_postgres.sh
  vendors_amp/devops/env/local.env
  vendors_amp/devops/env/test.env
  vendors_amp/devops/makefiles/project_specific.mk
  vendors_amp/kibot/data/load/test/test_sql_data_loader.py
  vendors_amp/kibot/test/test_sql_writer_backend.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1143: spelling
  vendors_amp/devops/env/local.env
Due: none

AmpTask1143: init postgresql by script
  helpers/sql.py
  vendors_amp/common/db/__init__.py
  vendors_amp/common/db/init.py
  vendors_amp/common/db/sql/kibot.sql
  vendors_amp/common/db/sql/static.sql
  vendors_amp/common/db/sql/types.sql
  vendors_amp/common/test/utils.py
  vendors_amp/devops/compose/docker-compose.local.yml
  vendors_amp/devops/compose/docker-compose.test.yml
  vendors_amp/devops/docker_build/Dockerfile
  vendors_amp/devops/docker_build/dev.Dockerfile
  vendors_amp/devops/docker_build/entrypoints/entrypoint_deploy_postgres.sh
  vendors_amp/devops/docker_scripts/init_im_db.py
  vendors_amp/devops/docker_scripts/run_fast_tests.sh
  vendors_amp/devops/makefiles/project_specific.mk
  vendors_amp/devops/requirements.txt
  vendors_amp/ib/compose/init_sql/db.sql
  vendors_amp/kibot/data/load/test/test_sql_data_loader.py
  vendors_amp/kibot/test/test_sql_writer_backend.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1143: cosmetic
  vendors_amp/devops/compose/docker-compose.local.yml
  vendors_amp/devops/compose/docker-compose.test.yml
  vendors_amp/devops/docker_build/entrypoints/entrypoint_deploy_postgres.sh
  vendors_amp/devops/docker_scripts/run_fast_tests.sh
  vendors_amp/devops/docker_scripts/run_slow_tests.sh
  vendors_amp/devops/docker_scripts/run_superslow_tests.sh
  vendors_amp/devops/makefiles/project_specific.mk
Due: none

AmpTask1143: applied linter
  helpers/sql.py
  vendors_amp/common/db/init.py
  vendors_amp/devops/docker_scripts/init_im_db.py
  vendors_amp/kibot/data/load/test/test_sql_data_loader.py
  vendors_amp/kibot/test/test_sql_writer_backend.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1143: keep table well-aligned
  helpers/sql.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

DevToolsTask168: revert back pre-commit stuff
  pre-commit.sh
Due: none

Small fixes
  helpers/io_.py
  helpers/printing.py
  vendors_amp/Makefile
  vendors_amp/devops/compose/docker-compose.yml
  vendors_amp/devops/docker_build/entrypoints/entrypoint_deploy_postgres.sh
  vendors_amp/devops/makefiles/project_specific.mk
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Revert small changes
  helpers/io_.py
  helpers/printing.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1143: rename to im
  vendors_amp/app/transform/convert_s3_to_sql.py
  vendors_amp/common/db/init.py
  vendors_amp/common/db/test/__init__.py
  vendors_amp/common/db/test/test_init.py
  vendors_amp/devops/compose/docker-compose.local.yml
  vendors_amp/devops/compose/docker-compose.test.yml
  vendors_amp/devops/docker_build/init_sql/1-static.sql
  vendors_amp/devops/docker_build/init_sql/2-db.sql
  vendors_amp/devops/env/local.env
  vendors_amp/devops/env/test.env
  vendors_amp/devops/makefiles/project_specific.mk
  vendors_amp/kibot/README.md
  vendors_amp/kibot/data/load/test/test_sql_data_loader.py
  vendors_amp/kibot/data/transform/convert_s3_to_sql_kibot.py
  vendors_amp/kibot/test/test_sql_writer_backend.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint
  devops/makefiles/general.mk
  devops/makefiles/repo_specific.mk
Due: none

AmpTask1143: update makefile to new namings, lint
  vendors_amp/app/transform/convert_s3_to_sql.py
  vendors_amp/common/db/init.py
  vendors_amp/common/db/test/test_init.py
  vendors_amp/devops/makefiles/project_specific.mk
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1143: correct names in makefile, added entrypoint for no-postgresql container
  vendors_amp/devops/docker_build/entrypoints/entrypoint_app_only.sh
  vendors_amp/devops/makefiles/project_specific.mk
Due: none

AmpTask1143: Updating doc
  vendors_amp/kibot/README.md
Due: lint_md

AmpTask1143: Updating doc
  vendors_amp/README.md
Due: lint_md

AmpTask1145: unify ib and kibot in IM
  vendors_amp/common/db/init.py
  vendors_amp/common/db/sql/ib.sql
  vendors_amp/common/db/sql/test.sql
  vendors_amp/devops/docker_build/dev.Dockerfile
  vendors_amp/devops/docker_build/entrypoints/entrypoint_app_only.sh
  vendors_amp/devops/docker_build/entrypoints/entrypoint_deploy_postgres.sh
  vendors_amp/ib/sql_writer_backend.py
  vendors_amp/kibot/data/load/sql_data_loader.py
  vendors_amp/kibot/instrument_master_architecture.md
  vendors_amp/kibot/sql_writer_backend.py
  vendors_amp/kibot/test/test_sql_writer_backend.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1145: moved IM architecture doc to root dir
  vendors_amp/instrument_master_architecture.md
  vendors_amp/plantuml-images/instrument_master_architecture.1.png
  vendors_amp/plantuml-images/instrument_master_architecture.2.png
  vendors_amp/plantuml-images/instrument_master_architecture.3.png
Due: lint_md

AmpTask1143: init postgresql by script
  vendors_amp/common/db/__init__.py
  vendors_amp/common/db/init.py
  vendors_amp/common/db/sql/kibot.sql
  vendors_amp/common/db/sql/static.sql
  vendors_amp/common/db/sql/types.sql
  vendors_amp/common/test/utils.py
  vendors_amp/devops/compose/docker-compose.local.yml
  vendors_amp/devops/compose/docker-compose.test.yml
  vendors_amp/devops/docker_build/Dockerfile
  vendors_amp/devops/docker_build/dev.Dockerfile
  vendors_amp/devops/docker_build/entrypoints/entrypoint_deploy_postgres.sh
  vendors_amp/devops/docker_scripts/init_im_db.py
  vendors_amp/devops/docker_scripts/run_fast_tests.sh
  vendors_amp/devops/makefiles/project_specific.mk
  vendors_amp/devops/requirements.txt
  vendors_amp/ib/compose/init_sql/db.sql
  vendors_amp/kibot/data/load/test/test_sql_data_loader.py
  vendors_amp/kibot/test/test_sql_writer_backend.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1143: applied linter
  vendors_amp/common/db/init.py
  vendors_amp/devops/docker_scripts/init_im_db.py
  vendors_amp/kibot/data/load/test/test_sql_data_loader.py
  vendors_amp/kibot/test/test_sql_writer_backend.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  doc_formatter: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  processjupytext: any of: \.py$
  lint_md: any of: \.(md|markdown|mdown)$
  fix_comments: any of: \.py$
  method_order: any of: \.py$
  check_fillename: any of: \.py$
  check_import: any of: \.py$
  format_separating_line: any of: \.py$
  warn_incorrectly_formatted_todo: any of: \.py$
  check_shebang: any of: \.py$
