Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

.pre-commit-config.yaml:

default_stages: ["commit"]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: no-commit-to-branch
        args: ["--pattern", '^(?!(Part|Amp|Infra)Task\d+_\S+).*$']
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ["--maxkb=500"]
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.13.1
    hooks:
      - id: gitlint
        stages: [commit-msg]
        entry: gitlint
        # B6 Body message is missing.
        args: [--contrib=CT1, --ignore=B6, --msg-filename]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-crlf
      - id: remove-tabs
        args: ["--whitespaces-count", "4"]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.3.2
    hooks:
      - id: isort
        entry: isort
  - repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.3
    hooks:
      - id: autoflake
        args: [-i, --remove-all-unused-imports, --remove-unused-variables]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: p1_black.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: flake8
        name: flake8
        entry: p1_flake8.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: doc_formatter
        name: doc_formatter
        entry: p1_doc_formatter.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "docformatter"]
      - id: pylint
        name: pylint
        entry: p1_pylint.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: mypy
        name: mypy
        entry: p1_mypy.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: processjupytext
        name: processjupytext
        entry: p1_processjupytext.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: lint_md
        name: lint_md
        entry: p1_lint_md.py
        language: python
        types: [markdown]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: fix_comments
        name: fix_comments
        entry: p1_fix_comments.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "more_itertools"]
      - id: method_order
        name: method_order
        entry: p1_class_method_order.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_fillename
        name: check_filename
        entry: p1_check_filename.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_import
        name: check_import
        entry: p1_check_import.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: format_separating_line
        name: format_separating_line
        entry: p1_format_separating_line.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: warn_incorrectly_formatted_todo
        name: warn_incorrectly_formatted_todo
        entry: p1_warn_incorrectly_formatted_todo.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_shebang
        name: check_shebang
        entry: p1_check_shebang.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]

PartTask6437: Remove method now added by mixin.
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Revert "PartTask6353: Stop shifting test col"
  core/dataflow/test/TestVolatilityModulator.test_col_mode1/output/test.txt
  core/dataflow/test/TestVolatilityModulator.test_col_mode2/output/test.txt
  core/dataflow/test/TestVolatilityModulator.test_demodulate1/output/test.txt
  core/dataflow/test/TestVolatilityModulator.test_modulate1/output/test.txt
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask6353: Change shift sign in test
  core/dataflow/test/TestVolatilityModulator.test_col_mode1/output/test.txt
  core/dataflow/test/TestVolatilityModulator.test_col_mode2/output/test.txt
  core/dataflow/test/TestVolatilityModulator.test_demodulate1/output/test.txt
  core/dataflow/test/TestVolatilityModulator.test_modulate1/output/test.txt
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5959: Add a warning
  dev_scripts/notebooks/run_notebook.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask6163: change fit to predict in connector
  core/dataflow/nodes.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask6447: Update workflows, fix for PartTask6425
  .github/workflows/fast_tests.yml
  .github/workflows/linter.yml
  .github/workflows/slow_tests.yml
Due: none

Workflow fix
  .github/workflows/fast_tests.yml
  .github/workflows/slow_tests.yml
Due: none

PartTask6353: Update for VolatilityModulator changes
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask6447: update pre-commit.sh
  pre-commit.sh
Due: none

PartTask6447: update pre-commit.sh, linter
  .github/workflows/fast_tests.yml
  .github/workflows/slow_tests.yml
  Makefile
  pre-commit.sh
Due: none

PartTask6447: update linter workflow
  .github/workflows/linter.yml
Due: none

PartTask6447: update workflow, and pre-commit.sh
  .github/workflows/linter.yml
  pre-commit.sh
Due: none

PartTask6447: PR notes
  .github/workflows/fast_tests.yml
  .github/workflows/slow_tests.yml
Due: none

PartTask6525: fix notification message
  .github/workflows/fast_tests.yml
  .github/workflows/slow_tests.yml
Due: none

PartTask6353: Take p-th root from self._vol_col
  core/dataflow/models.py
  core/dataflow/test/TestVolatilityModel.test_col_mode2/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_dag_correctness1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_predict_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_predict_dag_correctness1/output/test.txt
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask6163: rename nan mode and add test
  core/dataflow/models.py
  core/dataflow/test/TestContinuousSarimaxModel.test_fit_no_x1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_no_x1/output/test.txt
  core/dataflow/test/TestContinuousSarimaxModel.test_predict_with_nan/output/test.txt
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5987: Add node that returns cumulative return for max step
  core/dataflow/models.py
  core/dataflow/test/TestMultihorizonReturnsPredictionProcessor.test1/output/test.txt
  core/dataflow/test/TestMultihorizonReturnsPredictionProcessor.test_invert_zret_0_zscoring1/output/test.txt
  core/dataflow/test/TestMultihorizonReturnsPredictionProcessor.test_invert_zret_3_zscoring1/output/test.txt
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5987: Accumulate rets and preds for each step, not just for max
  core/dataflow/models.py
  core/dataflow/test/TestMultihorizonReturnsPredictionProcessor.test1/output/test.txt
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5987: Add docstrings
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Update conventions for commented out code.
  documentation/general/code_style.md
Due: lint_md

Align python code.
  documentation/general/code_style.md
Due: lint_md

PartTask5987: Fix typo in test column name
  core/dataflow/test/TestMultihorizonReturnsPredictionProcessor.test_invert_zret_3_zscoring1/output/test.txt
  core/dataflow/test/test_models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask6041: Add code to perform the precision / recall analysis
  dev_scripts/install/install_jupyter_extensions.sh
  dev_scripts/linter.py
  helpers/csv.py
  vendors2/kibot/data/extract/download.py
  vendors2/kibot/instrument_master_architecture.md
  vendors2/kibot/kibot.md
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5254: display tau and min_periods on rolling correlation plot
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5253: add entire y-axis limits on rolling correlation plot
  core/dataframe_modeler.py
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5052: Add log scale option to barplot function
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5052: clearer yscale definition
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5253: change possible values of ylim to consistent ones
  core/dataframe_modeler.py
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5052: None instead of default value for yscale
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5253: None instead value by default for ylim
  core/plotting.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask6601: Include part of command output in error message
  helpers/system_interaction.py
  helpers/test/Test_system1.test7/output/test.txt
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask6597: Compute path relative to the repo root
  dev_scripts/test/test_run_notebook.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask6597: Remove amp from config builder path
  dev_scripts/test/test_run_notebook.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask6586: Add info to MultihorizonReturnsPredictionProcessor
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask6586: Add info for VolatilityModulator
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask5960: Add an option to update .ipynb from .py before execution
  helpers/unit_test.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask6623: Convert static method to class method.
  vendors2/kibot/data/load/data_loader.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Add docker for ticker data, add converter draft
  helpers/s3.py
  vendors2/docker/Dockerfile
  vendors2/docker/db.sql
  vendors2/kibot/data/load/data_loader.py
  vendors2/kibot/data/transform/convert_csv_to_sql.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Fix lint issues
  vendors2/kibot/data/transform/convert_csv_to_sql.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang
