Repository ajmal017/amp: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

.pre-commit-config.yaml:

default_stages: ["commit"]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: no-commit-to-branch
        args: ["--pattern", '^(?!(Part|Amp|Infra)Task\d+_\S+).*$']
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ["--maxkb=500"]
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.13.1
    hooks:
      - id: gitlint
        stages: [commit-msg]
        entry: gitlint
        # B6 Body message is missing.
        args: [--contrib=CT1, --ignore=B6, --msg-filename]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.7
    hooks:
      - id: remove-crlf
      - id: remove-tabs
        args: ["--whitespaces-count", "4"]
  - repo: https://github.com/timothycrosley/isort
    rev: 5.3.2
    hooks:
      - id: isort
        entry: isort
  - repo: https://github.com/humitos/mirrors-autoflake
    rev: v1.3
    hooks:
      - id: autoflake
        args: [-i, --remove-all-unused-imports, --remove-unused-variables]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: p1_black.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: flake8
        name: flake8
        entry: p1_flake8.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: doc_formatter
        name: doc_formatter
        entry: p1_doc_formatter.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "docformatter"]
      - id: pylint
        name: pylint
        entry: p1_pylint.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: mypy
        name: mypy
        entry: p1_mypy.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: processjupytext
        name: processjupytext
        entry: p1_processjupytext.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: lint_md
        name: lint_md
        entry: p1_lint_md.py
        language: python
        types: [markdown]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: fix_comments
        name: fix_comments
        entry: p1_fix_comments.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib", "more_itertools"]
      - id: method_order
        name: method_order
        entry: p1_class_method_order.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_fillename
        name: check_filename
        entry: p1_check_filename.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_import
        name: check_import
        entry: p1_check_import.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: format_separating_line
        name: format_separating_line
        entry: p1_format_separating_line.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: warn_incorrectly_formatted_todo
        name: warn_incorrectly_formatted_todo
        entry: p1_warn_incorrectly_formatted_todo.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]
      - id: check_shebang
        name: check_shebang
        entry: p1_check_shebang.py
        language: python
        types: [python]
        additional_dependencies: ["pandas", "matplotlib"]

Removed pycache
  vendors_amp/ib/metadata/ib_metadata_crawler/__pycache__/__init__.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/__pycache__/items.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/__pycache__/middlewares.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/__pycache__/pipelines.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/__pycache__/settings.cpython-37.pyc
Due: none

Improve readme
  vendors_amp/ib/metadata/README.md
Due: lint_md

Lint
  vendors_amp/ib/metadata/.dockerignore
  vendors_amp/ib/metadata/Dockerfile
  vendors_amp/ib/metadata/README.md
Due: lint_md

Checkpoint
  devops/compose/docker-compose-jupyter.yml
  devops/compose/docker-compose-user-space-git-subrepo.yml
  devops/docker_build/conda.yml
  devops/makefiles/general.mk
  devops/makefiles/repo_specific.mk
  documentation/technical/package_dependencies.md
  vendors_amp/app/services/loader_factory.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, lint_md, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Disable test and bug fix
  documentation/scripts/test/test_all.py
  pytest.ini
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint; self_tests passing
  devops/compose/docker-compose-user-space-git-subrepo.yml
  devops/compose/docker-compose-user-space.yml
  devops/compose/docker-compose.yml
  devops/docker_build/dev.Dockerfile
  devops/makefiles/repo_specific.mk
  helpers/telegram_notify/telegram_notify.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Added url for symbol
  vendors_amp/ib/metadata/ib_metadata_crawler/items.py
  vendors_amp/ib/metadata/ib_metadata_crawler/pipelines.py
  vendors_amp/ib/metadata/ib_metadata_crawler/spiders/ibroker.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Lint
  vendors_amp/ib/metadata/ib_metadata_crawler/__pycache__/__init__.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/__pycache__/items.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/__pycache__/middlewares.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/__pycache__/pipelines.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/__pycache__/settings.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/pipelines.py
  vendors_amp/ib/metadata/ib_metadata_crawler/spiders/__pycache__/__init__.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/spiders/__pycache__/ibroker.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/spiders/ibroker.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

removed __pycache__
  vendors_amp/ib/metadata/ib_metadata_crawler/__pycache__/__init__.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/__pycache__/items.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/__pycache__/middlewares.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/__pycache__/pipelines.cpython-37.pyc
  vendors_amp/ib/metadata/ib_metadata_crawler/__pycache__/settings.cpython-37.pyc
Due: none

AmpTask1103: Last updates from server
  vendors_amp/ib/extract/gallery/perfomance.py
  vendors_amp/ib/extract/utils.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Fix for AmpTask1129
  devops/makefiles/general.mk
Due: none

Checkpoint: self_tests passing
  devops/makefiles/general.mk
  devops/makefiles/repo_specific.mk
Due: none

PartTask7824: Update default param, improve readability, and update test outcomes.
  core/dataflow/models.py
  core/dataflow/test/TestSmaModel.test_fit_dag1/output/test.txt
  core/dataflow/test/TestSmaModel.test_fit_dag2/output/test.txt
  core/dataflow/test/TestSmaModel.test_fit_dag3/output/test.txt
  core/dataflow/test/TestSmaModel.test_predict_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_col_mode1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_col_mode2/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_dag_correctness1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_int_columns/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_multiple_columns/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_predict_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_predict_dag_correctness1/output/test.txt
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7824: update test outcome
  core/dataflow/test/TestVolatilityModel.test_get_fit_state/output/test.txt
Due: none

Checkpoint
  dev_scripts/diff_to_vimdiff.py
  devops/compose/docker-compose-jupyter.yml
  devops/compose/docker-compose-user-space-git-subrepo.yml
  devops/compose/docker-compose.yml
  devops/debug/compare.sh
  devops/docker_build/conda.yml
  devops/docker_build/dev.Dockerfile
  devops/docker_build/init.sh
  devops/docker_build/init/download_nltk_dicts.sh
  devops/docker_build/init/download_spacy_dicts.sh
  devops/docker_build/init/download_textblob_dicts.sh
  devops/makefiles/general.mk
  devops/makefiles/repo_specific.mk
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Reindex df_out to recover freq. Add None option for x_vars in modeling to behave more like ColumnTransformer.
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7877: Fix VolatilityModel cols typing
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7878: Make ColumnTransformer learn col names on fit if None
  core/dataflow/nodes.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1103: PR depts
  vendors_amp/ib/extract/gallery/perfomance.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask1103: added forgotten file, alpha order
  vendors_amp/ib/extract/download_benchmark.py
  vendors_amp/ib/extract/utils.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint; self_tests passing
  dev_scripts/test/test_run_notebook.py
  dev_scripts/tg.py
  devops/compose/docker-compose-jupyter.yml
  devops/debug/compare.sh
  devops/docker_build/dev.Dockerfile
  devops/docker_build/entrypoint.sh
  devops/docker_build/init/install_jupyter_extensions.sh
  devops/docker_scripts/run_fast_tests.sh
  devops/docker_scripts/run_jupyter_server.sh
  devops/docker_scripts/run_slow_tests.sh
  devops/docker_scripts/run_superslow_tests.sh
  documentation/scripts/test/test_all.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask968: add --incremental mode for convert_s3_to_sql_kibot.py
  vendors_amp/common/data/transform/transform.py
  vendors_amp/kibot/data/transform/convert_s3_to_sql_kibot.py
  vendors_amp/kibot/sql_writer_backend.py
  vendors_amp/kibot/test/TestSqlWriterBackend1.test_get_remains_data_to_load/output/test.txt
  vendors_amp/kibot/test/TestSqlWriterBackend1.test_insert_bulk_daily_data_with_holes/output/test.txt
  vendors_amp/kibot/test/TestSqlWriterBackend1.test_insert_bulk_minute_data_with_holes/output/test.txt
  vendors_amp/kibot/test/test_sql_writer_backend.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint; self_tests passing
  Makefile
  dev_scripts/diff_to_vimdiff.py
  dev_scripts/test/test_run_notebook.py
  devops/compose/docker-compose-jupyter.yml
  devops/debug/compare.sh
  devops/makefiles/general.mk
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask968: add delete_data_by_trade_symbol_id for non incremental mode fix nit's by Artem's comments
  vendors_amp/common/data/transform/transform.py
  vendors_amp/kibot/sql_writer_backend.py
  vendors_amp/kibot/test/test_sql_writer_backend.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint; self_tests passing
  devops/debug/compare.sh
  devops/docker_build/entrypoint.sh
  devops/makefiles/general.mk
  devops/makefiles/repo_specific.mk
  pre-commit.sh
Due: none

Checkpoint; self_tests passing
  dev_scripts/old/create_conda/_bootstrap.py
  dev_scripts/old/create_conda/_setenv_amp.py
  dev_scripts/old/create_conda/_setenv_lib.py
  dev_scripts/old/create_conda/install/check_develop_packages.py
  dev_scripts/old/create_conda/install/conda_envs/amp_develop.paul.Darwin.Pauls-MBP.txt
  dev_scripts/old/create_conda/install/conda_envs/amp_develop.saggese.Darwin.gpmac.lan.txt
  dev_scripts/old/create_conda/install/conda_envs/amp_develop.saggese.Linux.ip-172-31-16-23.txt
  dev_scripts/old/create_conda/install/conda_envs/develop.gp.Linux.twitter-data.txt
  dev_scripts/old/create_conda/install/conda_envs/develop.paul.Darwin.Pauls-MBP.txt
  dev_scripts/old/create_conda/install/conda_envs/develop.saggese.Linux.ip-172-31-24-5.txt
  dev_scripts/old/create_conda/install/conda_envs/p1_develop.asya.Darwin.MacBook-Pro-Asa.local.txt
  dev_scripts/old/create_conda/install/conda_envs/p1_develop.daniil.Linux.daniil.txt
  dev_scripts/old/create_conda/install/conda_envs/p1_develop.greg.Linux.computer.txt
  dev_scripts/old/create_conda/install/conda_envs/p1_develop.greg.Linux.ip-172-31-16-23.txt
  dev_scripts/old/create_conda/install/conda_envs/p1_develop.julia.Linux.ip-172-31-16-23.txt
  dev_scripts/old/create_conda/install/conda_envs/p1_develop.julia.Linux.vostro.txt
  dev_scripts/old/create_conda/install/conda_envs/p1_develop.paul.Darwin.Pauls-MBP.txt
  dev_scripts/old/create_conda/install/conda_envs/p1_develop.paul.Linux.ip-172-31-16-23.txt
  dev_scripts/old/create_conda/install/conda_envs/p1_develop.saggese.Darwin.giacintos-mbp.lan.txt
  dev_scripts/old/create_conda/install/conda_envs/p1_develop.saggese.Linux.ip-172-31-16-23.txt
  dev_scripts/old/create_conda/install/conda_envs/pymc.saggese.Darwin.gpmac.lan.txt
  dev_scripts/old/create_conda/install/conda_envs/pymc3.saggese.Darwin.gpmac.lan.txt
  dev_scripts/old/create_conda/install/create_conda.amp_develop.sh
  dev_scripts/old/create_conda/install/create_conda.py
  dev_scripts/old/create_conda/install/install_jupyter_extensions.sh
  dev_scripts/old/create_conda/install/print_conda_packages.py
  dev_scripts/old/create_conda/install/requirements/pymc.txt
  dev_scripts/old/create_conda/install/requirements/sage.txt
  dev_scripts/old/create_conda/install/show_jupyter_extensions.sh
  dev_scripts/old/create_conda/install/test_bootstrap.sh
  dev_scripts/old/linter/linter.py
  dev_scripts/old/linter/linter_master_report.py
  dev_scripts/old/linter/pre_pr_checklist.py
  dev_scripts/old/linter/process_jupytext.py
  dev_scripts/test/test_amp_dev_scripts.py
  pytest.ini
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint; self_tests passing
  dev_scripts/old/create_conda/setenv_amp.jenkins.sh
  dev_scripts/old/create_conda/setenv_amp.sh
  dev_scripts/old/create_conda/test/test_amp_dev_scripts.py
  dev_scripts/setenv_amp.sh
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint; self_tests passing
  devops/docker_build/dev.Dockerfile
  devops/makefiles/general.mk
  devops/makefiles/repo_specific.mk
Due: none

Checkpoint; self_tests passing
  .github/workflows/ib_connector.build_image.yml
  devops/debug/compare.sh
Due: none

PartTask7895: Improve checks and behavior of col_mode.
  core/dataflow/models.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

PartTask7895: Update outcomes.
  core/dataflow/test/TestVolatilityModel.test_col_mode1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_dag_correctness1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_int_columns/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_fit_multiple_columns/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_predict_dag1/output/test.txt
  core/dataflow/test/TestVolatilityModel.test_predict_dag_correctness1/output/test.txt
Due: none

PartTask7896: Add additional ColTransformer check and improve ensure cols are converted to list before checking for dups.
  core/dataflow/models.py
  core/dataflow/nodes.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

AmpTask968: linter
  vendors_amp/common/data/transform/transform.py
  vendors_amp/kibot/data/transform/convert_s3_to_sql_kibot.py
  vendors_amp/kibot/sql_writer_backend.py
  vendors_amp/kibot/test/test_sql_writer_backend.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint; self_tests passing
  .github/workflows/build_image.yml
  dev_scripts/email_notify.py
  devops/debug/compare.sh
  devops/docker_build/dev.Dockerfile
  devops/docker_scripts/run_fast_tests.sh
  devops/docker_scripts/run_slow_tests.sh
  devops/docker_scripts/run_superslow_tests.sh
  devops/makefiles/general.mk
  devops/makefiles/repo_specific.mk
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Fix break
  devops/debug/compare.sh
  helpers/test/test_helpers.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Fix break
  devops/makefiles/general.mk
  helpers/test/test_helpers.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Fix break
  devops/compose/docker-compose-user-space.yml
  devops/debug/compare.sh
  devops/docker_build/dev.Dockerfile
  devops/docker_build/gh_action_entrypoint.sh
  helpers/git.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint
  dev_scripts/old/linter/test/Test_linter_py1.test_linter1/output/test.txt
  dev_scripts/old/linter/test/Test_linter_py1.test_linter2/output/test.txt
  dev_scripts/old/linter/test/Test_linter_py1.test_linter_md1/output/test.txt
  dev_scripts/old/linter/test/Test_process_jupytext.test1_end_to_end/input/test_notebook.ipynb
  dev_scripts/old/linter/test/Test_process_jupytext.test1_end_to_end/input/test_notebook.py
  dev_scripts/old/linter/test/Test_process_jupytext.test1_end_to_end/output/test.txt
  dev_scripts/old/linter/test/Test_set_env1.test_setenv_py2/output/test.txt
  dev_scripts/old/linter/test/Test_set_env_amp.test_setenv_py2/output/test.txt
  pytest.ini
  vendors2/kibot_original/test/PartTask269_liquidity_analysis_utils_v2.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang

Checkpoint
  devops/makefiles/general.mk
Due: none

AmpTask968: linter 2
  vendors_amp/common/data/transform/transform.py
  vendors_amp/kibot/data/transform/convert_s3_to_sql_kibot.py
  vendors_amp/kibot/sql_writer_backend.py
  vendors_amp/kibot/test/test_sql_writer_backend.py
Due: black, flake8, doc_formatter, pylint, mypy, processjupytext, fix_comments, method_order, check_fillename, check_import, format_separating_line, warn_incorrectly_formatted_todo, check_shebang
